<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.AdminMapper">
    <select id="findAdmin" parameterType="map" resultType="AdminEntity">
		SELECT a.* FROM admin a 
		WHERE a.`adminname` = #{adminname} AND a.`adminpwd` = #{adminpwd}
	</select>
	<select id="findAdminByName" parameterType="map" resultType="AdminEntity">
		SELECT a.* FROM admin a 
		WHERE a.`adminname` = #{adminname}
	</select>
</mapper>