<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wls.manage.dao.ResponseMapper">

	<insert id="insertResponse" parameterType="ResponseEntity"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `response` (
		`responserid`,
		`responseid`,
		`flag`,
		`content`,
		`responsetime`
		)
		VALUES
		(
		#{responserid},
		#{responseid},
		#{flag},
		#{content},
		now()
		);

	</insert>

	<delete id="deleteByID">
		delete from response where id =
		#{ID}
	</delete>

	<select id="findresponsesByResponserId" parameterType="map"
		resultType="ResponseEntity">
		SELECT *
		FROM `response` WHERE `responserid` =
		#{responserID}
		order by `responsetime` desc
	</select>
	
	<select id="findresponsesByResponseId" parameterType="map"
		resultType="ResponseEntity">
		SELECT *
		FROM `response` WHERE `responseid` =
		#{responseID} 
		order by `responsetime` desc
	</select>
    <select id="findAllResponse" parameterType="int" resultType="ResponseEntity">
         SELECT * FROM `response`
		 <where> 
		    <if test="keyword != null">
		        AND content like "%"#{keyword}"%"
		    </if>
		 </where>
         order by `responsetime` desc
    </select>
</mapper>