<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shfb.rfid.manage.dao.CityMapper">

    <select id="findCitysByProvinceId" parameterType="map" resultType="com.shfb.rfid.manage.entity.CityInfo">
        SELECT *
        FROM `city_info` WHERE `ci_province` = #{provinceID}
    </select>
    
    <select id="findCityById" parameterType="map" resultType="com.shfb.rfid.manage.entity.CityInfo">
        SELECT *
        FROM `city_info` WHERE `ci_id` = #{CityID}
    </select>
    
     <select id="findProvinceById" parameterType="map" resultType="ProvinceInfo">
        SELECT *
        FROM `province_info` WHERE `pr_id` = #{provinceID}
    </select>
    
     <select id="findCityList" parameterType="map" resultType="CityInfo">
        SELECT *
        FROM `city_info` 
    </select>
    
      <select id="findProvinceByName" parameterType="map" resultType="ProvinceInfo">
        SELECT *
        FROM `province_info` WHERE `pr_province` like "%"#{provinceName}"%"
    </select>

    <select id="findCityByNameAndProvinceId" parameterType="map" resultType="com.shfb.rfid.manage.entity.CityInfo">
        SELECT *
        FROM `city_info` 
        <where> 
		 <if test="provinceID != -1">
			     ci_province=#{provinceID}
		 </if>
		  AND `ci_city` like "%"#{cityName}"%"
		 </where>
    </select>
    
</mapper>