<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.ComponentOrderMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.ComponentOrder" >
    <id column="order_id" property="order_id" jdbcType="INTEGER" />
    <result column="order_num" property="order_num" jdbcType="VARCHAR" />
    <result column="pro_id" property="pro_id" jdbcType="INTEGER" />
    <result column="single_name" property="single_name" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="VARCHAR" />
    <result column="plan_begin_date" property="plan_begin_date" jdbcType="VARCHAR" />
    <result column="plan_end_date" property="plan_end_date" jdbcType="VARCHAR" />
    <result column="real_begin_date" property="real_begin_date" jdbcType="VARCHAR" />
    <result column="real_end_date" property="real_end_date" jdbcType="VARCHAR" />
    <result column="order_time" property="order_time" jdbcType="VARCHAR" />
    <result column="order_username" property="order_username" jdbcType="VARCHAR" />  
    <result column="comp_factory_id" property="comp_factory_id" jdbcType="INTEGER" />  
  </resultMap>
  <resultMap id="componentOrderDto" type="com.shfb.rfid.manage.dto.ComponentOrderDto" >
    <id column="order_id" property="order_id" jdbcType="INTEGER" />
    <result column="order_num" property="order_num" jdbcType="VARCHAR" />
    <result column="pro_id" property="pro_id" jdbcType="INTEGER" />
    <result column="single_name" property="single_name" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="VARCHAR" />
    <result column="plan_begin_date" property="plan_begin_date" jdbcType="VARCHAR" />
    <result column="plan_end_date" property="plan_end_date" jdbcType="VARCHAR" />
    <result column="real_begin_date" property="real_begin_date" jdbcType="VARCHAR" />
    <result column="real_end_date" property="real_end_date" jdbcType="VARCHAR" />
    <result column="order_time" property="order_time" jdbcType="VARCHAR" />
    <result column="order_username" property="order_username" jdbcType="VARCHAR" />
    <result column="pro_name" property="pro_name" jdbcType="VARCHAR" /> 
    <result column="comp_factory_id" property="comp_factory_id" jdbcType="INTEGER" />  
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_num, pro_id, single_name, floor, plan_begin_date,plan_end_date, 
    real_begin_date, real_end_date, order_time, order_username, comp_factory_id
  </sql>
  <select id="findComponentOrderPage"  resultMap="componentOrderDto" >
  		select
  	o.order_id, o.order_num, o.pro_id, o.single_name, o.floor, o.plan_begin_date,o.plan_end_date, 
    o.real_begin_date, o.real_end_date, o.order_time, o.order_username, p.pro_name from component_order AS o
	LEFT JOIN project AS p ON o.pro_id=p.pro_id 
	where 1=1
	<if test="pro_id != null">
  	and o.pro_id=#{pro_id}
  	</if> 
  	<if test="single_name != null">
  	and o.single_name=#{single_name}
  	</if>
  	<if test="floor != null">
  	and o.floor=#{floor}
  	</if>
  	 <if test="userProjectID != null">
	AND o.pro_id=#{userProjectID}
    </if> 
     <if test="userCompFactoryID != null">
	AND o.comp_factory_id=#{userCompFactoryID}
    </if> 
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.ComponentOrder" >
    update component_order
    <set >
      <if test="plan_begin_date != null" >
        plan_begin_date = #{plan_begin_date,jdbcType=VARCHAR},
      </if>
      <if test="plan_end_date != null" >
        plan_end_date = #{plan_end_date,jdbcType=VARCHAR},
      </if>
      <if test="real_begin_date != null" >
        real_begin_date = #{real_begin_date,jdbcType=VARCHAR},
      </if>
      <if test="real_end_date != null" >
        real_end_date = #{real_end_date,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{order_id,jdbcType=INTEGER}
  </update> 
  
  <select id="selectByPrimaryKey" resultMap="componentOrderDto" parameterType="java.lang.Integer" >
    select
  	o.order_id, o.order_num, o.pro_id, o.single_name, o.floor, o.plan_begin_date,o.plan_end_date, 
    o.real_begin_date, o.real_end_date, o.order_time, o.order_username, p.pro_name from component_order AS o
	LEFT JOIN project AS p ON o.pro_id=p.pro_id 
	where 1=1 and
	order_id = #{order_id,jdbcType=INTEGER}
  </select>
  
   <insert id="insertSelective" parameterType="String" >
    insert into component_order (order_num, pro_id, single_name,
    	floor,plan_begin_date,real_begin_date,order_time,order_username,comp_factory_id
      )
    values (#{order_num,jdbcType=VARCHAR}, 
    		#{pro_id,jdbcType=INTEGER}, 
      		#{single_name,jdbcType=VARCHAR}, 
      		#{floor,jdbcType=VARCHAR}, 
      		CURDATE(), 
     		CURDATE(),
     		NOW(),
      		#{order_username,jdbcType=VARCHAR},
      		#{comp_factory_id}
      )
  </insert>
  
  <select id="exportComponentOrders" parameterType="String" resultType="com.shfb.rfid.manage.dto.ComponentOrderDto">
  	select
  	o.order_id, o.order_num, o.pro_id, o.single_name, o.floor, o.plan_begin_date,o.plan_end_date, 
    o.real_begin_date, o.real_end_date, o.order_time, o.order_username, p.pro_name from component_order AS o
	LEFT JOIN project AS p ON o.pro_id=p.pro_id
	 WHERE order_id in 
  	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
		 	#{item}
	</foreach>
  </select>
  
  <select id="findComponentOrders" resultType="com.shfb.rfid.manage.entity.ComponentOrder" >
  	select order_num from component_order
  	 where 1=1
  	 <if test="userCompFactoryID != null" >
  	  and comp_factory_id = #{userCompFactoryID,jdbcType=INTEGER}
  	  </if>
  </select>
  
  
</mapper>