<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.CompFactoryMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.CompFactory" >
    <id column="comp_factory_id" property="comp_factory_id" jdbcType="INTEGER" />
    <result column="comp_factory_name" property="comp_factory_name" jdbcType="VARCHAR" />
    <result column="contacts_name" property="contacts_name" jdbcType="VARCHAR" />
    <result column="contacts_tel" property="contacts_tel" jdbcType="VARCHAR" />
    <result column="contacts_phone" property="contacts_phone" jdbcType="VARCHAR" />
    <result column="pr_id" property="pr_id" jdbcType="INTEGER" />
    <result column="ci_id" property="ci_id" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    comp_factory_id, comp_factory_name, contacts_name, contacts_tel, contacts_phone, 
    pr_id, ci_id, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comp_factory
    where comp_factory_id = #{comp_factory_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comp_factory
    where comp_factory_id = #{comp_factory_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.CompFactory" >
    insert into comp_factory (comp_factory_name, 
      contacts_name, contacts_tel, contacts_phone, 
      pr_id, ci_id, address
      )
    values (#{comp_factory_name,jdbcType=VARCHAR}, 
      #{contacts_name,jdbcType=VARCHAR}, #{contacts_tel,jdbcType=VARCHAR}, #{contacts_phone,jdbcType=VARCHAR}, 
      #{pr_id,jdbcType=INTEGER}, #{ci_id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.CompFactory" >
    insert into comp_factory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="comp_factory_id != null" >
        comp_factory_id,
      </if>
      <if test="comp_factory_name != null" >
        comp_factory_name,
      </if>
      <if test="contacts_name != null" >
        contacts_name,
      </if>
      <if test="contacts_tel != null" >
        contacts_tel,
      </if>
      <if test="contacts_phone != null" >
        contacts_phone,
      </if>
      <if test="pr_id != null" >
        pr_id,
      </if>
      <if test="ci_id != null" >
        ci_id,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="comp_factory_id != null" >
        #{comp_factory_id,jdbcType=INTEGER},
      </if>
      <if test="comp_factory_name != null" >
        #{comp_factory_name,jdbcType=VARCHAR},
      </if>
      <if test="contacts_name != null" >
        #{contacts_name,jdbcType=VARCHAR},
      </if>
      <if test="contacts_tel != null" >
        #{contacts_tel,jdbcType=VARCHAR},
      </if>
      <if test="contacts_phone != null" >
        #{contacts_phone,jdbcType=VARCHAR},
      </if>
      <if test="pr_id != null" >
        #{pr_id,jdbcType=INTEGER},
      </if>
      <if test="ci_id != null" >
        #{ci_id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.CompFactory" >
    update comp_factory
    <set >
      <if test="comp_factory_name != null" >
        comp_factory_name = #{comp_factory_name,jdbcType=VARCHAR},
      </if>
      <if test="contacts_name != null" >
        contacts_name = #{contacts_name,jdbcType=VARCHAR},
      </if>
      <if test="contacts_tel != null" >
        contacts_tel = #{contacts_tel,jdbcType=VARCHAR},
      </if>
      <if test="contacts_phone != null" >
        contacts_phone = #{contacts_phone,jdbcType=VARCHAR},
      </if>
      <if test="pr_id != null" >
        pr_id = #{pr_id,jdbcType=INTEGER},
      </if>
      <if test="ci_id != null" >
        ci_id = #{ci_id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where comp_factory_id = #{comp_factory_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.CompFactory" >
    update comp_factory
    set comp_factory_name = #{comp_factory_name,jdbcType=VARCHAR},
      contacts_name = #{contacts_name,jdbcType=VARCHAR},
      contacts_tel = #{contacts_tel,jdbcType=VARCHAR},
      contacts_phone = #{contacts_phone,jdbcType=VARCHAR},
      pr_id = #{pr_id,jdbcType=INTEGER},
      ci_id = #{ci_id,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR}
    where comp_factory_id = #{comp_factory_id,jdbcType=INTEGER}
  </update>
  <select id="findAllCompFactory" parameterType="int" resultType="com.shfb.rfid.manage.entity.CompFactory">
		SELECT * FROM `comp_factory`
		<where>
			<if test="pr_id != null">
				pr_id=#{pr_id}
			</if>
			<if test="userCompFactoryID != null">
				AND comp_factory_id=#{userCompFactoryID}
			</if>
			<if test="keyword != null">
				AND comp_factory_name like "%"#{keyword}"%"
			</if>
		</where>
		order by `comp_factory_id` asc
	</select>
	
	<select id="findCompFactorys" resultType="com.shfb.rfid.manage.entity.CompFactory">
		select
		<include refid="Base_Column_List" />
    	from comp_factory 
	</select>
</mapper>