<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.ComponentMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.Component" >
    <id column="component_id" property="component_id" jdbcType="INTEGER" />
    <result column="component_name" property="component_name" jdbcType="VARCHAR" />
    <result column="component_num" property="component_num" jdbcType="VARCHAR" />
    <result column="component_type" property="component_type" jdbcType="VARCHAR" />
    <result column="component_size" property="component_size" jdbcType="VARCHAR" />
    <result column="bind_status" property="bind_status" jdbcType="INTEGER" />
    <result column="expedit_status" property="expedit_status" jdbcType="INTEGER" />
    <result column="expedit_date" property="expedit_date" jdbcType="VARCHAR" />
    <result column="component_status_id" property="component_status_id" jdbcType="INTEGER" />
    <result column="check_res" property="check_res" jdbcType="INTEGER" />
    <result column="single_name" property="single_name" jdbcType="VARCHAR" />
    <result column="pro_id" property="pro_id" jdbcType="INTEGER" />
    <result column="floor" property="floor" jdbcType="VARCHAR" />
    <result column="plan_begin_date" property="plan_begin_date" jdbcType="VARCHAR" />
    <result column="plan_end_date" property="plan_end_date" jdbcType="VARCHAR" />
    <result column="real_begin_date" property="real_begin_date" jdbcType="VARCHAR" />
    <result column="real_end_date" property="real_end_date" jdbcType="VARCHAR" />
    <result column="order_num" property="order_num" jdbcType="VARCHAR" />
    <result column="comp_factory_id" property="comp_factory_id" jdbcType="INTEGER" />
    <result column="order_user_id" property="order_user_id" jdbcType="INTEGER" />
    <result column="order_time" property="order_time" jdbcType="TIMESTAMP" />
    <result column="product_plan_begin_date" property="product_plan_begin_date" jdbcType="VARCHAR" />
    <result column="product_plan_end_date" property="product_plan_end_date" jdbcType="VARCHAR" />
    <result column="drawing" property="drawing" jdbcType="VARCHAR" />
    <result column="picture_comp_make" property="picture_comp_make" jdbcType="VARCHAR" />
    <result column="picture_product_accept" property="picture_product_accept" jdbcType="VARCHAR" />
    <result column="picture_receipt" property="picture_receipt" jdbcType="VARCHAR" />
    <result column="picture_install" property="picture_install" jdbcType="VARCHAR" />
    <result column="order_date" property="order_date" jdbcType="VARCHAR" />  
    <result column="product_explain" property="product_explain" jdbcType="VARCHAR" /> 
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="concrete_strength" property="concrete_strength" jdbcType="VARCHAR" />
    <result column="importDate" property="importDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    component_id, component_name, component_num, component_type, component_size, bind_status, 
    expedit_status, expedit_date, component_status_id, check_res, single_name, pro_id, 
    floor, plan_begin_date, plan_end_date, real_begin_date, real_end_date, order_num, 
    comp_factory_id, order_user_id, order_time, product_plan_begin_date, product_plan_end_date, drawing,weight, concrete_strength
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from component
    where component_id = #{component_id,jdbcType=INTEGER}
  </select>
  <select id="selectByCom" resultMap="BaseResultMap" parameterType="com.shfb.rfid.manage.entity.Component" >
    select 
    <include refid="Base_Column_List" />
    from component
    where 1=1 
    <if test="component_id != null">
    	and component_id = #{component_id,jdbcType=INTEGER}
    </if>
     <if test="component_num != null">
    	and component_num = #{component_num,jdbcType=INTEGER}
    </if>
     <if test="card_num != null">
    	and card_num = #{card_num,jdbcType=INTEGER}
    </if>
    
  </select>
  <select id="findComponentByProID" resultType="com.shfb.rfid.manage.entity.Component" parameterType="java.lang.Integer" >
    select *
    from component
     WHERE 1=1
    <if test="pro_id != null">
    AND pro_id=#{pro_id}
    </if>
    AND (card_num IS NULL or card_num =  '')
    LIMIT 0,200
  </select>
  
  <select id="getComponentInfo" resultType="com.shfb.rfid.manage.dto.ComponentDto" parameterType="String" >
		SELECT c.component_id, c.component_num,c.component_type,c.component_size,c.single_name,c.floor, c.plan_end_date, p.pro_name,
			c.concrete_strength, c.weight,f.comp_factory_name,f.contacts_name, f.contacts_tel,c.drawing
 			from component AS c 
			LEFT JOIN project AS p ON c.pro_id = p.pro_id 
			LEFT JOIN comp_factory AS f ON c.comp_factory_id=f.comp_factory_id
		WHERE c.component_num=#{component_num}
  </select>
  
  
  <select id="findComponentByOrderNum" resultType="java.lang.Integer" parameterType="String" >
    select component_id
    from component
    where order_num=#{order_num}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from component
    where component_id = #{component_id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByProId" parameterType="java.lang.Integer" >
  delete FROM component WHERE pro_id=#{pro_id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.Component" >
    insert into component (component_id, component_name, component_num, 
      component_type, component_size, bind_status, 
      expedit_status, expedit_date, component_status_id, 
      check_res, single_name, pro_id, 
      floor, plan_begin_date, plan_end_date, 
      real_begin_date, real_end_date, order_num, 
      comp_factory_id, order_user_id, order_time, 
      product_plan_begin_date, product_plan_end_date, 
      drawing)
    values (#{component_id,jdbcType=INTEGER}, #{component_name,jdbcType=VARCHAR}, #{component_num,jdbcType=VARCHAR}, 
      #{component_type,jdbcType=VARCHAR}, #{component_size,jdbcType=VARCHAR}, #{bind_status,jdbcType=INTEGER}, 
      #{expedit_status,jdbcType=INTEGER}, #{expedit_date,jdbcType=DATE}, #{component_status_id,jdbcType=INTEGER}, 
      #{check_res,jdbcType=INTEGER}, #{single_name,jdbcType=VARCHAR}, #{pro_id,jdbcType=INTEGER}, 
      #{floor,jdbcType=VARCHAR}, #{plan_begin_date,jdbcType=DATE}, #{plan_end_date,jdbcType=DATE}, 
      #{real_begin_date,jdbcType=DATE}, #{real_end_date,jdbcType=DATE}, #{order_num,jdbcType=VARCHAR}, 
      #{comp_factory_id,jdbcType=INTEGER}, #{order_user_id,jdbcType=INTEGER}, #{order_time,jdbcType=TIMESTAMP}, 
      #{product_plan_begin_date,jdbcType=DATE}, #{product_plan_end_date,jdbcType=DATE}, 
      #{drawing,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.Component" >
    insert into component
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="component_id != null" >
        component_id,
      </if>
      <if test="component_name != null" >
        component_name,
      </if>
      <if test="component_num != null" >
        component_num,
      </if>
      <if test="component_type != null" >
        component_type,
      </if>
      <if test="component_size != null" >
        component_size,
      </if>
      <if test="bind_status != null" >
        bind_status,
      </if>
      <if test="expedit_status != null" >
        expedit_status,
      </if>
      <if test="expedit_date != null" >
        expedit_date,
      </if>
      <if test="component_status_id != null" >
        component_status_id,
      </if>
      <if test="check_res != null" >
        check_res,
      </if>
      <if test="single_name != null" >
        single_name,
      </if>
      <if test="pro_id != null" >
        pro_id,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="plan_begin_date != null" >
        plan_begin_date,
      </if>
      <if test="plan_end_date != null" >
        plan_end_date,
      </if>
      <if test="real_begin_date != null" >
        real_begin_date,
      </if>
      <if test="real_end_date != null" >
        real_end_date,
      </if>
      <if test="order_num != null" >
        order_num,
      </if>
      <if test="comp_factory_id != null" >
        comp_factory_id,
      </if>
      <if test="order_user_id != null" >
        order_user_id,
      </if>
      <if test="order_time != null" >
        order_time,
      </if>
      <if test="product_plan_begin_date != null" >
        product_plan_begin_date,
      </if>
      <if test="product_plan_end_date != null" >
        product_plan_end_date,
      </if>
      <if test="drawing != null" >
        drawing,
      </if>
      <if test="concrete_strength != null" >
        concrete_strength,
      </if>
      <if test="weight != null" >
        weight,
      </if>  
      <if test="importDate != null" >
        importDate,
      </if>   
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="component_id != null" >
        #{component_id,jdbcType=INTEGER},
      </if>
      <if test="component_name != null" >
        #{component_name,jdbcType=VARCHAR},
      </if>
      <if test="component_num != null" >
        #{component_num,jdbcType=VARCHAR},
      </if>
      <if test="component_type != null" >
        #{component_type,jdbcType=VARCHAR},
      </if>
      <if test="component_size != null" >
        #{component_size,jdbcType=VARCHAR},
      </if>
      <if test="bind_status != null" >
        #{bind_status,jdbcType=INTEGER},
      </if>
      <if test="expedit_status != null" >
        #{expedit_status,jdbcType=INTEGER},
      </if>
      <if test="expedit_date != null" >
        #{expedit_date,jdbcType=DATE},
      </if>
      <if test="component_status_id != null" >
        #{component_status_id,jdbcType=INTEGER},
      </if>
      <if test="check_res != null" >
        #{check_res,jdbcType=INTEGER},
      </if>
      <if test="single_name != null" >
        #{single_name,jdbcType=VARCHAR},
      </if>
      <if test="pro_id != null" >
        #{pro_id,jdbcType=INTEGER},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="plan_begin_date != null" >
        #{plan_begin_date,jdbcType=DATE},
      </if>
      <if test="plan_end_date != null" >
        #{plan_end_date,jdbcType=DATE},
      </if>
      <if test="real_begin_date != null" >
        #{real_begin_date,jdbcType=DATE},
      </if>
      <if test="real_end_date != null" >
        #{real_end_date,jdbcType=DATE},
      </if>
      <if test="order_num != null" >
        #{order_num,jdbcType=VARCHAR},
      </if>
      <if test="comp_factory_id != null" >
        #{comp_factory_id,jdbcType=INTEGER},
      </if>
      <if test="order_user_id != null" >
        #{order_user_id,jdbcType=INTEGER},
      </if>
      <if test="order_time != null" >
        #{order_time,jdbcType=TIMESTAMP},
      </if>
      <if test="product_plan_begin_date != null" >
        #{product_plan_begin_date,jdbcType=DATE},
      </if>
      <if test="product_plan_end_date != null" >
        #{product_plan_end_date,jdbcType=DATE},
      </if>
      <if test="drawing != null" >
        #{drawing,jdbcType=VARCHAR},
      </if>
      <if test="concrete_strength != null" >
        #{concrete_strength,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="importDate != null" >
        #{importDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.Component" >
    update component
    <set >
      <if test="component_name != null" >
        component_name = #{component_name,jdbcType=VARCHAR},
      </if>
      <if test="component_num != null" >
        component_num = #{component_num,jdbcType=VARCHAR},
      </if>
      <if test="component_type != null" >
        component_type = #{component_type,jdbcType=VARCHAR},
      </if>
      <if test="component_size != null" >
        component_size = #{component_size,jdbcType=VARCHAR},
      </if>
      <if test="bind_status != null" >
        bind_status = #{bind_status,jdbcType=INTEGER},
      </if>
      <if test="expedit_status != null" >
        expedit_status = #{expedit_status,jdbcType=INTEGER},
      </if>
      <if test="expedit_date != null" >
        expedit_date = #{expedit_date,jdbcType=DATE},
      </if>
      <if test="component_status_id != null" >
        component_status_id = #{component_status_id,jdbcType=INTEGER},
      </if>
      <if test="check_res != null" >
        check_res = #{check_res,jdbcType=INTEGER},
      </if>
      <if test="single_name != null" >
        single_name = #{single_name,jdbcType=VARCHAR},
      </if>
      <if test="pro_id != null" >
        pro_id = #{pro_id,jdbcType=INTEGER},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="plan_begin_date != null" >
        plan_begin_date = #{plan_begin_date,jdbcType=DATE},
      </if>
      <if test="plan_end_date != null" >
        plan_end_date = #{plan_end_date,jdbcType=DATE},
      </if>
      <if test="real_begin_date != null" >
        real_begin_date = #{real_begin_date,jdbcType=DATE},
      </if>
      <if test="real_end_date != null" >
        real_end_date = #{real_end_date,jdbcType=DATE},
      </if>
      <if test="order_num != null" >
        order_num = #{order_num,jdbcType=VARCHAR},
      </if>
      <if test="comp_factory_id != null" >
        comp_factory_id = #{comp_factory_id,jdbcType=INTEGER},
      </if>
      <if test="order_user_id != null" >
        order_user_id = #{order_user_id,jdbcType=INTEGER},
      </if>
      <if test="order_time != null" >
        order_time = #{order_time,jdbcType=TIMESTAMP},
      </if>
      <if test="product_plan_begin_date != null" >
        product_plan_begin_date = #{product_plan_begin_date,jdbcType=DATE},
      </if>
      <if test="product_plan_end_date != null" >
        product_plan_end_date = #{product_plan_end_date,jdbcType=DATE},
      </if>
      <if test="drawing != null" >
        drawing = #{drawing,jdbcType=VARCHAR},
      </if>
      <if test="card_num != null" >
        card_num = #{card_num,jdbcType=VARCHAR},
      </if>
      <if test="picture_comp_make != null" >
        picture_comp_make = #{picture_comp_make,jdbcType=VARCHAR},
      </if>
      <if test="picture_product_accept != null" >
        picture_product_accept = #{picture_product_accept,jdbcType=VARCHAR},
      </if>
      <if test="picture_receipt != null" >
        picture_receipt = #{picture_receipt,jdbcType=VARCHAR},
      </if>
      <if test="picture_install != null" >
        picture_install = #{picture_install,jdbcType=VARCHAR},
      </if>
    </set>
    where component_id = #{component_id,jdbcType=INTEGER}
  </update>
  
  
  <update id="updateByComponentNum" parameterType="com.shfb.rfid.manage.entity.Component" >
    update component
    <set >
      <if test="component_name != null" >
        component_name = #{component_name,jdbcType=VARCHAR},
      </if>
      <if test="component_num != null" >
        component_num = #{component_num,jdbcType=VARCHAR},
      </if>
      <if test="component_type != null" >
        component_type = #{component_type,jdbcType=VARCHAR},
      </if>
      <if test="component_size != null" >
        component_size = #{component_size,jdbcType=VARCHAR},
      </if>
      <if test="bind_status != null" >
        bind_status = #{bind_status,jdbcType=INTEGER},
      </if>
      <if test="expedit_status != null" >
        expedit_status = #{expedit_status,jdbcType=INTEGER},
      </if>
      <if test="expedit_date != null" >
        expedit_date = #{expedit_date,jdbcType=DATE},
      </if>
      <if test="component_status_id != null" >
        component_status_id = #{component_status_id,jdbcType=INTEGER},
      </if>
      <if test="check_res != null" >
        check_res = #{check_res,jdbcType=INTEGER},
      </if>
      <if test="single_name != null" >
        single_name = #{single_name,jdbcType=VARCHAR},
      </if>
      <if test="pro_id != null" >
        pro_id = #{pro_id,jdbcType=INTEGER},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="plan_begin_date != null" >
        plan_begin_date = #{plan_begin_date,jdbcType=DATE},
      </if>
      <if test="plan_end_date != null" >
        plan_end_date = #{plan_end_date,jdbcType=DATE},
      </if>
      <if test="real_begin_date != null" >
        real_begin_date = #{real_begin_date,jdbcType=DATE},
      </if>
      <if test="real_end_date != null" >
        real_end_date = #{real_end_date,jdbcType=DATE},
      </if>
      <if test="order_num != null" >
        order_num = #{order_num,jdbcType=VARCHAR},
      </if>
      <if test="comp_factory_id != null" >
        comp_factory_id = #{comp_factory_id,jdbcType=INTEGER},
      </if>
      <if test="order_user_id != null" >
        order_user_id = #{order_user_id,jdbcType=INTEGER},
      </if>
      <if test="order_time != null" >
        order_time = #{order_time,jdbcType=TIMESTAMP},
      </if>
      <if test="product_plan_begin_date != null" >
        product_plan_begin_date = #{product_plan_begin_date,jdbcType=DATE},
      </if>
      <if test="product_plan_end_date != null" >
        product_plan_end_date = #{product_plan_end_date,jdbcType=DATE},
      </if>
      <if test="drawing != null" >
        drawing = #{drawing,jdbcType=VARCHAR},
      </if>
      <if test="card_num != null" >
        card_num = #{card_num,jdbcType=VARCHAR},
      </if>
      <if test="picture_comp_make != null" >
        picture_comp_make = #{picture_comp_make,jdbcType=VARCHAR},
      </if>
      <if test="picture_product_accept != null" >
        picture_product_accept = #{picture_product_accept,jdbcType=VARCHAR},
      </if>
      <if test="picture_receipt != null" >
        picture_receipt = #{picture_receipt,jdbcType=VARCHAR},
      </if>
      <if test="picture_install != null" >
        picture_install = #{picture_install,jdbcType=VARCHAR},
      </if>
    </set>
    where component_num = #{component_num,jdbcType=INTEGER}
  </update>
  
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.Component" >
    update component
    set component_name = #{component_name,jdbcType=VARCHAR},
      component_num = #{component_num,jdbcType=VARCHAR},
      component_type = #{component_type,jdbcType=VARCHAR},
      component_size = #{component_size,jdbcType=VARCHAR},
      bind_status = #{bind_status,jdbcType=INTEGER},
      expedit_status = #{expedit_status,jdbcType=INTEGER},
      expedit_date = #{expedit_date,jdbcType=DATE},
      component_status_id = #{component_status_id,jdbcType=INTEGER},
      check_res = #{check_res,jdbcType=INTEGER},
      single_name = #{single_name,jdbcType=VARCHAR},
      pro_id = #{pro_id,jdbcType=INTEGER},
      floor = #{floor,jdbcType=VARCHAR},
      plan_begin_date = #{plan_begin_date,jdbcType=DATE},
      plan_end_date = #{plan_end_date,jdbcType=DATE},
      real_begin_date = #{real_begin_date,jdbcType=DATE},
      real_end_date = #{real_end_date,jdbcType=DATE},
      order_num = #{order_num,jdbcType=VARCHAR},
      comp_factory_id = #{comp_factory_id,jdbcType=INTEGER},
      order_user_id = #{order_user_id,jdbcType=INTEGER},
      order_time = #{order_time,jdbcType=TIMESTAMP},
      product_plan_begin_date = #{product_plan_begin_date,jdbcType=DATE},
      product_plan_end_date = #{product_plan_end_date,jdbcType=DATE},
      drawing = #{drawing,jdbcType=VARCHAR}
    where component_id = #{component_id,jdbcType=INTEGER}
  </update>
  
  <select id="findAllComponent" parameterType="com.shfb.rfid.manage.entity.Component" resultType="com.shfb.rfid.manage.dto.ComponentDto">
  	select 
  	c.component_id, c.component_name, c.component_num, c.component_type, c.component_size,
    c.expedit_status, c.expedit_date, s.component_status_name,
    c.plan_end_date,c.product_plan_begin_date, c.product_plan_end_date,
    s.component_status_name
    from component AS c
    LEFT JOIN component_status AS s on c.component_status_id=s.component_status_id 
    WHERE 1=1
    <if test="component_status_id != null">
    AND c.component_status_id=#{component_status_id}
    </if>
     <if test="pro_id != null">
    AND c.pro_id=#{pro_id}
    </if>
    <if test="single_name != null">
    AND c.single_name=#{single_name}
    </if>
    <if test="floor != null">
    AND c.floor=#{floor}
    </if>
    <if test="component_type != null">
    AND c.component_type=#{component_type}
    </if>
    <if test="expedit_status != null">
    AND expedit_status=#{expedit_status}
    </if>
    <if test="comp_factory_id != null">
    AND comp_factory_id=#{comp_factory_id}
    </if>
    order by component_id desc		
  </select>
  
    <select id="findComponentPage"  resultType="com.shfb.rfid.manage.dto.ComponentDto">
  	select 
  	c.component_id, c.component_name, c.component_num, c.component_type, c.component_size,
    c.expedit_status, c.expedit_date, s.component_status_name,c.bind_status,c.check_res,
    c.plan_end_date,c.product_plan_begin_date, c.product_plan_end_date,
    s.component_status_name, p.pro_name, c.single_name, c.floor, c.card_num
    from component AS c
    LEFT JOIN component_status AS s on c.component_status_id=s.component_status_id 
    LEFT JOIN project AS p ON c.pro_id=p.pro_id
    WHERE 1=1
    <if test="pro_id != null">
    AND c.pro_id=#{pro_id}
    </if> 
    <if test="single_name != null">
    AND c.single_name=#{single_name}
    </if> 
    <if test="floor != null">
    AND c.floor=#{floor}
    </if> 
    <if test="component_type != null">
    AND c.component_type=#{component_type}
    </if> 
    <if test="component_status_id != null">
    AND c.component_status_id=#{component_status_id}
    </if>
    <if test="userProjectID != null">
	AND c.pro_id=#{userProjectID}
    </if> 
     <if test="userCompFactoryID != null">
	AND c.comp_factory_id=#{userCompFactoryID}
    </if> 
    order by component_id desc		
  </select>
  
   <select id="findComponentProductPage"  resultType="com.shfb.rfid.manage.dto.ComponentDto">
  	select 
  	c.component_id, c.component_name, c.component_num, c.component_type, c.component_size,
    c.expedit_status, c.expedit_date, s.component_status_name,c.bind_status,c.check_res,
    c.plan_end_date,c.product_plan_begin_date, c.product_plan_end_date, c.order_num,
    s.component_status_name, p.pro_name, c.single_name, c.floor, c.card_num
    from component AS c
    LEFT JOIN component_status AS s on c.component_status_id=s.component_status_id 
    LEFT JOIN project AS p ON c.pro_id=p.pro_id
    WHERE 1=1
    <if test="pro_id != null">
    AND c.pro_id=#{pro_id}
    </if> 
    <if test="single_name != null">
    AND c.single_name=#{single_name}
    </if> 
    <if test="floor != null">
    AND c.floor=#{floor}
    </if> 
    <if test="component_type != null">
    AND c.component_type=#{component_type}
    </if> 
    <if test="component_status_id != null">
    AND c.component_status_id=#{component_status_id}
    </if>
    <if test="userProjectID != null">
	AND c.pro_id=#{userProjectID}
    </if> 
     <if test="userCompFactoryID != null">
	AND c.comp_factory_id=#{userCompFactoryID}
    </if> 
    <if test="order_num != null">
    AND c.order_num=#{order_num}
    </if>
    order by component_id desc		
  </select>
  
  <select id="findSingle" parameterType="java.lang.Integer" resultType="map">
  	SELECT DISTINCT(single_name) FROM component where 1=1
  	and single_name is not null AND single_name !=''
  	<if test="pro_id != null">
  	and pro_id=#{pro_id}
  	</if>
  </select>
  
  <select id="findFloor" parameterType="java.lang.Integer" resultType="map">
  	SELECT DISTINCT(floor) FROM component WHERE 1=1
  	and floor is not null AND floor !=''
  	<if test="pro_id != null">
  	and pro_id=#{pro_id}
  	</if>
  	<if test="single_name != null">
  	and single_name=#{single_name}
  	</if>
  </select>
  
  <select id="findComponentBysel" parameterType="java.lang.Integer"  resultType="com.shfb.rfid.manage.entity.Component">
  	SELECT component_id, component_name,component_num,component_type FROM component WHERE 1=1
  	<if test="pro_id != null">
  	 AND pro_id=#{pro_id}
  	</if>
  	<if test="single_name != null">
  	AND single_name=#{single_name}
  	</if>
  	<if test="floor != null">
  	AND floor=#{floor}
  	</if>
  	<if test="comp_factory_id != null">
    AND comp_factory_id=#{comp_factory_id}
    </if>
  </select>
  
   <select id="findComponentByselForClient" parameterType="java.lang.Integer"  resultType="com.shfb.rfid.manage.entity.Component">
  	SELECT component_id, component_name,component_num,component_type FROM component WHERE 1=1
  	<if test="pro_id != null">
  	 AND pro_id=#{pro_id}
  	</if>
  	<if test="single_name != null">
  	AND single_name=#{single_name}
  	</if>
  	<if test="floor != null">
  	AND floor=#{floor}
  	</if>
  	<if test="type != null">
  	AND component_type=#{type}
  	</if>
  	<if test="compName != null">
  	AND component_num=#{compName}
  	</if>
  	AND (card_num IS NULL or card_num =  '')
  	LIMIT 0,200
  </select>
  
  <select id="findComponentByselForClientUnBind" parameterType="java.lang.Integer"  resultType="com.shfb.rfid.manage.entity.Component">
  	SELECT component_id, component_name,component_num,component_type,card_num FROM component WHERE 1=1
  	<if test="pro_id != null">
  	 AND pro_id=#{pro_id}
  	</if>
  	<if test="single_name != null">
  	AND single_name=#{single_name}
  	</if>
  	<if test="floor != null">
  	AND floor=#{floor}
  	</if>
  	<if test="type != null">
  	AND component_type=#{type}
  	</if>
  	<if test="compName != null">
  	AND component_num=#{compName}
  	</if>
  	AND (card_num IS NOT NULL and card_num !=  '')
  	LIMIT 0,200
  </select>
  
  <select id="findComponentInfoById" parameterType="java.lang.Integer" resultType="com.shfb.rfid.manage.dto.ComponentDto">
  		SELECT p.pro_name, c.single_name, c.floor, c.plan_begin_date, c.plan_end_date,
	c.real_begin_date, c.real_end_date, c.component_num, c.component_name, c.component_size,
	s.component_status_name,c.bind_status, c.expedit_status, c.expedit_date, c.order_num, c.component_id,
	f.comp_factory_name,u.user_name, c.order_date, c.product_plan_begin_date, c.product_plan_end_date, c.drawing,
	c.picture_comp_make, c.picture_product_accept, c.picture_receipt, c.picture_install,c.component_status_id
 	FROM component AS c 
	LEFT JOIN project AS p ON c.pro_id=p.pro_id 
	LEFT JOIN component_status AS s ON c.component_status_id=s.component_status_id
	LEFT JOIN comp_factory AS f ON c.comp_factory_id=f.comp_factory_id
	LEFT JOIN sys_user AS u ON c.order_user_id=u.user_id
	WHERE component_id=#{component_id}
  </select>
  
  <select id="findSingleBysel" parameterType="java.lang.Integer" resultType="map">
  	SELECT DISTINCT(single_name), pro_id FROM component 
  	<if test="pro_id != null">
  	WHERE pro_id=#{pro_id}
  	</if>
  </select>
  
  <select id="findComponentTypes" resultMap="BaseResultMap">
  	SELECT DISTINCT(component_type) from component WHERE component_type  is not null AND component_type !=''
  </select>
  
  <select id="exportComponents" parameterType="String" resultType="com.shfb.rfid.manage.dto.ComponentDto">
  	SELECT 
  		component_id,component_name,component_num,component_type,component_size
  	FROM component WHERE component_id in 
  	<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
		 	#{item}
	</foreach>
  </select>
  
  <select id="exportComponentProduct" parameterType="String" resultType="com.shfb.rfid.manage.dto.ComponentDto">
  	SELECT 
  		c.component_num,c.order_num, c.product_plan_begin_date, c.product_plan_end_date,c.plan_end_date,c.expedit_date 
  	FROM component AS c  WHERE 1=1
	<if test="order_num != null">
	and	c.order_num=#{order_num}
	</if>  	
  </select>
  
  
  <update id="placeOrder" parameterType="String">
  	 update component SET
        		plan_begin_date = CURDATE(),
				real_begin_date = CURDATE(),
				order_time = NOW(),
				plan_end_date = #{plan_end_date},
				component_status_id = 2,
				comp_factory_id=#{comp_factory_id},
				order_user_id=#{order_user_id},
				order_num=#{order_num}
    where component_status_id=1 and pro_id=#{pro_id} 
     <if test="single_name != null and single_name != ''">
    AND single_name=#{single_name} 
    </if>
    <if test="floor != null and floor != ''">
    and floor=#{floor}
    </if>
  </update>
  
  <update id="expeditGood" parameterType="Integer">
  	update component SET
  		expedit_status = 2, expedit_date=#{expedit_date}
  	where component_id = #{component_id}
  </update>
  
  <update id="addProductPlan" parameterType="Integer">
  	update component SET
  		product_plan_begin_date = #{product_plan_begin_date},
  		product_plan_end_date = #{product_plan_end_date},
  		product_explain = #{product_explain},
  		component_status_id = 3
  	where component_status_id=2 and  component_id = #{component_id}
  </update>
  
  <update id="updateComStatus" parameterType="com.shfb.rfid.manage.entity.Component">
  	update component SET
  		component_status_id = #{component_status_id}
  	where component_id = #{component_id} 
  	<if test="oldcomponent_status_id != null">
  	and component_status_id = #{oldcomponent_status_id}
  	</if>
  </update>
  
  <select id="findComponentByCardNum" resultType="com.shfb.rfid.manage.entity.Component" parameterType="java.lang.Integer" >
    select *
    from component
     WHERE 1=1
    <if test="cardNum != null">
    AND card_num=#{cardNum}
    </if>
    </select>
    
  <select id="getDrawings" parameterType="Integer" resultType="com.shfb.rfid.manage.entity.Component">
  	SELECT DISTINCT(drawing) FROM component WHERE drawing is not null AND drawing!='' 
  		<if test="pro_id != null and pro_id != ''">
    		and pro_id=#{pro_id}
    	</if>
  </select>
  
  <select id="getComponentBycompNum" parameterType="String" resultType="com.shfb.rfid.manage.entity.Component">
  	SELECT component_num from component WHERE component_num=#{component_num}
  </select>
    
  <update id="unbundling" parameterType="String">
  	update component SET
  		card_num = '',bind_status=1
  	where pro_id = #{pro_id} and component_type = #{component_type}
  </update>
  
  <select id="getComponentIds" parameterType="String" resultType="java.lang.Integer">
  	SELECT component_id FROM component 
  	WHERE 1=1
  	AND component_status_id=2
  	AND comp_factory_id=#{comp_factory_id}
  	<if test="pro_id != null and pro_id != ''">
  	AND pro_id=#{pro_id} 
  	</if>
  	<if  test="single_name != null and single_name != ''">
  	AND single_name=#{single_name}
  	</if> 
  	<if  test="floor != null and floor != ''">
  	AND floor=#{floor} 
  	</if>
  </select>
  
  <update id="updateByExcelComponentNum" parameterType="Integer" >
    update component
    <set >
      <if test="component_size != null" >
        component_size = #{component_size,jdbcType=VARCHAR},
      </if>
      <if test="concrete_strength != null" >
        concrete_strength = #{concrete_strength,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="drawing != null">
      	drawing = #{drawing,jdbcType=VARCHAR},
      </if>
    </set>
    where component_num = #{component_num,jdbcType=INTEGER}
  </update>
  
  <select id="getModelData" parameterType="String" resultType="com.shfb.rfid.manage.dto.ModelDataDto">
  	SELECT component_num as num ,component_type AS type, component_status_id as state,single_name AS single,floor,pro_id AS project from component
  		WHERE 1=1 
  		<if test="single != null and single != ''" >
  		 AND single_name=#{single} 
  		</if>
  		<if test="floor != null and floor != ''" >
  		 AND floor=#{floor} 
  		</if>
  		<if test="state != null and state != ''" >
  		 AND component_status_id=#{state}
  		</if> 
  		<if test="project != null and project != ''" >
  		AND pro_id=#{project}
  		</if>
  		<if test="component_num != null and component_num != ''" >
  		AND component_num=#{component_num}
  		</if> 		 
  </select>
  
  <select id="queryCompIds" parameterType="String" resultMap="BaseResultMap">
  	SELECT component_id, component_status_id, component_num from component 
  		WHERE pro_id=#{pro_id} 
  		<if test="single_name != null and single_name != ''" >
  		AND single_name=#{single_name} 
  		</if>
  		<if test="floor != null and floor != ''" >
  		AND floor=#{floor} 
  		</if>
  </select>
  
</mapper>