<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.OperationlogMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.Operationlog" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="requestname" property="requestname" jdbcType="VARCHAR" />
    <result column="adminname" property="adminname" jdbcType="VARCHAR" />
    <result column="requesturl" property="requesturl" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, requestname, adminname, requesturl, content, addtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operationlog
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operationlog
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.Operationlog" >
    insert into operationlog (Id, requestname, adminname, 
      requesturl, content, addtime
      )
    values (#{id,jdbcType=INTEGER}, #{requestname,jdbcType=VARCHAR}, #{adminname,jdbcType=VARCHAR}, 
      #{requesturl,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.Operationlog" >
    insert into operationlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="requestname != null" >
        requestname,
      </if>
      <if test="adminname != null" >
        adminname,
      </if>
      <if test="requesturl != null" >
        requesturl,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="requestname != null" >
        #{requestname,jdbcType=VARCHAR},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="requesturl != null" >
        #{requesturl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.Operationlog" >
    update operationlog
    <set >
      <if test="requestname != null" >
        requestname = #{requestname,jdbcType=VARCHAR},
      </if>
      <if test="adminname != null" >
        adminname = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="requesturl != null" >
        requesturl = #{requesturl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.Operationlog" >
    update operationlog
    set requestname = #{requestname,jdbcType=VARCHAR},
      adminname = #{adminname,jdbcType=VARCHAR},
      requesturl = #{requesturl,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>