<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.ProductEmbeddedPartsMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.ProductEmbeddedParts" >
    <id column="product_embedded_parts_id" property="product_embedded_parts_id" jdbcType="INTEGER" />
    <result column="embedded_steelbar_centerline_pass" property="embedded_steelbar_centerline_pass" jdbcType="INTEGER" />
    <result column="embedded_steelbar_centerline_mark" property="embedded_steelbar_centerline_mark" jdbcType="VARCHAR" />
    <result column="embedded_steelbar_smooth_pass" property="embedded_steelbar_smooth_pass" jdbcType="INTEGER" />
    <result column="embedded_steelbar_smooth_mark" property="embedded_steelbar_smooth_mark" jdbcType="VARCHAR" />
    <result column="embedded_tube_centerline_pass" property="embedded_tube_centerline_pass" jdbcType="INTEGER" />
    <result column="embedded_tube_centerline_mark" property="embedded_tube_centerline_mark" jdbcType="VARCHAR" />
    <result column="embedded_tube_size_pass" property="embedded_tube_size_pass" jdbcType="INTEGER" />
    <result column="embedded_tube_size_mark" property="embedded_tube_size_mark" jdbcType="VARCHAR" />
    <result column="door_centerline_pass" property="door_centerline_pass" jdbcType="INTEGER" />
    <result column="door_centerline_mark" property="door_centerline_mark" jdbcType="VARCHAR" />
    <result column="door_width_high_pass" property="door_width_high_pass" jdbcType="INTEGER" />
    <result column="door_width_high_mark" property="door_width_high_mark" jdbcType="VARCHAR" />
    <result column="insert_steel_centerline_pass" property="insert_steel_centerline_pass" jdbcType="INTEGER" />
    <result column="insert_steel_ceterline_mark" property="insert_steel_ceterline_mark" jdbcType="VARCHAR" />
    <result column="insert_steel_length_pass" property="insert_steel_length_pass" jdbcType="INTEGER" />
    <result column="insert_steel_length_mark" property="insert_steel_length_mark" jdbcType="VARCHAR" />
    <result column="crane_ring_centerline_pass" property="crane_ring_centerline_pass" jdbcType="INTEGER" />
    <result column="crane_ring_centerline_mark" property="crane_ring_centerline_mark" jdbcType="VARCHAR" />
    <result column="crane_ring_length_pass" property="crane_ring_length_pass" jdbcType="INTEGER" />
    <result column="crane_ring_length_mark" property="crane_ring_length_mark" jdbcType="VARCHAR" />
    <result column="reserved_hole_centerline_pass" property="reserved_hole_centerline_pass" jdbcType="INTEGER" />
    <result column="reserved_hole_centerline_mark" property="reserved_hole_centerline_mark" jdbcType="VARCHAR" />
    <result column="reserved_hole_size_pass" property="reserved_hole_size_pass" jdbcType="INTEGER" />
    <result column="reserved_hole_size_mark" property="reserved_hole_size_mark" jdbcType="VARCHAR" />
    <result column="bolt_centerline_pass" property="bolt_centerline_pass" jdbcType="INTEGER" />
    <result column="bolt_centerline_mark" property="bolt_centerline_mark" jdbcType="VARCHAR" />
    <result column="bolt_length_pass" property="bolt_length_pass" jdbcType="INTEGER" />
    <result column="bolt_length_mark" property="bolt_length_mark" jdbcType="VARCHAR" />
    <result column="sleeve_centerline_pass" property="sleeve_centerline_pass" jdbcType="INTEGER" />
    <result column="sleeve_centerline_mark" property="sleeve_centerline_mark" jdbcType="VARCHAR" />
    <result column="sleeve_smooth_pass" property="sleeve_smooth_pass" jdbcType="INTEGER" />
    <result column="sleeve_smooth_mark" property="sleeve_smooth_mark" jdbcType="VARCHAR" />
    <result column="component_id" property="component_id" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_embedded_parts_id, embedded_steelbar_centerline_pass, embedded_steelbar_centerline_mark, 
    embedded_steelbar_smooth_pass, embedded_steelbar_smooth_mark, embedded_tube_centerline_pass, 
    embedded_tube_centerline_mark, embedded_tube_size_pass, embedded_tube_size_mark, 
    door_centerline_pass, door_centerline_mark, door_width_high_pass, door_width_high_mark, 
    insert_steel_centerline_pass, insert_steel_ceterline_mark, insert_steel_length_pass, 
    insert_steel_length_mark, crane_ring_centerline_pass, crane_ring_centerline_mark, 
    crane_ring_length_pass, crane_ring_length_mark, reserved_hole_centerline_pass, reserved_hole_centerline_mark, 
    reserved_hole_size_pass, reserved_hole_size_mark, bolt_centerline_pass, bolt_centerline_mark, 
    bolt_length_pass, bolt_length_mark, sleeve_centerline_pass, sleeve_centerline_mark, 
    sleeve_smooth_pass, sleeve_smooth_mark, component_id, picture
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_embedded_parts
    where product_embedded_parts_id = #{product_embedded_parts_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_embedded_parts
    where product_embedded_parts_id = #{product_embedded_parts_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.ProductEmbeddedParts" >
    insert into product_embedded_parts (product_embedded_parts_id, embedded_steelbar_centerline_pass, 
      embedded_steelbar_centerline_mark, embedded_steelbar_smooth_pass, 
      embedded_steelbar_smooth_mark, embedded_tube_centerline_pass, 
      embedded_tube_centerline_mark, embedded_tube_size_pass, 
      embedded_tube_size_mark, door_centerline_pass, 
      door_centerline_mark, door_width_high_pass, 
      door_width_high_mark, insert_steel_centerline_pass, 
      insert_steel_ceterline_mark, insert_steel_length_pass, 
      insert_steel_length_mark, crane_ring_centerline_pass, 
      crane_ring_centerline_mark, crane_ring_length_pass, 
      crane_ring_length_mark, reserved_hole_centerline_pass, 
      reserved_hole_centerline_mark, reserved_hole_size_pass, 
      reserved_hole_size_mark, bolt_centerline_pass, 
      bolt_centerline_mark, bolt_length_pass, 
      bolt_length_mark, sleeve_centerline_pass, 
      sleeve_centerline_mark, sleeve_smooth_pass, 
      sleeve_smooth_mark, component_id, picture
      )
    values (#{product_embedded_parts_id,jdbcType=INTEGER}, #{embedded_steelbar_centerline_pass,jdbcType=INTEGER}, 
      #{embedded_steelbar_centerline_mark,jdbcType=VARCHAR}, #{embedded_steelbar_smooth_pass,jdbcType=INTEGER}, 
      #{embedded_steelbar_smooth_mark,jdbcType=VARCHAR}, #{embedded_tube_centerline_pass,jdbcType=INTEGER}, 
      #{embedded_tube_centerline_mark,jdbcType=VARCHAR}, #{embedded_tube_size_pass,jdbcType=INTEGER}, 
      #{embedded_tube_size_mark,jdbcType=VARCHAR}, #{door_centerline_pass,jdbcType=INTEGER}, 
      #{door_centerline_mark,jdbcType=VARCHAR}, #{door_width_high_pass,jdbcType=INTEGER}, 
      #{door_width_high_mark,jdbcType=VARCHAR}, #{insert_steel_centerline_pass,jdbcType=INTEGER}, 
      #{insert_steel_ceterline_mark,jdbcType=VARCHAR}, #{insert_steel_length_pass,jdbcType=INTEGER}, 
      #{insert_steel_length_mark,jdbcType=VARCHAR}, #{crane_ring_centerline_pass,jdbcType=INTEGER}, 
      #{crane_ring_centerline_mark,jdbcType=VARCHAR}, #{crane_ring_length_pass,jdbcType=INTEGER}, 
      #{crane_ring_length_mark,jdbcType=VARCHAR}, #{reserved_hole_centerline_pass,jdbcType=INTEGER}, 
      #{reserved_hole_centerline_mark,jdbcType=VARCHAR}, #{reserved_hole_size_pass,jdbcType=INTEGER}, 
      #{reserved_hole_size_mark,jdbcType=VARCHAR}, #{bolt_centerline_pass,jdbcType=INTEGER}, 
      #{bolt_centerline_mark,jdbcType=VARCHAR}, #{bolt_length_pass,jdbcType=INTEGER}, 
      #{bolt_length_mark,jdbcType=VARCHAR}, #{sleeve_centerline_pass,jdbcType=INTEGER}, 
      #{sleeve_centerline_mark,jdbcType=VARCHAR}, #{sleeve_smooth_pass,jdbcType=INTEGER}, 
      #{sleeve_smooth_mark,jdbcType=VARCHAR}, #{component_id,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.ProductEmbeddedParts" >
    insert into product_embedded_parts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="product_embedded_parts_id != null" >
        product_embedded_parts_id,
      </if>
      <if test="embedded_steelbar_centerline_pass != null" >
        embedded_steelbar_centerline_pass,
      </if>
      <if test="embedded_steelbar_centerline_mark != null" >
        embedded_steelbar_centerline_mark,
      </if>
      <if test="embedded_steelbar_smooth_pass != null" >
        embedded_steelbar_smooth_pass,
      </if>
      <if test="embedded_steelbar_smooth_mark != null" >
        embedded_steelbar_smooth_mark,
      </if>
      <if test="embedded_tube_centerline_pass != null" >
        embedded_tube_centerline_pass,
      </if>
      <if test="embedded_tube_centerline_mark != null" >
        embedded_tube_centerline_mark,
      </if>
      <if test="embedded_tube_size_pass != null" >
        embedded_tube_size_pass,
      </if>
      <if test="embedded_tube_size_mark != null" >
        embedded_tube_size_mark,
      </if>
      <if test="door_centerline_pass != null" >
        door_centerline_pass,
      </if>
      <if test="door_centerline_mark != null" >
        door_centerline_mark,
      </if>
      <if test="door_width_high_pass != null" >
        door_width_high_pass,
      </if>
      <if test="door_width_high_mark != null" >
        door_width_high_mark,
      </if>
      <if test="insert_steel_centerline_pass != null" >
        insert_steel_centerline_pass,
      </if>
      <if test="insert_steel_ceterline_mark != null" >
        insert_steel_ceterline_mark,
      </if>
      <if test="insert_steel_length_pass != null" >
        insert_steel_length_pass,
      </if>
      <if test="insert_steel_length_mark != null" >
        insert_steel_length_mark,
      </if>
      <if test="crane_ring_centerline_pass != null" >
        crane_ring_centerline_pass,
      </if>
      <if test="crane_ring_centerline_mark != null" >
        crane_ring_centerline_mark,
      </if>
      <if test="crane_ring_length_pass != null" >
        crane_ring_length_pass,
      </if>
      <if test="crane_ring_length_mark != null" >
        crane_ring_length_mark,
      </if>
      <if test="reserved_hole_centerline_pass != null" >
        reserved_hole_centerline_pass,
      </if>
      <if test="reserved_hole_centerline_mark != null" >
        reserved_hole_centerline_mark,
      </if>
      <if test="reserved_hole_size_pass != null" >
        reserved_hole_size_pass,
      </if>
      <if test="reserved_hole_size_mark != null" >
        reserved_hole_size_mark,
      </if>
      <if test="bolt_centerline_pass != null" >
        bolt_centerline_pass,
      </if>
      <if test="bolt_centerline_mark != null" >
        bolt_centerline_mark,
      </if>
      <if test="bolt_length_pass != null" >
        bolt_length_pass,
      </if>
      <if test="bolt_length_mark != null" >
        bolt_length_mark,
      </if>
      <if test="sleeve_centerline_pass != null" >
        sleeve_centerline_pass,
      </if>
      <if test="sleeve_centerline_mark != null" >
        sleeve_centerline_mark,
      </if>
      <if test="sleeve_smooth_pass != null" >
        sleeve_smooth_pass,
      </if>
      <if test="sleeve_smooth_mark != null" >
        sleeve_smooth_mark,
      </if>
      <if test="component_id != null" >
        component_id,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="product_embedded_parts_id != null" >
        #{product_embedded_parts_id,jdbcType=INTEGER},
      </if>
      <if test="embedded_steelbar_centerline_pass != null" >
        #{embedded_steelbar_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="embedded_steelbar_centerline_mark != null" >
        #{embedded_steelbar_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="embedded_steelbar_smooth_pass != null" >
        #{embedded_steelbar_smooth_pass,jdbcType=INTEGER},
      </if>
      <if test="embedded_steelbar_smooth_mark != null" >
        #{embedded_steelbar_smooth_mark,jdbcType=VARCHAR},
      </if>
      <if test="embedded_tube_centerline_pass != null" >
        #{embedded_tube_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="embedded_tube_centerline_mark != null" >
        #{embedded_tube_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="embedded_tube_size_pass != null" >
        #{embedded_tube_size_pass,jdbcType=INTEGER},
      </if>
      <if test="embedded_tube_size_mark != null" >
        #{embedded_tube_size_mark,jdbcType=VARCHAR},
      </if>
      <if test="door_centerline_pass != null" >
        #{door_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="door_centerline_mark != null" >
        #{door_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="door_width_high_pass != null" >
        #{door_width_high_pass,jdbcType=INTEGER},
      </if>
      <if test="door_width_high_mark != null" >
        #{door_width_high_mark,jdbcType=VARCHAR},
      </if>
      <if test="insert_steel_centerline_pass != null" >
        #{insert_steel_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="insert_steel_ceterline_mark != null" >
        #{insert_steel_ceterline_mark,jdbcType=VARCHAR},
      </if>
      <if test="insert_steel_length_pass != null" >
        #{insert_steel_length_pass,jdbcType=INTEGER},
      </if>
      <if test="insert_steel_length_mark != null" >
        #{insert_steel_length_mark,jdbcType=VARCHAR},
      </if>
      <if test="crane_ring_centerline_pass != null" >
        #{crane_ring_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="crane_ring_centerline_mark != null" >
        #{crane_ring_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="crane_ring_length_pass != null" >
        #{crane_ring_length_pass,jdbcType=INTEGER},
      </if>
      <if test="crane_ring_length_mark != null" >
        #{crane_ring_length_mark,jdbcType=VARCHAR},
      </if>
      <if test="reserved_hole_centerline_pass != null" >
        #{reserved_hole_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="reserved_hole_centerline_mark != null" >
        #{reserved_hole_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="reserved_hole_size_pass != null" >
        #{reserved_hole_size_pass,jdbcType=INTEGER},
      </if>
      <if test="reserved_hole_size_mark != null" >
        #{reserved_hole_size_mark,jdbcType=VARCHAR},
      </if>
      <if test="bolt_centerline_pass != null" >
        #{bolt_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="bolt_centerline_mark != null" >
        #{bolt_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="bolt_length_pass != null" >
        #{bolt_length_pass,jdbcType=INTEGER},
      </if>
      <if test="bolt_length_mark != null" >
        #{bolt_length_mark,jdbcType=VARCHAR},
      </if>
      <if test="sleeve_centerline_pass != null" >
        #{sleeve_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="sleeve_centerline_mark != null" >
        #{sleeve_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="sleeve_smooth_pass != null" >
        #{sleeve_smooth_pass,jdbcType=INTEGER},
      </if>
      <if test="sleeve_smooth_mark != null" >
        #{sleeve_smooth_mark,jdbcType=VARCHAR},
      </if>
      <if test="component_id != null" >
        #{component_id,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.ProductEmbeddedParts" >
    update product_embedded_parts
    <set >
      <if test="embedded_steelbar_centerline_pass != null" >
        embedded_steelbar_centerline_pass = #{embedded_steelbar_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="embedded_steelbar_centerline_mark != null" >
        embedded_steelbar_centerline_mark = #{embedded_steelbar_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="embedded_steelbar_smooth_pass != null" >
        embedded_steelbar_smooth_pass = #{embedded_steelbar_smooth_pass,jdbcType=INTEGER},
      </if>
      <if test="embedded_steelbar_smooth_mark != null" >
        embedded_steelbar_smooth_mark = #{embedded_steelbar_smooth_mark,jdbcType=VARCHAR},
      </if>
      <if test="embedded_tube_centerline_pass != null" >
        embedded_tube_centerline_pass = #{embedded_tube_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="embedded_tube_centerline_mark != null" >
        embedded_tube_centerline_mark = #{embedded_tube_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="embedded_tube_size_pass != null" >
        embedded_tube_size_pass = #{embedded_tube_size_pass,jdbcType=INTEGER},
      </if>
      <if test="embedded_tube_size_mark != null" >
        embedded_tube_size_mark = #{embedded_tube_size_mark,jdbcType=VARCHAR},
      </if>
      <if test="door_centerline_pass != null" >
        door_centerline_pass = #{door_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="door_centerline_mark != null" >
        door_centerline_mark = #{door_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="door_width_high_pass != null" >
        door_width_high_pass = #{door_width_high_pass,jdbcType=INTEGER},
      </if>
      <if test="door_width_high_mark != null" >
        door_width_high_mark = #{door_width_high_mark,jdbcType=VARCHAR},
      </if>
      <if test="insert_steel_centerline_pass != null" >
        insert_steel_centerline_pass = #{insert_steel_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="insert_steel_ceterline_mark != null" >
        insert_steel_ceterline_mark = #{insert_steel_ceterline_mark,jdbcType=VARCHAR},
      </if>
      <if test="insert_steel_length_pass != null" >
        insert_steel_length_pass = #{insert_steel_length_pass,jdbcType=INTEGER},
      </if>
      <if test="insert_steel_length_mark != null" >
        insert_steel_length_mark = #{insert_steel_length_mark,jdbcType=VARCHAR},
      </if>
      <if test="crane_ring_centerline_pass != null" >
        crane_ring_centerline_pass = #{crane_ring_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="crane_ring_centerline_mark != null" >
        crane_ring_centerline_mark = #{crane_ring_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="crane_ring_length_pass != null" >
        crane_ring_length_pass = #{crane_ring_length_pass,jdbcType=INTEGER},
      </if>
      <if test="crane_ring_length_mark != null" >
        crane_ring_length_mark = #{crane_ring_length_mark,jdbcType=VARCHAR},
      </if>
      <if test="reserved_hole_centerline_pass != null" >
        reserved_hole_centerline_pass = #{reserved_hole_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="reserved_hole_centerline_mark != null" >
        reserved_hole_centerline_mark = #{reserved_hole_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="reserved_hole_size_pass != null" >
        reserved_hole_size_pass = #{reserved_hole_size_pass,jdbcType=INTEGER},
      </if>
      <if test="reserved_hole_size_mark != null" >
        reserved_hole_size_mark = #{reserved_hole_size_mark,jdbcType=VARCHAR},
      </if>
      <if test="bolt_centerline_pass != null" >
        bolt_centerline_pass = #{bolt_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="bolt_centerline_mark != null" >
        bolt_centerline_mark = #{bolt_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="bolt_length_pass != null" >
        bolt_length_pass = #{bolt_length_pass,jdbcType=INTEGER},
      </if>
      <if test="bolt_length_mark != null" >
        bolt_length_mark = #{bolt_length_mark,jdbcType=VARCHAR},
      </if>
      <if test="sleeve_centerline_pass != null" >
        sleeve_centerline_pass = #{sleeve_centerline_pass,jdbcType=INTEGER},
      </if>
      <if test="sleeve_centerline_mark != null" >
        sleeve_centerline_mark = #{sleeve_centerline_mark,jdbcType=VARCHAR},
      </if>
      <if test="sleeve_smooth_pass != null" >
        sleeve_smooth_pass = #{sleeve_smooth_pass,jdbcType=INTEGER},
      </if>
      <if test="sleeve_smooth_mark != null" >
        sleeve_smooth_mark = #{sleeve_smooth_mark,jdbcType=VARCHAR},
      </if>
      <if test="component_id != null" >
        component_id = #{component_id,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where component_id = #{component_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.ProductEmbeddedParts" >
    update product_embedded_parts
    set embedded_steelbar_centerline_pass = #{embedded_steelbar_centerline_pass,jdbcType=INTEGER},
      embedded_steelbar_centerline_mark = #{embedded_steelbar_centerline_mark,jdbcType=VARCHAR},
      embedded_steelbar_smooth_pass = #{embedded_steelbar_smooth_pass,jdbcType=INTEGER},
      embedded_steelbar_smooth_mark = #{embedded_steelbar_smooth_mark,jdbcType=VARCHAR},
      embedded_tube_centerline_pass = #{embedded_tube_centerline_pass,jdbcType=INTEGER},
      embedded_tube_centerline_mark = #{embedded_tube_centerline_mark,jdbcType=VARCHAR},
      embedded_tube_size_pass = #{embedded_tube_size_pass,jdbcType=INTEGER},
      embedded_tube_size_mark = #{embedded_tube_size_mark,jdbcType=VARCHAR},
      door_centerline_pass = #{door_centerline_pass,jdbcType=INTEGER},
      door_centerline_mark = #{door_centerline_mark,jdbcType=VARCHAR},
      door_width_high_pass = #{door_width_high_pass,jdbcType=INTEGER},
      door_width_high_mark = #{door_width_high_mark,jdbcType=VARCHAR},
      insert_steel_centerline_pass = #{insert_steel_centerline_pass,jdbcType=INTEGER},
      insert_steel_ceterline_mark = #{insert_steel_ceterline_mark,jdbcType=VARCHAR},
      insert_steel_length_pass = #{insert_steel_length_pass,jdbcType=INTEGER},
      insert_steel_length_mark = #{insert_steel_length_mark,jdbcType=VARCHAR},
      crane_ring_centerline_pass = #{crane_ring_centerline_pass,jdbcType=INTEGER},
      crane_ring_centerline_mark = #{crane_ring_centerline_mark,jdbcType=VARCHAR},
      crane_ring_length_pass = #{crane_ring_length_pass,jdbcType=INTEGER},
      crane_ring_length_mark = #{crane_ring_length_mark,jdbcType=VARCHAR},
      reserved_hole_centerline_pass = #{reserved_hole_centerline_pass,jdbcType=INTEGER},
      reserved_hole_centerline_mark = #{reserved_hole_centerline_mark,jdbcType=VARCHAR},
      reserved_hole_size_pass = #{reserved_hole_size_pass,jdbcType=INTEGER},
      reserved_hole_size_mark = #{reserved_hole_size_mark,jdbcType=VARCHAR},
      bolt_centerline_pass = #{bolt_centerline_pass,jdbcType=INTEGER},
      bolt_centerline_mark = #{bolt_centerline_mark,jdbcType=VARCHAR},
      bolt_length_pass = #{bolt_length_pass,jdbcType=INTEGER},
      bolt_length_mark = #{bolt_length_mark,jdbcType=VARCHAR},
      sleeve_centerline_pass = #{sleeve_centerline_pass,jdbcType=INTEGER},
      sleeve_centerline_mark = #{sleeve_centerline_mark,jdbcType=VARCHAR},
      sleeve_smooth_pass = #{sleeve_smooth_pass,jdbcType=INTEGER},
      sleeve_smooth_mark = #{sleeve_smooth_mark,jdbcType=VARCHAR},
      component_id = #{component_id,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR}
    where product_embedded_parts_id = #{product_embedded_parts_id,jdbcType=INTEGER}
  </update>
  
  <select id="findByComponentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_embedded_parts
    where component_id = #{component_id,jdbcType=INTEGER}
  </select>
  
</mapper>