<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.ProductSteelbarSizeMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.ProductSteelbarSize" >
    <id column="product_steelbar_size_id" property="product_steelbar_size_id" jdbcType="INTEGER" />
    <result column="mesh_length_width_pass" property="mesh_length_width_pass" jdbcType="INTEGER" />
    <result column="mesh_length_width_mark" property="mesh_length_width_mark" jdbcType="VARCHAR" />
    <result column="mesh_size_pass" property="mesh_size_pass" jdbcType="INTEGER" />
    <result column="mesh_size_mark" property="mesh_size_mark" jdbcType="VARCHAR" />
    <result column="skeleton_length_pass" property="skeleton_length_pass" jdbcType="INTEGER" />
    <result column="skeleton_length_mark" property="skeleton_length_mark" jdbcType="VARCHAR" />
    <result column="skeleton_width_high_pass" property="skeleton_width_high_pass" jdbcType="INTEGER" />
    <result column="skeleton_width_high_mark" property="skeleton_width_high_mark" jdbcType="VARCHAR" />
    <result column="force_bet_spacing_pass" property="force_bet_spacing_pass" jdbcType="INTEGER" />
    <result column="force_bet_spacing_mark" property="force_bet_spacing_mark" jdbcType="VARCHAR" />
    <result column="force_row_spacing_pass" property="force_row_spacing_pass" jdbcType="INTEGER" />
    <result column="force_row_spacing_mark" property="force_row_spacing_mark" jdbcType="VARCHAR" />
    <result column="force_column_beam_pass" property="force_column_beam_pass" jdbcType="INTEGER" />
    <result column="force_column_beam_mark" property="force_column_beam_mark" jdbcType="VARCHAR" />
    <result column="force_plate_wall_pass" property="force_plate_wall_pass" jdbcType="INTEGER" />
    <result column="force_plate_wall_mark" property="force_plate_wall_mark" jdbcType="VARCHAR" />
    <result column="steelbar_spacing_pass" property="steelbar_spacing_pass" jdbcType="INTEGER" />
    <result column="steelbar_spacing_mark" property="steelbar_spacing_mark" jdbcType="VARCHAR" />
    <result column="steelbar_start_point_pass" property="steelbar_start_point_pass" jdbcType="INTEGER" />
    <result column="steelbar_start_point_mark" property="steelbar_start_point_mark" jdbcType="VARCHAR" />
    <result column="component_id" property="component_id" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_steelbar_size_id, mesh_length_width_pass, mesh_length_width_mark, mesh_size_pass, 
    mesh_size_mark, skeleton_length_pass, skeleton_length_mark, skeleton_width_high_pass, 
    skeleton_width_high_mark, force_bet_spacing_pass, force_bet_spacing_mark, force_row_spacing_pass, 
    force_row_spacing_mark, force_column_beam_pass, force_column_beam_mark, force_plate_wall_pass, 
    force_plate_wall_mark, steelbar_spacing_pass, steelbar_spacing_mark, steelbar_start_point_pass, 
    steelbar_start_point_mark, component_id, picture
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_steelbar_size
    where product_steelbar_size_id = #{product_steelbar_size_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_steelbar_size
    where product_steelbar_size_id = #{product_steelbar_size_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.ProductSteelbarSize" >
    insert into product_steelbar_size (product_steelbar_size_id, mesh_length_width_pass, 
      mesh_length_width_mark, mesh_size_pass, 
      mesh_size_mark, skeleton_length_pass, skeleton_length_mark, 
      skeleton_width_high_pass, skeleton_width_high_mark, 
      force_bet_spacing_pass, force_bet_spacing_mark, 
      force_row_spacing_pass, force_row_spacing_mark, 
      force_column_beam_pass, force_column_beam_mark, 
      force_plate_wall_pass, force_plate_wall_mark, 
      steelbar_spacing_pass, steelbar_spacing_mark, 
      steelbar_start_point_pass, steelbar_start_point_mark, 
      component_id, picture)
    values (#{product_steelbar_size_id,jdbcType=INTEGER}, #{mesh_length_width_pass,jdbcType=INTEGER}, 
      #{mesh_length_width_mark,jdbcType=VARCHAR}, #{mesh_size_pass,jdbcType=INTEGER}, 
      #{mesh_size_mark,jdbcType=VARCHAR}, #{skeleton_length_pass,jdbcType=INTEGER}, #{skeleton_length_mark,jdbcType=VARCHAR}, 
      #{skeleton_width_high_pass,jdbcType=INTEGER}, #{skeleton_width_high_mark,jdbcType=VARCHAR}, 
      #{force_bet_spacing_pass,jdbcType=INTEGER}, #{force_bet_spacing_mark,jdbcType=VARCHAR}, 
      #{force_row_spacing_pass,jdbcType=INTEGER}, #{force_row_spacing_mark,jdbcType=VARCHAR}, 
      #{force_column_beam_pass,jdbcType=INTEGER}, #{force_column_beam_mark,jdbcType=VARCHAR}, 
      #{force_plate_wall_pass,jdbcType=INTEGER}, #{force_plate_wall_mark,jdbcType=VARCHAR}, 
      #{steelbar_spacing_pass,jdbcType=INTEGER}, #{steelbar_spacing_mark,jdbcType=VARCHAR}, 
      #{steelbar_start_point_pass,jdbcType=INTEGER}, #{steelbar_start_point_mark,jdbcType=VARCHAR}, 
      #{component_id,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.ProductSteelbarSize" >
    insert into product_steelbar_size
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="product_steelbar_size_id != null" >
        product_steelbar_size_id,
      </if>
      <if test="mesh_length_width_pass != null" >
        mesh_length_width_pass,
      </if>
      <if test="mesh_length_width_mark != null" >
        mesh_length_width_mark,
      </if>
      <if test="mesh_size_pass != null" >
        mesh_size_pass,
      </if>
      <if test="mesh_size_mark != null" >
        mesh_size_mark,
      </if>
      <if test="skeleton_length_pass != null" >
        skeleton_length_pass,
      </if>
      <if test="skeleton_length_mark != null" >
        skeleton_length_mark,
      </if>
      <if test="skeleton_width_high_pass != null" >
        skeleton_width_high_pass,
      </if>
      <if test="skeleton_width_high_mark != null" >
        skeleton_width_high_mark,
      </if>
      <if test="force_bet_spacing_pass != null" >
        force_bet_spacing_pass,
      </if>
      <if test="force_bet_spacing_mark != null" >
        force_bet_spacing_mark,
      </if>
      <if test="force_row_spacing_pass != null" >
        force_row_spacing_pass,
      </if>
      <if test="force_row_spacing_mark != null" >
        force_row_spacing_mark,
      </if>
      <if test="force_column_beam_pass != null" >
        force_column_beam_pass,
      </if>
      <if test="force_column_beam_mark != null" >
        force_column_beam_mark,
      </if>
      <if test="force_plate_wall_pass != null" >
        force_plate_wall_pass,
      </if>
      <if test="force_plate_wall_mark != null" >
        force_plate_wall_mark,
      </if>
      <if test="steelbar_spacing_pass != null" >
        steelbar_spacing_pass,
      </if>
      <if test="steelbar_spacing_mark != null" >
        steelbar_spacing_mark,
      </if>
      <if test="steelbar_start_point_pass != null" >
        steelbar_start_point_pass,
      </if>
      <if test="steelbar_start_point_mark != null" >
        steelbar_start_point_mark,
      </if>
      <if test="component_id != null" >
        component_id,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="product_steelbar_size_id != null" >
        #{product_steelbar_size_id,jdbcType=INTEGER},
      </if>
      <if test="mesh_length_width_pass != null" >
        #{mesh_length_width_pass,jdbcType=INTEGER},
      </if>
      <if test="mesh_length_width_mark != null" >
        #{mesh_length_width_mark,jdbcType=VARCHAR},
      </if>
      <if test="mesh_size_pass != null" >
        #{mesh_size_pass,jdbcType=INTEGER},
      </if>
      <if test="mesh_size_mark != null" >
        #{mesh_size_mark,jdbcType=VARCHAR},
      </if>
      <if test="skeleton_length_pass != null" >
        #{skeleton_length_pass,jdbcType=INTEGER},
      </if>
      <if test="skeleton_length_mark != null" >
        #{skeleton_length_mark,jdbcType=VARCHAR},
      </if>
      <if test="skeleton_width_high_pass != null" >
        #{skeleton_width_high_pass,jdbcType=INTEGER},
      </if>
      <if test="skeleton_width_high_mark != null" >
        #{skeleton_width_high_mark,jdbcType=VARCHAR},
      </if>
      <if test="force_bet_spacing_pass != null" >
        #{force_bet_spacing_pass,jdbcType=INTEGER},
      </if>
      <if test="force_bet_spacing_mark != null" >
        #{force_bet_spacing_mark,jdbcType=VARCHAR},
      </if>
      <if test="force_row_spacing_pass != null" >
        #{force_row_spacing_pass,jdbcType=INTEGER},
      </if>
      <if test="force_row_spacing_mark != null" >
        #{force_row_spacing_mark,jdbcType=VARCHAR},
      </if>
      <if test="force_column_beam_pass != null" >
        #{force_column_beam_pass,jdbcType=INTEGER},
      </if>
      <if test="force_column_beam_mark != null" >
        #{force_column_beam_mark,jdbcType=VARCHAR},
      </if>
      <if test="force_plate_wall_pass != null" >
        #{force_plate_wall_pass,jdbcType=INTEGER},
      </if>
      <if test="force_plate_wall_mark != null" >
        #{force_plate_wall_mark,jdbcType=VARCHAR},
      </if>
      <if test="steelbar_spacing_pass != null" >
        #{steelbar_spacing_pass,jdbcType=INTEGER},
      </if>
      <if test="steelbar_spacing_mark != null" >
        #{steelbar_spacing_mark,jdbcType=VARCHAR},
      </if>
      <if test="steelbar_start_point_pass != null" >
        #{steelbar_start_point_pass,jdbcType=INTEGER},
      </if>
      <if test="steelbar_start_point_mark != null" >
        #{steelbar_start_point_mark,jdbcType=VARCHAR},
      </if>
      <if test="component_id != null" >
        #{component_id,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.ProductSteelbarSize" >
    update product_steelbar_size
    <set >
      <if test="mesh_length_width_pass != null" >
        mesh_length_width_pass = #{mesh_length_width_pass,jdbcType=INTEGER},
      </if>
      <if test="mesh_length_width_mark != null" >
        mesh_length_width_mark = #{mesh_length_width_mark,jdbcType=VARCHAR},
      </if>
      <if test="mesh_size_pass != null" >
        mesh_size_pass = #{mesh_size_pass,jdbcType=INTEGER},
      </if>
      <if test="mesh_size_mark != null" >
        mesh_size_mark = #{mesh_size_mark,jdbcType=VARCHAR},
      </if>
      <if test="skeleton_length_pass != null" >
        skeleton_length_pass = #{skeleton_length_pass,jdbcType=INTEGER},
      </if>
      <if test="skeleton_length_mark != null" >
        skeleton_length_mark = #{skeleton_length_mark,jdbcType=VARCHAR},
      </if>
      <if test="skeleton_width_high_pass != null" >
        skeleton_width_high_pass = #{skeleton_width_high_pass,jdbcType=INTEGER},
      </if>
      <if test="skeleton_width_high_mark != null" >
        skeleton_width_high_mark = #{skeleton_width_high_mark,jdbcType=VARCHAR},
      </if>
      <if test="force_bet_spacing_pass != null" >
        force_bet_spacing_pass = #{force_bet_spacing_pass,jdbcType=INTEGER},
      </if>
      <if test="force_bet_spacing_mark != null" >
        force_bet_spacing_mark = #{force_bet_spacing_mark,jdbcType=VARCHAR},
      </if>
      <if test="force_row_spacing_pass != null" >
        force_row_spacing_pass = #{force_row_spacing_pass,jdbcType=INTEGER},
      </if>
      <if test="force_row_spacing_mark != null" >
        force_row_spacing_mark = #{force_row_spacing_mark,jdbcType=VARCHAR},
      </if>
      <if test="force_column_beam_pass != null" >
        force_column_beam_pass = #{force_column_beam_pass,jdbcType=INTEGER},
      </if>
      <if test="force_column_beam_mark != null" >
        force_column_beam_mark = #{force_column_beam_mark,jdbcType=VARCHAR},
      </if>
      <if test="force_plate_wall_pass != null" >
        force_plate_wall_pass = #{force_plate_wall_pass,jdbcType=INTEGER},
      </if>
      <if test="force_plate_wall_mark != null" >
        force_plate_wall_mark = #{force_plate_wall_mark,jdbcType=VARCHAR},
      </if>
      <if test="steelbar_spacing_pass != null" >
        steelbar_spacing_pass = #{steelbar_spacing_pass,jdbcType=INTEGER},
      </if>
      <if test="steelbar_spacing_mark != null" >
        steelbar_spacing_mark = #{steelbar_spacing_mark,jdbcType=VARCHAR},
      </if>
      <if test="steelbar_start_point_pass != null" >
        steelbar_start_point_pass = #{steelbar_start_point_pass,jdbcType=INTEGER},
      </if>
      <if test="steelbar_start_point_mark != null" >
        steelbar_start_point_mark = #{steelbar_start_point_mark,jdbcType=VARCHAR},
      </if>
      <if test="component_id != null" >
        component_id = #{component_id,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where component_id = #{component_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.ProductSteelbarSize" >
    update product_steelbar_size
    set mesh_length_width_pass = #{mesh_length_width_pass,jdbcType=INTEGER},
      mesh_length_width_mark = #{mesh_length_width_mark,jdbcType=VARCHAR},
      mesh_size_pass = #{mesh_size_pass,jdbcType=INTEGER},
      mesh_size_mark = #{mesh_size_mark,jdbcType=VARCHAR},
      skeleton_length_pass = #{skeleton_length_pass,jdbcType=INTEGER},
      skeleton_length_mark = #{skeleton_length_mark,jdbcType=VARCHAR},
      skeleton_width_high_pass = #{skeleton_width_high_pass,jdbcType=INTEGER},
      skeleton_width_high_mark = #{skeleton_width_high_mark,jdbcType=VARCHAR},
      force_bet_spacing_pass = #{force_bet_spacing_pass,jdbcType=INTEGER},
      force_bet_spacing_mark = #{force_bet_spacing_mark,jdbcType=VARCHAR},
      force_row_spacing_pass = #{force_row_spacing_pass,jdbcType=INTEGER},
      force_row_spacing_mark = #{force_row_spacing_mark,jdbcType=VARCHAR},
      force_column_beam_pass = #{force_column_beam_pass,jdbcType=INTEGER},
      force_column_beam_mark = #{force_column_beam_mark,jdbcType=VARCHAR},
      force_plate_wall_pass = #{force_plate_wall_pass,jdbcType=INTEGER},
      force_plate_wall_mark = #{force_plate_wall_mark,jdbcType=VARCHAR},
      steelbar_spacing_pass = #{steelbar_spacing_pass,jdbcType=INTEGER},
      steelbar_spacing_mark = #{steelbar_spacing_mark,jdbcType=VARCHAR},
      steelbar_start_point_pass = #{steelbar_start_point_pass,jdbcType=INTEGER},
      steelbar_start_point_mark = #{steelbar_start_point_mark,jdbcType=VARCHAR},
      component_id = #{component_id,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR}
    where product_steelbar_size_id = #{product_steelbar_size_id,jdbcType=INTEGER}
  </update>
  
  <select id="findByComponentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_steelbar_size
    where component_id = #{component_id,jdbcType=INTEGER}
  </select>
  
</mapper>