<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.Project" >
    <id column="pro_id" property="pro_id" jdbcType="INTEGER" />
    <result column="pro_name" property="pro_name" jdbcType="VARCHAR" />
    <result column="contacts_name" property="contacts_name" jdbcType="VARCHAR" />
    <result column="contacts_tel" property="contacts_tel" jdbcType="VARCHAR" />
    <result column="contacts_phone" property="contacts_phone" jdbcType="VARCHAR" />
    <result column="pr_id" property="pr_id" jdbcType="INTEGER" />
    <result column="ci_id" property="ci_id" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="details" property="details" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pro_id, pro_name, contacts_name, contacts_tel, contacts_phone, pr_id, ci_id, address, 
    details
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </select>
  <select id="findProjectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from project
    where pro_name = #{pro_name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.Project" >
    insert into project (pro_name, contacts_name, 
      contacts_tel, contacts_phone, pr_id, 
      ci_id, address, details
      )
    values (#{pro_name,jdbcType=VARCHAR}, #{contacts_name,jdbcType=VARCHAR}, 
      #{contacts_tel,jdbcType=VARCHAR}, #{contacts_phone,jdbcType=VARCHAR}, #{pr_id,jdbcType=INTEGER}, 
      #{ci_id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.Project" >
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pro_id != null" >
        pro_id,
      </if>
      <if test="pro_name != null" >
        pro_name,
      </if>
      <if test="contacts_name != null" >
        contacts_name,
      </if>
      <if test="contacts_tel != null" >
        contacts_tel,
      </if>
      <if test="contacts_phone != null" >
        contacts_phone,
      </if>
      <if test="pr_id != null" >
        pr_id,
      </if>
      <if test="ci_id != null" >
        ci_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="details != null" >
        details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pro_id != null" >
        #{pro_id,jdbcType=INTEGER},
      </if>
      <if test="pro_name != null" >
        #{pro_name,jdbcType=VARCHAR},
      </if>
      <if test="contacts_name != null" >
        #{contacts_name,jdbcType=VARCHAR},
      </if>
      <if test="contacts_tel != null" >
        #{contacts_tel,jdbcType=VARCHAR},
      </if>
      <if test="contacts_phone != null" >
        #{contacts_phone,jdbcType=VARCHAR},
      </if>
      <if test="pr_id != null" >
        #{pr_id,jdbcType=INTEGER},
      </if>
      <if test="ci_id != null" >
        #{ci_id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.Project" >
    update project
    <set >
      <if test="pro_name != null" >
        pro_name = #{pro_name,jdbcType=VARCHAR},
      </if>
      <if test="contacts_name != null" >
        contacts_name = #{contacts_name,jdbcType=VARCHAR},
      </if>
      <if test="contacts_tel != null" >
        contacts_tel = #{contacts_tel,jdbcType=VARCHAR},
      </if>
      <if test="contacts_phone != null" >
        contacts_phone = #{contacts_phone,jdbcType=VARCHAR},
      </if>
      <if test="pr_id != null" >
        pr_id = #{pr_id,jdbcType=INTEGER},
      </if>
      <if test="ci_id != null" >
        ci_id = #{ci_id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
    </set>
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.Project" >
    update project
    set pro_name = #{pro_name,jdbcType=VARCHAR},
      contacts_name = #{contacts_name,jdbcType=VARCHAR},
      contacts_tel = #{contacts_tel,jdbcType=VARCHAR},
      contacts_phone = #{contacts_phone,jdbcType=VARCHAR},
      pr_id = #{pr_id,jdbcType=INTEGER},
      ci_id = #{ci_id,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR}
    where pro_id = #{pro_id,jdbcType=INTEGER}
  </update>
  <select id="findAllProject" parameterType="int" resultType="com.shfb.rfid.manage.entity.Project">
		SELECT * FROM `project`
		<where>
			<if test="pr_id != null">
				pr_id=#{pr_id}
			</if>
			<if test="userProjectID != null">
				AND pro_id=#{userProjectID}
			</if>
			<if test="keyword != null">
				AND pro_name like "%"#{keyword}"%"
			</if>
		</where>
		order by `pro_id` asc
	</select>
	
	<select id="findProjectsByUserID" parameterType="int" resultType="com.shfb.rfid.manage.entity.Project">
		SELECT * FROM `project`
		<where>
			<if test="userProjectID != null">
				 pro_id=#{userProjectID}
			</if>
		</where>
		order by `pro_id` asc
	</select>
	
	 <select id="findAllProjectList" parameterType="int" resultType="com.shfb.rfid.manage.entity.Project">
		SELECT * FROM `project` order by `pro_id` asc
	</select>
	
	<select id="findProjectNames"  resultType="map">
		SELECT pro_id, pro_name FROM project
		<where>
			<if test="userProjectID != null">
				 pro_id=#{userProjectID}
			</if>
		</where>
		order by `pro_id` asc
	</select>
</mapper>