<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.UserRole" >
    <id column="user_role_id" property="user_role_id" jdbcType="INTEGER" />
    <result column="user_role_name" property="user_role_name" jdbcType="VARCHAR" />
    <result column="menu_ids" property="menu_ids" jdbcType="VARCHAR" />
    <result column="user_role_note" property="user_role_note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_role_id, user_role_name, menu_ids, user_role_note, creater, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from user_role
    where user_role_id = #{user_role_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_role
    where user_role_id = #{user_role_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.UserRole" >
    insert into user_role (user_role_name, menu_ids,creater,createTime,user_role_note
      )
    values (#{user_role_name,jdbcType=VARCHAR}, #{menu_ids,jdbcType=VARCHAR},#{creater,jdbcType=VARCHAR}, now(),#{user_role_note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.UserRole" >
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user_role_id != null" >
        user_role_id,
      </if>
      <if test="user_role_name != null" >
        user_role_name,
      </if>
      <if test="menu_ids != null" >
        menu_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user_role_id != null" >
        #{user_role_id,jdbcType=INTEGER},
      </if>
      <if test="user_role_name != null" >
        #{user_role_name,jdbcType=VARCHAR},
      </if>
      <if test="menu_ids != null" >
        #{menu_ids,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.UserRole" >
    update user_role
    <set >
      <if test="user_role_name != null" >
        user_role_name = #{user_role_name,jdbcType=VARCHAR},
      </if>
      <if test="menu_ids != null" >
        menu_ids = #{menu_ids,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="user_role_note != null" >
        user_role_note = #{user_role_note,jdbcType=VARCHAR},
      </if>
    </set>
    where user_role_id = #{user_role_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.UserRole" >
    update user_role
    set user_role_name = #{user_role_name,jdbcType=VARCHAR},
      menu_ids = #{menu_ids,jdbcType=VARCHAR}
    where user_role_id = #{user_role_id,jdbcType=INTEGER}
  </update>
  <select id="findAllUserRole" parameterType="int" resultType="com.shfb.rfid.manage.entity.UserRole">
		SELECT * FROM `user_role`
		<where>
			<if test="startTime!=null and startTime!=''">
                AND createTime &gt;= #{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                AND createTime &lt;= #{endTime}
            </if>
			<if test="keyword != null">
				AND user_role_name like "%"#{keyword}"%"
			</if>
		</where>
		order by `createTime` desc
	</select>
	<select id="findAllUserRoleList" parameterType="int" resultType="com.shfb.rfid.manage.entity.UserRole">
		SELECT * FROM `user_role` order by `createTime` asc
	</select>
</mapper>