<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shfb.rfid.manage.dao.UserMapper">


      <update id="updateUser" parameterType="UserEntity" >
        update user
        <set>
	         <if test="roleid       !=null">roleid       =#{roleid},</if>
	         <if test="authority       !=null">authority       =#{authority},</if>
	         <if test="updatetime !=null and updatetime!=''">updatetime=now()</if>
        </set>
        where id = ${id}
    </update>
    
    
    
    
    <select id="findUser" parameterType="map" resultType="UserEntity">
		SELECT u.* FROM user u 
		WHERE (u.`username` = #{username} or u.`telephone` = #{username}) AND u.`password` = #{password}
	</select>
	<select id="findUserByName" parameterType="map" resultType="UserEntity">
		SELECT u.* FROM user u 
		WHERE u.`username` = #{username}
	</select>
    <select id="findUserById" parameterType="map" resultType="UserEntity">
		SELECT u.* FROM user u 
	    WHERE u.id = #{id}
	</select>
    <select id="findAllUserForBg" parameterType="int" resultType="UserEntity">
         SELECT * FROM `user`
		 <where> 
			<if test="audit != null">
			    audit=#{audit}
			</if>
		    <if test="keyword != null">
		        AND username like "%"#{keyword}"%"
		    </if>
		 </where>
         order by `registertime` desc
    </select>
</mapper>