<!-- BEGIN HEAD -->
<head>
<link href="assets/css/login-soft.css" rel="stylesheet" type="text/css">
<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="assets/js/login-soft.js" type="text/javascript"></script>
<script src="assets/js/common.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {     
 CommonObj.init();
 Login.init();
});
 var realityHeight = parseInt($("#base_content_container2").outerHeight()); // 内容高度
    var bodyHeight = Math.max( window.innerHeight, document.body.clientHeight );
    if((bodyHeight - 80) > realityHeight){
    $("#base_content_container2").css("height",(bodyHeight - 140));
    }
</script>
<!-- END JAVASCRIPTS -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="menu-always-on-top">
<!-- BEGIN LOGO -->
<div class="login" id="base_content_container2">
<div class="logo">
    <a href="">
  <!--  <img src="assets/img/logo/logo-white.png" alt="" width="150px"/>-->
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <div class="login-form">
        <h3 class="form-title">登录</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>
            输入用户名和密码. </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">用户名</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" ng-model="username" placeholder="用户名" name="username"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" ng-model="password" placeholder="密码" name="password"/>
            </div>
        </div>
        <div class="form-actions">
            <label class="checkbox"><a href="javascript:;" id="forget-password" style="color:#fff; text-decoration:none">忘记密码？ </a></label>
            <button ng-click="login()"  class="btn blue pull-right">
            登录 <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
        <div class="create-account">
            <p>
                 没有账户 ?&nbsp; <a href="#/register" style="color:#fff">
                注册新用户 </a>
            </p>
        </div>
    </div>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <div class="forget-form">
        <h3>忘记密码 ?</h3>
        <p>
             输入手机号码找回密码.
        </p>
        <div class="form-group">
            <div class="input-icon input-group"> 
            <i class="fa fa-phone"></i>
            <input type="text" placeholder="手机号" ng-model="telephonenum" class="form-control placeholder-no-fix" name="phone"/> 
            <span class="input-group-btn"> 
            <button class="btn blue" type="button" id="J_getCode" ng-click="sendPwdVerifyCode()">发送验证码</button>
            <button class="btn blue" type="button" id="J_resetCode" style="display:none"><span id="J_second">60</span>秒后重发</button>
            </span> 
           </div> 
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">验证码</label>
            <div class="input-icon">
                <i class="fa fa-info"></i>
                <input class="form-control placeholder-no-fix" type="text" ng-model="pwdverifycode" autocomplete="off" placeholder="验证码" name="validate_code"/>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn">
            <i class="m-icon-swapleft"></i> 返回 </button>
            <button ng-click="pwdCodeVerify()" type="button" class="btn blue pull-right" id="reset-password">
            提交 <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    </div>
    <!-- END FORGOT PASSWORD FORM -->
    <!-- BEGIN Reset FORM -->
      <div class="reset-form">
          <h3 class="form-title">重置密码</h3>
          <div class="form-group">
              <label class="control-label visible-ie8 visible-ie9">密码</label>
              <div class="input-icon">
                  <i class="fa fa-lock"></i>
                  <input class="form-control placeholder-no-fix" ng-model="changepwd1" type="password" autocomplete="off" placeholder="密码" name="password" id="password1"/>
                  <span id="password-error" class="help-block" style="display:none">密码出错！</span>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label visible-ie8 visible-ie9">确认密码</label>
              <div class="input-icon">
                  <i class="fa fa-lock"></i>
                  <input class="form-control placeholder-no-fix" ng-model="changepwd2" type="password" autocomplete="off" placeholder="确认密码" name="rpassword" id="password2"/>
                  <span id="rpassword-error" class="help-block" style="display:none">确认密码出错！</span>
              </div>
          </div>
          <div class="form-actions">
              <button  ng-click="changePwd()" class="btn blue col-md-12" id="reset_password">
              重置
              </button>
          </div>
      </div>
      <!-- END Reset FORM -->
</div>
<!-- END LOGIN -->
</div>
</body>