<!--DOC: menu-always-on-top class to the body element to set menu on top -->
<body class="menu-always-on-top">
  <!-- REGISTER block BEGIN -->
  <div class="register-block content content-center" id="base_content_container">
    <div class="container">
      <h2>账户<b> 注册</b></h2>
      <div class="row padding-top-20">
        <div class="col-md-12">
          <div class="portlet light" id="form_wizard_1">
            <div class="portlet-body form">
             <form  class="form-horizontal" id="submit_form" >
                <div class="form-wizard">
                  <div class="form-body">
                    <ul class="nav nav-pills nav-justified steps">
                      <li>
                          <a href="#tab1" data-toggle="tab" class="step">
                          <span class="number">
                          1 </span>
                          <span class="desc">
                          <i class="fa fa-check"></i> 选择用户类型 </span>
                          </a>
                      </li>
                      <li>
                          <a href="#tab2" data-toggle="tab" class="step">
                          <span class="number">
                          2 </span>
                          <span class="desc">
                          <i class="fa fa-check"></i> 设置账户密码 </span>
                          </a>
                      </li>
                      <li>
                          <a href="#tab3" data-toggle="tab" class="step">
                          <span class="number">
                          3 </span>
                          <span class="desc">
                          <i class="fa fa-check"></i> 注册成功 </span>
                          </a>
                      </li>
                    </ul>
                    <div id="bar" class="progress progress-striped" role="progressbar">
                      <div class="progress-bar progress-bar-blue" style="width:33.33%;">
                      </div>
                    </div>
                    <div class="tab-content">
                      <div class="alert alert-danger display-none">
                        <button class="close" data-dismiss="alert"></button>
                        请检查！
                      </div>
                      <div class="alert alert-success display-none">
                        <button class="close" data-dismiss="alert"></button>
                        验证成功!
                      </div>
                      <div class="tab-pane active" id="tab1">
                      <div class="row padding-top-20 margin-bottom-40">
                        <div class="col-md-offset-3 col-md-3" id="geek_gate" ng-click="geek_gate()">
                           <h3 class="margin-bottom-20">在校学生</h3>
                          <div class="account-type selected" >
                           <span><img src="assets/img/icons/student.png" alt="极客入口" title="极客入口"/></span> 
                          </div>
                        </div>
                        <div class="col-md-3" id="company_gate" ng-click="company_gate()">
                         <h3 class="margin-bottom-20">企业及其他</h3>
                          <div class="account-type">
                            <span ><img src="assets/img/icons/company.png" alt="企业入口" title="企业入口"/></span>
                          </div>
                        </div>
                      </div>
                      </div>
                     
                      <div class="tab-pane" id="tab2">
					    <div class="form-group">
                          <label class="control-label col-md-offset-1 col-md-3">用户名 <span class="required">
                          * </span>
                          </label>
                          <div class="col-md-4">
                            <input type="text" class="form-control"  ng-model="username" name="username"/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-offset-1 col-md-3">输入手机号码 <span class="required">
                          * </span>
                          </label>
                          <div class="col-md-4">
                            <div class="input-group" name="phone"  > 
                             <input type="text"  class="form-control" id="phone" ng-model="telephone"/> 
                             <span class="input-group-btn" > 
                               <button class="btn blue" type="button" id="J_getCode" ng-click="getVerCode();">发送验证码</button>
                               <button class="btn blue" type="button" id="J_resetCode" style="display:none"><span id="J_second">60</span>秒后重发</button>
                             </span> 
                            </div> 
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-offset-1 col-md-3">手机验证码 <span class="required">
                          * </span>
                          </label>
                          <div class="col-md-4">
                            <input type="text" ng-model="verCode" class="form-control" name=""/>
                          </div>
                        </div>
                        
                      <!--   <div class="form-group">
                          <label class="control-label col-md-offset-1 col-md-3">输入邮箱 <span class="required">
                          * </span>
                          </label>
                          <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="email"  name="email"/>
                          </div>
                        </div> -->
                        <div class="form-group">
                          <label class="control-label col-md-offset-1 col-md-3">输入密码 <span class="required">
                          * </span>
                          </label>
                          <div class="col-md-4">
                            <input type="password" class="form-control" ng-model="password" name="password" id="submit_form_password"/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-offset-1 col-md-3">再次输入密码 <span class="required">
                          * </span>
                          </label>
                          <div class="col-md-4">
                            <input type="password" class="form-control" ng-model="rpassword"  name="rpassword"/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-offset-1 col-md-3"> <span class="required">
                          * </span>
                          </label>
                          <div class="col-md-4">
                            <div class="checkbox-list">
                              <label><input type="checkbox" checked="checked"/> 创建帐号时，我同意遵守《蔚蓝树服务条款》</label>
                            </div>
                          </div>
                        </div>
					  </div>
                      <div class="tab-pane" id="tab3">
                        <h3 class="block"><i class="fa fa-check-circle-o" style="color:green; font-size:30px;padding:5px;"></i> 恭喜您，注册成功！</h3>
                        <div class="form-group">
                          <label class="control-label col-md-offset-1 col-md-3">用户名:</label>
                          <div class="col-md-4">
                            <p class="form-control-static" data-display="username">
                            {{username}}
                            </p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-offset-1 col-md-3">手机:</label>
                          <div class="col-md-4">
                            <p class="form-control-static" data-display="phone">
                            {{telephone}}
                            </p>
                          </div>
                        </div>
                        <!-- <div class="form-group">
                          <label class="control-label col-md-offset-1 col-md-3">邮箱:</label>
                          <div class="col-md-4">
                            <p class="form-control-static" data-display="email">
                            {{email}}
                            </p>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-actions">
                    <div class="row">
                      <div class="col-md-12">
                        <span ng-click="back()"><a href="javascript:;" class="btn default button-previous" style="display:none">
                        <i class="m-icon-swapleft"></i> 返回 </a></span>
						<span ng-click="back2()"><a href="javascript:;" class="btn default button-previous2" style="display:none">
                        <i class="m-icon-swapleft"></i> 返回 </a></span>
                        <span ng-click="register()"><a href="javascript:;" class="btn blue button-next" id="button-next">
                        下一步 <i class="m-icon-swapright m-icon-white"></i>
                        </a></span>
						<span ng-click="register2()" ><a href="javascript:;" class="btn blue button-next2" id="button-next2" style="display:none">
                        下一步 <i class="m-icon-swapright m-icon-white"></i>
                        </a></span>
                        <a ng-click="loginGoSpace()" class="btn green button-submit" style="display:none">
                        完善个人信息 <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Global js END -->
</body>