    <div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
    	<!-- 按钮操作区域开始 -->
			<!-- 按钮操作区域开始 -->
			<div class="col-sm-12" style="height:34px">
			<div class="col-sm-3">
				<button type="button" class="btn btn-default pull-left" id="plusCold" data-toggle="modal" data-target="#addCompFactory">
					<span class="glyphicon glyphicon-plus"></span>添加构件厂
				</button>
				</div>
		        <div  class="col-sm-4">								
					关键字查询：<input type="text" ng-model="keyword" placeholder="请输入关键词" id="myText" />
					<div id="searchImg" ng-click="goSearch()">
						<span class="glyphicon glyphicon-search"></span>
					</div>
				</div>
				<div  class="col-sm-5">								
					根据地区查询：<select id=""  class="form-control" style="height:35px;width:100px !important"
                                     ng-model="searchprovinceid" ng-disabled="editable"
                                     ng-change="searchProvinceSelected(searchprovinceid)"
                                     ng-options="x.pr_id as x.pr_province for x in provinces"></select>
				</div>
			</div>
			<div class="col-sm-12" style="height:34px">
			<button type="button" class="btn btn-default pull-right" ng-click="showAll()">
					显示全部
				</button>	
			</div>
			<!-- 按钮操作区域结束 -->
			<!-- 表格操作区域开始 -->
			<div class="tableArea">
				<table class="table table-striped table-bordered" id="tableArea" ng-model="Allcompfactorys">
				   <thead>
				      <tr>
				         <th>
				         	<div>
				         		<input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox" >
				         		<label for="allSecSon" >全选</label>
				         	</div>
				         </th>
				         <th>序号</th>
				         <th>构件厂名称</th>
				         <th>联系人</th>
				         <th>手机号码</th>
				         <th>电话</th>
				         <th>地区</th>
				         <th>地址</th>
				         <th>操作</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr ng-repeat="compfactory in Allcompfactorys">
				         <td>
						 <input type="checkbox" ng-checked="exists(compfactory, selected)"
                    				ng-click="toggle(compfactory, selected)"/>
				         </td>
				        <!--  <td>{{compfactory.compfactory.comp_factory_id}}</td> -->
				        <td>{{$index+1}}</td>
				         <td>{{compfactory.compfactory.comp_factory_name}}</td>
				         <td>{{compfactory.compfactory.contacts_name}}</td>
				         <td>{{compfactory.compfactory.contacts_tel}}</td>
				         <td>{{compfactory.compfactory.contacts_phone}}</td>
				         <td>{{compfactory.provinceName}}-{{compfactory.cityName}}</td>
				         <td>{{compfactory.compfactory.address}}</td>
				         <td>
  				            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#showCompFactory" ng-click="goDetail(compfactory.compfactory.comp_factory_id)">查看</button>
  				            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateCompFactory" ng-click="goUpdate(compfactory.compfactory.comp_factory_id)">更新</button>
				         	<button class="delete" ng-click="goDeleteCompFactory(compfactory.compfactory.comp_factory_id)"></button>
				         </td>
				      </tr>
				   </tbody>
				</table>
				<div class="page">
               <!-- 翻页功能 -->
               <div class="row" style="text-align:center">
                    <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	</div>
			</div>
			<!-- 表格操作区域结束 -->
			<div class="three">
				<div class="btn-group" role="group">
				<!--    <button type="button" class="btn btn-default" ng-click="printReport()">打印报表</button> -->
				   <button type="button" class="btn btn-default" ng-click="deleteCompFactorys()">批量删除</button>
				</div>
			</div>
    </div>  
   	<!--  添加compfactory模态框 -->
   	<div class="modal fade" id="addCompFactory" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               添加构件厂
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="compfactoryForm">
					   <div class="form-group">
					      <label for="compfactoryname" class="col-sm-2 control-label"><font color="red">*</font>名称</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" ng-model="compfactoryname" name="compfactoryname" placeholder="请输入构件厂名称">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="province" class="col-sm-2 control-label">省市</label>
					      <div class="col-sm-10">
					      <div class="col-sm-3">
					        <select id="" class="form-control" style="height:35px;width:100px !important"
                                     ng-model="addProvinceid" ng-disabled="editable"
                                     ng-change="provinceSelected(addProvinceid)"
                                     ng-options="x.pr_id as x.pr_province for x in provinces"></select>
                                     </div>
                           <div class="col-sm-3">
                           <select id=""   class="form-control"  style="height:35px;width:100px !important" ng-model="addCityid"
                                    ng-disabled="editable" ng-change="citySelected(addCityid)"
                                    ng-options="x.ci_id as x.ci_city for x in citys"></select>
                                    </div>
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="address" class="col-sm-2 control-label">详细地址</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="address" ng-model="address"
					            placeholder="请输入详细地址">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactName" class="col-sm-2 control-label"><font color="red">*</font>联系人</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactName" name="contactName" ng-model="contactName"
					            placeholder="请输入联系人姓名">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactTel" class="col-sm-2 control-label">手机号码</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactTel" name="contactTel" ng-model="contactTel"
					            placeholder="请输入联系人手机号">
					      </div>
					   </div>
					    <div class="form-group">
					      <label for="contactPhone" class="col-sm-2 control-label">电话</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactPhone" name="contactPhone" ng-model="contactPhone"
					            placeholder="请输入联系人电话（座机）">
					      </div>
					   </div>
	            	</form>
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">取消
	            </button>
	            <button type="button" ng-click="submit()" class="btn btn-primary">
	                                                       提交
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!--  添加compfactory模态框 end -->
   	<!--  查看compfactory模态框 -->
   	<div class="modal fade" id="showCompFactory" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               查看构件厂
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="compfactoryForm">
					   <div class="form-group">
					      <label for="compfactoryname" class="col-sm-2 control-label">名称</label>
					      <div class="col-sm-10">
					         {{compfactoryDetail.compfactory.comp_factory_name}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="province" class="col-sm-2 control-label">省市</label>
					      <div class="col-sm-10">
					        {{compfactoryDetail.provinceName}}-{{compfactoryDetail.cityName}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="address" class="col-sm-2 control-label">详细地址</label>
					      <div class="col-sm-10">
					      {{compfactoryDetail.compfactory.address}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactName" class="col-sm-2 control-label">联系人</label>
					      <div class="col-sm-10">
					      {{compfactoryDetail.compfactory.contacts_name}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactTel" class="col-sm-2 control-label">手机号码</label>
					      <div class="col-sm-10">
					      {{compfactoryDetail.compfactory.contacts_tel}}
					      </div>
					   </div>
					    <div class="form-group">
					      <label for="contactPhone" class="col-sm-2 control-label">电话</label>
					      <div class="col-sm-10">
					      {{compfactoryDetail.compfactory.contacts_phone}}
					      </div>
					   </div>
	            	</form>
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!--  查看compfactory模态框 end -->
	<!--  更新compfactory模态框 -->
   	<div class="modal fade" id="updateCompFactory" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               更新构件厂
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="compfactoryForm">
					   <div class="form-group">
					      <label for="compfactoryname" class="col-sm-2 control-label"><font color="red">*</font>名称</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" ng-model="compfactoryUpdate.comp_factory_name" name="comp_factory_name" placeholder="请输入构件厂名称">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="province" class="col-sm-2 control-label">省市</label>
					      <div class="col-sm-10">
					      <div class="col-sm-3">
					        <select id=""  class="form-control" style="height:35px;width:100px !important"
                                     ng-model="compfactoryUpdate.pr_id" ng-disabled="editable"
                                     ng-change="provinceSelectedForUpdate(compfactoryUpdate.pr_id)"
                                     ng-options="x.pr_id as x.pr_province for x in provincesForUpdate"></select>
                                     </div>
                              <div class="col-sm-3">
                           <select id=""  class="form-control" style="height:35px;width:100px !important" ng-model="compfactoryUpdate.ci_id"
                                    ng-disabled="editable" ng-change="citySelectedForUpdate(compfactoryUpdate.ci_id)"
                                    ng-options="x.ci_id as x.ci_city for x in citysForUpdate"></select>
                                    </div>
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="address" class="col-sm-2 control-label">详细地址</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="address" ng-model="compfactoryUpdate.address"
					            placeholder="请输入详细地址">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactName" class="col-sm-2 control-label"><font color="red">*</font>联系人</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactName" name="contactName" ng-model="compfactoryUpdate.contacts_name"
					            placeholder="请输入联系人姓名">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactTel" class="col-sm-2 control-label">手机号码</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactTel" name="contactTel" ng-model="compfactoryUpdate.contacts_tel"
					            placeholder="请输入联系人手机号">
					      </div>
					   </div>
					    <div class="form-group">
					      <label for="contactPhone" class="col-sm-2 control-label">电话</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactPhone" name="contactPhone" ng-model="compfactoryUpdate.contacts_phone"
					            placeholder="请输入联系人电话（座机）">
					      </div>
					   </div>
	            	</form>
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">取消
	            </button>
	            <button type="button" ng-click="update()" class="btn btn-primary">
	                                                       更新
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!--  更新compfactory模态框 end -->
