<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<img alt="" src="http://139.196.139.164:65531/shfb/home1.png" style="position:relative" usemap="#planetmap">
		<map name="planetmap" id="planetmap">

		<area shape="poly" coords="1240,190,1200,300,1280,310,1340,210" href ="http://140.206.216.23:8032/test.html?bl=30" 
			target ="modelPic" alt="Venus" />
		<area shape="poly" coords="1195,110,1180,180,1350,200,1380,150" href ="http://140.206.216.23:8032/test.html?bl=34" 
			target ="modelPic" alt="Venus" />
		 <area shape="poly" coords="1020,90,1008,120,1110,156,1150,100" href ="http://140.206.216.23:8032/test.html?bl=35" 
			target ="modelPic" alt="Venus" /> 
		 <area shape="poly" coords  ="810,40,800,80,950,100,950,61" href ="http://140.206.216.23:8032/test.html?bl=36" 
			target ="modelPic" alt="Venus" />   
		 <area shape="poly" coords  ="760,140,765,250,845,260,850,170" href ="http://140.206.216.23:8032/test.html?bl=27" 
			target ="modelPic" alt="Venus" />
		<area shape="poly" coords  ="650,110,650,210,740,230,730,130" href ="http://140.206.216.23:8032/test.html?bl=28" 
			target ="modelPic" alt="Venus" />
		<area shape="poly" coords  ="730,80,740,130,800,140,810,90" href ="http://140.206.216.23:8032/test.html?bl=33" 
			target ="modelPic" alt="Venus" />	
		<area shape="poly" coords  ="890,110,870,210,980,240,1010,130" href ="http://140.206.216.23:8032/test.html?bl=32" 
			target ="modelPic" alt="Venus" />
		<area shape="poly" coords  ="1050,160,1030,260,1140,280,1180,180" href ="http://140.206.216.23:8032/test.html?bl=31" 
			target ="modelPic" alt="Venus" />
		</map>
</body>
<script type="text/javascript">
/* function getOs() 
{ 
    var OsObject = ""; 
   if(navigator.userAgent.indexOf("MSIE")>0) { 
        return "MSIE"; 
   } 
   else if(isFirefox=navigator.userAgent.indexOf("Firefox")>0){ 
        return "Firefox"; 
   } 
   else if(isMozilla=navigator.userAgent.indexOf("Opera")>0){ //这个也被判断为chrome
        return "Opera"; 
   } 
   else if(isFirefox=navigator.userAgent.indexOf("Chrome")>0){ 
        return "Chrome"; 
   } 
   else if(isSafari=navigator.userAgent.indexOf("Safari")>0) { 
        return "Safari"; 
   }  
   else if(isCamino=navigator.userAgent.indexOf("Camino")>0){ 
        return "Camino"; 
   } 
   else if(isMozilla=navigator.userAgent.indexOf("Gecko/")>0){ 
        return "Gecko"; 
   }
   
} 
 alert("您的浏览器类型为:"+navigator.userAgent); */
</script>
</html>