     <style>
     	.picture {
     		float:left;
     		border:1px solid white;
     	}
     </style>
    <div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;" ng-show="ismanageShow">
    	<!-- 按钮操作区域开始 -->
			<div class="row" style="height:34px">
				<div class="col-sm-2">
					<div class="btn-group pull-left" id="status">
					项目：<select style="padding-left:0px" 
					ng-model="selectedProject" ng-options="x.pro_name for x in projects"
					ng-change="projectChange(selectedProject.pro_id)"
					>			
					</select>
					</div>
				</div>
		        <div  class="col-sm-2">								
					<div class="btn-group pull-left" id="status">
					单体：<select ng-model="selectSingle" ng-options="x.single_name for x in singles"
					ng-change="singleChange(selectedProject.pro_id, selectSingle.single_name)"
					>
					</select>
					</div>
				</div>
				<div  class="col-sm-2">								
					<div class="btn-group pull-left" id="status">
					楼层：<select ng-model="selectFloor" ng-options="x.floor for x in floors">
					</select>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="btn-group pull-left" id="status">
					构件类型：<select ng-model="selectType" ng-options="x.component_type for x in componentTypes">
					</select>
					</div>
				</div>
		        <div  class="col-sm-2">								
					<div class="btn-group pull-left" id="status">
					构件状态：<select ng-model="selectStatus" ng-options="x.component_status_name for x in statuslist">
					</select>
					</div>
				</div>
				<div  class="col-sm-2">								
					<div class="btn-group pull-left" id="status">
					订单编号：<select style="padding-left:0px" ng-model="selectcomponent_order" ng-options="x.order_num for x in component_orders">
					</select>
					</div>
				</div>
				<div  class="col-sm-2">	
					<div class="btn-group pull-left" id="status">
					&nbsp;
					<button type="button" class="btn btn-default pull-right" ng-click="getComponents()">
							搜索
					</button>
					</div>							
					
				</div>				
			</div>
			<br>
			<br>
			<div class="row" style="height:8px">
				<div class="three">
				<div class="btn-group pull-right" role="group" style="margin-right:10px">
				    <button type="button" class="btn btn-default" ng-click="modalProduct('#productPlan')">提交生产计划</button>
				  	<button type="button" class="btn btn-default" ng-click="exportProduct()">导出生产计划</button>
				</div>
			</div>	
			</div>
			<br>
			<!-- 按钮操作区域结束 -->
			<!-- 表格操作区域开始 -->
			<div class="tableArea">
				<table class="table table-striped table-bordered" id="tableArea" ng-model="components">
				   <thead>
				      <tr>
				         <th>
				         	<div>
				         		<input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox" >
				         		<label for="allSecSon" >全选</label>
				         	</div>
				         </th>
				         <th>序号</th>
				         <th>构件编号</th>
						 <th>订单编号</th>
				         <th>生产计划开始</th>
				         <th>生产计划结束</th>
		
				         <th>已催货</th>
				         <th>计划供应时间</th>
				         <th>催货交期</th>
				         <th>状态</th>
				         <th>验收结果</th>
				         <th>操作</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr ng-repeat="component in components">
				         <td>
						 <input type="checkbox" ng-checked="exists(component, selected)"
                    				ng-click="toggle(component, selected)"/>
				         </td>
				         <td>{{$index+1}}</td>
				         <td>{{component.component_num}}</td>
				          <td>{{component.order_num}}</td> 
				         <td>{{component.product_plan_begin_date}}</td>
				         <td>{{component.product_plan_end_date}}</td>
				        
				         <td ng-if="component.expedit_status=='1'">未催货</td>
				         <td ng-if="component.expedit_status=='2'">已催货</td>
				         <td>{{component.plan_end_date}}</td>
				         <td>{{component.expedit_date}}</td>
				         <td>{{component.component_status_name}}</td>
				         <td ng-if="component.check_res=='1'">未验收</td>
				         <td ng-if="component.check_res=='2'">验收通过</td>
				         <td ng-if="component.check_res=='3'">验收不通过</td>
				         <td>
  				            <button class="btn btn-primary btn-sm"  ng-click="showInfo(component.component_id)">查看</button>
				         	<!-- <button class="delete" ng-click="deleteComp(component.component_id)"></button> -->
				         </td>
				      </tr>
				   </tbody>
				</table>
				<div class="page">
               <!-- 翻页功能 -->
               <div class="row" style="text-align:center">
                    <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	</div>
			</div>
			<!-- 表格操作区域结束 -->
									
    </div>
    
    	<!-- 构件查看 -->
    	<div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;" ng-show="isinfoShow">
    		<div class="row" style="padding-bottom:15px;padding-left:30px;">
    			<h4 class="modal-title" >
	               	&nbsp;进度<br>
	    		</h4>
    		</div>
    		
    		<div class="row" style="padding-left:30px;padding-bottom:15px">
    			<div class="col-md-1">
    				<div class="row">
					<button class="btn btn-default" disabled="disabled" style="height:50px">
						初始
					</button>------>	
					</div>
					<div class="row">
						计划开始时间：{{componentInfo.plan_begin_date}}
					</div>
					<div class="row">
						计划完成时间：{{componentInfo.plan_end_date}}
					</div>	
				</div>
				<div class="col-md-1" ng-repeat="progress in progresses" style="margin-left:-15px;">
					<div class="row">						
						<button class="btn btn-default" disabled="disabled" style="height:50px">
							{{progress.component_status_name}}
						</button>------>			
					</div>
					<div class="row">
							{{progress.operation_user}}
					</div>
					<div class="row">
							{{progress.operation_date}}
					</div>	
				</div>							
			</div>
			
			<div class="row" style="padding-left:30px;" ng-init="isedit=false">
				<h4 class="modal-title">
	               	构件详情<span id="component_id" style="visibility:hidden">{{componentInfo.component_id}}</span><br>
	    		</h4><hr>
			</div>
			
			<div class="row" style="padding-left:30px;padding-bottom:15px">
				
				<div class="col-md-3">
					单体名称：{{componentInfo.single_name}}
				</div>
				<div class="col-md-3">
					楼层：{{componentInfo.floor}}
				</div>
				<div class="col-md-3">
						<span style="float:left">催货交期：{{componentInfo.expedit_date}}</span>	     
				</div>
			</div> 
			<div class="row" style="margin-top:10px;padding-left:30px;padding-bottom:15px">
				<div class="col-md-3">
					      <span style="float:left">计划开始时间：</span>			    
					       <span>{{componentInfo.plan_begin_date}}</span>
				</div>
				<div class="col-md-3">
					 	  <span style="float:left">计划完成时间：</span>				
					      <span>{{componentInfo.plan_end_date}}</span>
				</div>
				<div class="col-md-3">
						  <span style="float:left">实际开始时间：</span>					  
					      <span>{{componentInfo.real_begin_date}}</span>
				</div>
				<div class="col-md-3">
					 	  <span style="float:left">实际完成时间：</span>				    
					      <span>{{componentInfo.real_end_date}}</span>
				</div>
			</div> 
			<div class="row" style="margin-top:10px;padding-left:30px;padding-bottom:15px">
				<div class="col-md-3">
					构件编号：{{componentInfo.component_num}}
				</div>
				<div class="col-md-3">
					构件名称：{{componentInfo.component_name}}
				</div>
				<div class="col-md-3">
					构件规格：{{componentInfo.component_size}}
				</div>
				<div class="col-md-3">
					<span style="float:left">状态：</span>					
					<span>{{componentInfo.component_status_name}}</span>				
				</div>
			</div> 
			<div class="row" style="margin-top:10px;padding-left:30px;padding-bottom:15px">
				<div class="col-md-3">
					是否绑定：<span ng-if="componentInfo.bind_status=='1'">未绑定</span> 
						    <span ng-if="componentInfo.bind_status=='2'">已绑定</span>
				</div>
				<div class="col-md-3">
					是否催货：<span ng-if="componentInfo.expedit_status=='1'">未催货</span>
					<span ng-if="componentInfo.expedit_status=='2'">已催货</span> 
				</div>
				<div class="col-md-3">
					订单编号：{{componentInfo.order_num}}
				</div>
				<div class="col-md-3">
					构件厂：{{componentInfo.comp_factory_name}}
				</div>
			</div>
			<div class="row" style="margin-top:10px;padding-left:30px;padding-bottom:30px">
				<div class="col-md-3">
					下单人：{{componentInfo.user_name}}
				</div>
				<div class="col-md-3">
					下单时间：{{componentInfo.order_date}}
				</div>
				<div class="col-md-3">
						  <span style="float:left">生产计划开始日期：</span>
					      <!-- <span ng-if="isedit">
					         <input id="product_plan_begin_date" type="text" style="width:150px" class="form-control" ng-model="componentInfo.product_plan_begin_date" placeholder="生产计划开始时间">
					      </span> -->
					      <span ng-if="!isedit">{{componentInfo.product_plan_begin_date}}</span>			
							<div class='input-group date datetimepickerDisplay' style="display:none;">  
                    		<input id="product_plan_begin_date" style="width:40%;position: relative" type='text' class="form-control" placeholder="生产计划开始时间" ng-model="componentInfo.product_plan_begin_date" />  
                    			<span class="input-group-addon" style="width:14px">  
                        		<span class="glyphicon glyphicon-calendar"></span>  
                    			</span>  
                			</div>
				</div>
				<div class="col-md-3">
						  <span style="float:left">生产计划完成日期：</span>
					      <!-- <span ng-if="isedit">
					         <input id="product_plan_end_date" type="text" style="width:150px" class="form-control" ng-model="componentInfo.product_plan_end_date" placeholder="生产计划完成日期">
					      </span> -->
					       <span ng-if="!isedit">{{componentInfo.product_plan_end_date}}</span>
					       <div class='input-group date datetimepickerDisplay' style="display:none;">  
                    		<input id="product_plan_end_date" style="width:40%;position: relative" type='text' class="form-control" placeholder="生产计划完成日期" ng-model="componentInfo.product_plan_end_date" />  
                    			<span class="input-group-addon" style="width:14px">  
                        		<span class="glyphicon glyphicon-calendar"></span>  
                    			</span>  
                			</div>
				</div>
			</div> 
			<div class="row">
				<div class="col-sm-24 col-md-12">
					<h4 class="page-header" style="background:#F1F1F1;">
	               		构件图纸<br>
	    			</h4>
	    			<div class="docs-galley">
          				<ul class="docs-pictures clearfix" id="viewer5">
            				 <li class="picture">
            					<img src="{{componentInfo.drawing}}" style="width:100px;height:100px" ng-click="viewerShow()">
            				</li> 
            				
          				</ul>
       		 		</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<h4 class="page-header" style="background:#F1F1F1;">
	               		构件制作<br>
	    			</h4>
	    			<div class="docs-galley">
          				<ul class="docs-pictures clearfix" id="viewer1">
            				 <li ng-repeat="picture_comp_make in picture_comp_makes" ng-if="picture_comp_make!=''" class="picture">
            					<img src="{{picture_comp_make}}" style="width:100px;height:100px" ng-click="viewerShow()">
            				</li> 
            				
          				</ul>
       		 		</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<h4 class="page-header" style="background:#F1F1F1;">
	               		生产验收<br>
	    			</h4>
	    			<div class="docs-galley">
          				<ul class="docs-pictures clearfix" id="viewer2">
          					<li ng-repeat="picture_product_accept in picture_product_accepts" ng-if="picture_product_accept!=''" class="picture">
            					<img src="{{picture_product_accept}}" style="width:100px;height:100px" ng-click="viewerShow()">
            				</li>
          				</ul>
       		 		</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<h4 class="page-header" style="background:#F1F1F1;">
	               		收货验收<br>
	    			</h4>
	    			<div class="docs-galley">
          				<ul class="docs-pictures clearfix" id="viewer3">
            				<li ng-repeat="picture_receipt in picture_receipts" ng-if="picture_receipt!=''" class="picture">
            					<img src="{{picture_receipt}}" style="width:100px;height:100px" ng-click="viewerShow()">
            				</li>
          				</ul>
       		 		</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<h4 class="page-header" style="background:#F1F1F1;">
	               		安装验收<br>
	    			</h4>
	    			<div class="docs-galley">
          				<ul class="docs-pictures clearfix" id="viewer4">
            				<li ng-repeat="picture_install in picture_installs" ng-if="picture_install!=''" class="picture">
            					<img src="{{picture_install}}" style="width:100px;height:100px" ng-click="viewerShow()">
            				</li>
          				</ul>
       		 		</div>
				</div>
			</div>
			<div class="three">
				<div class="btn-group" role="group">
					<button ng-if="isedit" type="button" class="btn btn-default" ng-click="uploadComp()">保存</button>
				    <button ng-if="!isedit" type="button" class="btn btn-default" ng-click="editComp()">编辑</button>
				   <button type="button" class="btn btn-default" ng-click="goback()">返回</button>
				</div>
			</div>
    	</div>
    	<!--  添加生产计划模态框 -->
   	<div class="modal fade" id="productPlan" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               添加生产计划
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="projectForm">
	            		
	            		<div class="form-group">
					      <label for="projectname" class="col-sm-4 control-label">项目名称</label>
					      <div class="col-sm-8">
					         {{selectedProject.pro_name}}
					      </div>
					   </div>
					   
					   <div class="form-group">
					      <label for="address" class="col-sm-4 control-label">单体名称</label>
					      <div class="col-sm-8">
					         {{selectSingle.single_name}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactName" class="col-sm-4 control-label">楼层名称</label>
					      <div class="col-sm-8">
					        {{selectFloor.floor}}
					      </div>
					   </div>
	            	
					   <div class="form-group">
					      <label for="projectname" class="col-sm-4 control-label">生产计划开始日期：</label>
					      <div class="col-sm-8">
<!-- 					         <input type="text" class="form-control" ng-model="product_plan_begin_date" name="proname" placeholder="请输入生产计划开始日期">
 -->					      	 <div class='input-group date datetimepickerDisplay'>  
                    		<input style="position: relative" type='text' class="form-control" placeholder="生产计划开始日期" ng-model="product_plan_begin_date" />  
                    			<span class="input-group-addon" style="width:14px">  
                        		<span class="glyphicon glyphicon-calendar"></span>  
                    			</span>  
                			</div>
					      </div>
					   </div>
			
					   <div class="form-group">
					      <label for="address" class="col-sm-4 control-label">生产计划结束日期：</label>
					      <div class="col-sm-8">
					         <!-- <input type="text" class="form-control" id="address" ng-model="product_plan_end_date"
					            placeholder="请输入生产计划结束日期"> -->
					            <div class='input-group date datetimepickerDisplay'>  
                    		<input  style="position: relative" type='text' class="form-control" placeholder="生产计划结束日期" ng-model="product_plan_end_date" />  
                    			<span class="input-group-addon" style="width:14px">  
                        		<span class="glyphicon glyphicon-calendar"></span>  
                    			</span>  
                			</div>
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactName" class="col-sm-4 control-label">说明：</label>
					      <div class="col-sm-8">
					         <textarea type="text" rows="4" class="form-control" id="product_explain" name="contactName" ng-model="product_explain"
					            placeholder="请输入说明">
					            </textarea>
					      </div>
					   </div>				   
	            	</form>
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">取消
	            </button>
	            <button type="button" ng-click="submitProductPlan()" class="btn btn-primary" data-dismiss="modal">
	                                                       提交
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!--  添加生产计划模态框 end -->