    <div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
    	<!-- 按钮操作区域开始 -->
			<div class="col-sm-12" style="height:34px">
			<div class="col-sm-3">
				<button type="button" class="btn btn-default pull-left" id="plusCold" data-toggle="modal" data-target="#addProject">
					<span class="glyphicon glyphicon-plus"></span>添加项目
				</button>
				</div>
		        <div  class="col-sm-4">								
					关键字查询：<input type="text" ng-model="keyword" placeholder="请输入关键词" id="myText" />
					<div id="searchImg" ng-click="goSearch()">
						<span class="glyphicon glyphicon-search"></span>
					</div>
				</div>
				<div  class="col-sm-5">								
					根据地区查询：<select id=""  class="form-control" style="height:35px;width:100px !important"
                                     ng-model="searchprovinceid" ng-disabled="editable"
                                     ng-change="searchProvinceSelected(searchprovinceid)"
                                     ng-options="x.pr_id as x.pr_province for x in provinces"></select>
				</div>
			</div>
			<div class="col-sm-12" style="height:34px">
			<button type="button" class="btn btn-default pull-right" ng-click="goHome()">
					显示全部
				</button>	
			</div>
			<!-- 按钮操作区域结束 -->
			<!-- 表格操作区域开始 -->
			<div class="tableArea">
				<table class="table table-striped table-bordered" id="tableArea" ng-model="Allprojects">
				   <thead>
				      <tr>
				         <th>
				         	<div>
				         		<input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox" >
				         		<label for="allSecSon" >全选</label>
				         	</div>
				         </th>
				         <th>序号</th>
				         <th>项目名称</th>
				         <th>联系人</th>
				         <th>手机号码</th>
				         <th>电话</th>
				         <th>地区</th>
				         <th>地址</th>
				         <th>操作</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr ng-repeat="project in Allprojects">
				         <td>
						 <input type="checkbox" ng-checked="exists(project, selected)"
                    				ng-click="toggle(project, selected)"/>
				         </td>
				         <!-- <td>{{project.project.pro_id}}</td> -->
				         <td>{{$index+1}}</td>
				         <td>{{project.project.pro_name}}</td>
				         <td>{{project.project.contacts_name}}</td>
				         <td>{{project.project.contacts_tel}}</td>
				         <td>{{project.project.contacts_phone}}</td>
				         <td>{{project.provinceName}}-{{project.cityName}}</td>
				         <td>{{project.project.address}}</td>
				         <td>
  				            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#showProject" ng-click="goDetail(project.project.pro_id)">查看</button>
  				            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateProject" ng-click="goUpdate(project.project.pro_id)">更新</button>
				         	<button class="delete" ng-click="goDeleteProject(project.project.pro_id)" ng-if="admin.user_name==root"></button>
				         </td>
				      </tr>
				   </tbody>
				</table>
				<div class="page">
               <!-- 翻页功能 -->
               <div class="row" style="text-align:center">
                    <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	</div>
			</div>
			<!-- 表格操作区域结束 -->
			<div class="three">
				<div class="btn-group" role="group">
				  <!--   <button type="button" class="btn btn-default" ng-click="printReport()">打印报表</button> -->
				   <button type="button" class="btn btn-default" ng-click="deleteProjects()">批量删除</button>
				      <button type="button" class="btn btn-default"  ng-click="importComponent()">导入构件</button>
				    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#importPic">导入图纸</button>
				</div>
			</div>
    </div>  
   	<!--  添加project模态框 -->
   	<div class="modal fade" id="addProject" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               添加项目
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="projectForm">
					   <div class="form-group">
					      <label for="projectname" class="col-sm-2 control-label"><font color="red">*</font>名称</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" ng-model="proname" name="proname" placeholder="请输入项目名称">
					      </div>
					     <!--  <div id="addUserNameError" style="display:none;"> <font color="red"> 用户名不能为空</font></div> -->
					   </div>
					   <div class="form-group">
					      <label for="province" class="col-sm-2 control-label">省市</label>
					      <div class="col-sm-10">
					      <div class="col-sm-3">
					        <select id=""  class="form-control" style="height:35px;width:100px !important"
                                     ng-model="addProvinceid" ng-disabled="editable"
                                     ng-change="provinceSelected(addProvinceid)"
                                     ng-options="x.pr_id as x.pr_province for x in provinces"></select>
                                     </div>
                                     <div class="col-sm-3">
                           <select id=""  class="form-control" style="height:35px;width:100px !important" ng-model="addCityid"
                                    ng-disabled="editable" ng-change="citySelected(addCityid)"
                                    ng-options="x.ci_id as x.ci_city for x in citys"></select>
                                    </div>
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="address" class="col-sm-2 control-label">详细地址</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="address" ng-model="address"
					            placeholder="请输入详细地址">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactName" class="col-sm-2 control-label"><font color="red">*</font>联系人</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactName" name="contactName" ng-model="contactName"
					            placeholder="请输入联系人姓名">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactTel" class="col-sm-2 control-label">手机号码</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactTel" name="contactTel" ng-model="contactTel"
					            placeholder="请输入联系人手机号">
					      </div>
					   </div>
					    <div class="form-group">
					      <label for="contactPhone" class="col-sm-2 control-label">电话</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactPhone" name="contactPhone" ng-model="contactPhone"
					            placeholder="请输入联系人电话（座机）">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="detail" class="col-sm-2 control-label">概况</label>
					      <div class="col-sm-10">
					         <textarea type="text" rows="4" class="form-control" id="detail" name="detail" ng-model="detail"
					            placeholder="请输入项目概况">
					            </textarea>
					      </div>
					   </div>
	            	</form>
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">取消
	            </button>
	            <button type="button" ng-click="submit()" class="btn btn-primary">
	                                                       提交
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!--  添加project模态框 end -->
   	<!--  查看project模态框 -->
   	<div class="modal fade" id="showProject" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               查看项目
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="projectForm">
					   <div class="form-group">
					      <label for="projectname" class="col-sm-2 control-label">名称</label>
					      <div class="col-sm-10">
					         {{projectDetail.project.pro_name}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="province" class="col-sm-2 control-label">省市</label>
					      <div class="col-sm-10">
					        {{projectDetail.provinceName}}-{{projectDetail.cityName}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="address" class="col-sm-2 control-label">详细地址</label>
					      <div class="col-sm-10">
					      {{projectDetail.project.address}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactName" class="col-sm-2 control-label">联系人</label>
					      <div class="col-sm-10">
					      {{projectDetail.project.contacts_name}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactTel" class="col-sm-2 control-label">手机号码</label>
					      <div class="col-sm-10">
					      {{projectDetail.project.contacts_tel}}
					      </div>
					   </div>
					    <div class="form-group">
					      <label for="contactPhone" class="col-sm-2 control-label">电话</label>
					      <div class="col-sm-10">
					      {{projectDetail.project.contacts_phone}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="detail" class="col-sm-2 control-label">概况</label>
					      <div class="col-sm-10">
					      {{projectDetail.project.details}}
					      </div>
					   </div>
	            	</form>
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!--  查看project模态框 end -->
	<!--  更新project模态框 -->
   	<div class="modal fade" id="updateProject" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               更新项目
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="projectForm">
					   <div class="form-group">
					      <label for="projectname" class="col-sm-2 control-label"><font color="red">*</font>名称</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" ng-model="projectUpdate.pro_name" name="proname" placeholder="请输入项目名称">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="province" class="col-sm-2 control-label">省市</label>
					      <div class="col-sm-10">
					       <div class="col-sm-3">
					        <select id="" class="form-control"  style="height:35px;width:100px !important"
                                     ng-model="projectUpdate.pr_id" ng-disabled="editable"
                                     ng-change="provinceSelectedForUpdate(projectUpdate.pr_id)"
                                     ng-options="x.pr_id as x.pr_province for x in provincesForUpdate"></select>
                                     </div>
                             <div class="col-sm-3">
                           <select id="" class="form-control"  style="height:35px;width:100px !important" ng-model="projectUpdate.ci_id"
                                    ng-disabled="editable" ng-change="citySelectedForUpdate(projectUpdate.ci_id)"
                                    ng-options="x.ci_id as x.ci_city for x in citysForUpdate"></select>
                                    </div>
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="address" class="col-sm-2 control-label">详细地址</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="address" ng-model="projectUpdate.address"
					            placeholder="请输入详细地址">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactName" class="col-sm-2 control-label"><font color="red">*</font>联系人</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactName" name="contactName" ng-model="projectUpdate.contacts_name"
					            placeholder="请输入联系人姓名">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactTel" class="col-sm-2 control-label">电话</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactTel" name="contactTel" ng-model="projectUpdate.contacts_tel"
					            placeholder="请输入联系人手机号">
					      </div>
					   </div>
					    <div class="form-group">
					      <label for="contactPhone" class="col-sm-2 control-label">手机号码</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" id="contactPhone" name="contactPhone" ng-model="projectUpdate.contacts_phone"
					            placeholder="请输入联系人电话（座机）">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="detail" class="col-sm-2 control-label">概况</label>
					      <div class="col-sm-10">
					         <textarea type="text" rows="4" class="form-control" id="detail" name="detail" ng-model="projectUpdate.details"
					            placeholder="请输入项目概况">
					            </textarea>
					      </div>
					   </div>
	            	</form>
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">取消
	            </button>
	            <button type="button" ng-click="update()" class="btn btn-primary" >
	                                                       更新
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!--  更新project模态框 end -->
	<!--  导入构件模态框 -->
   	<div class="modal fade" id="importComp" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               导入构件
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="compfactoryForm">
					   <div class="form-group">
					    <div class="col-sm-4">
					       <button type="button" ng-click="loadTem()" class="btn btn-default" >下载模板</button>
					     </div>
					      <div class="col-sm-4">
					                      <input type="file" id="upfile">
					      </div>
					   </div>
	            	</form>
	         </div>
	         <div class="modal-footer">
	          <button type="button" ng-click="importComp()" class="btn btn-primary" data-dismiss="modal">
	                           导入
	            </button>
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!-- 导入构件模态框end -->
	
	<!--  导入图纸模态框 -->
   	<div class="modal fade" id="importPic" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               导入图纸
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="compfactoryForm">
					   <div class="form-group">
					      <div class="col-sm-12">
					      选择图纸：
					        <input type="file" id="picfiles" ngf-select="addPicFiles()" ng-model="picfiles"  ngf-multiple="true" name="picfiles" >
					      </div>
					   </div>
	            	</form>
	         </div>
	         <div class="modal-footer">
	          <button type="button" ng-click="importPic()" class="btn btn-primary" data-dismiss="modal">
	                           导入
	            </button>
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!-- 导入构件模态框end -->
	