<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../../assets/js/jquery-1.9.1.min.js"></script>
<!--二维码需要引入的js -->
<script src="../../assets/js/jquery.qrcode.min.js"></script>
</head>
<body>
	<div id="qrcode">
	</div>
	
	<script>
		$("#qrcode").qrcode({
		    render: "canvas",//二维码生成方式 table/canvas
		    text: "http://www.jq2", //二维码的内容
		    width: 100,//默认生成的二维码大小是 256×256
		    height: 100
		});
	</script>
</body>
</html>