<!doctype html>
<html>
   <head>
        <title>精益建造可视化管理平台-适用于装配式建筑建造</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="shortcut icon" href="assets/img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/index.css">
        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angular-multi-select-master/isteven-multi-select.css" />
        <!-- viewer -->
        <link rel="stylesheet" type="text/css" href="assets/css/viewer.min.css" />       
        <!-- 进度流程 -->
        <link rel="stylesheet" type="text/css" href="assets/css/control.css" />
        
		<script type="text/javascript" src="assets/js/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="assets/js/smartpaginator.js"></script>
    </head>
    <body>
    	<!-- head部分结构开始 -->
			<div class="head">
				<div class="logoArea pull-left" onclick="location.href='index.html'">
					<h1 class="logo  pull-left"></h1>
					<h3 class="manage  pull-left">精益建造可视化管理平台-适用于装配式建筑建造</h3>
					<!-- <div class="home  pull-left">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</div> -->
				</div>
				<div class="userArea pull-right">
					<div class="admin  pull-left h4">
						<span class="hi"><font style="size:14px">您好，</font></span> 
						<span class="user" ng-model="admin"><font style="size:14px">{{admin.user_name}}</font></span>
					</div>
					<!-- <div class="smartColdManage  pull-left h4">链库后台管理</div> -->
					<div class="back  pull-left">
						<span class="glyphicon glyphicon-log-out" title="退出登录" aria-hidden="true" ng-click="logout()"></span>
					</div>
				</div>
			</div>
    	<!-- head部分结构结束 -->
		
		<!-- 主体区域结构开始 -->
    		<div class="content clearfix">
    			<!-- 侧栏区域结构开始 -->
    				<div class="sidebar pull-left" >
    					<div class="functionColumn">
    						<span class="glyphicon glyphicon-th-large"></span>
    						<span>功能栏目</span>
    					</div>
    					<ul class="list" ng-controller="index">
    					  <li ng-click="goMenu('home','#/home')" id ="home" ng-show="adminRoleDto.overView">
    							<span class="glyphicon glyphicon-eye-open"></span>
    							<a>概览</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    							<ul class="liSon">
    								<li ng-click="goMenu('home','#/home')">综合概览</li>
    							</ul>
    						</li>
    						
    						<li ng-click="goMenu('componentManage','#/componentManage')" id ="componentManage" ng-show="adminRoleDto.compManage || adminRoleDto.processManage">
    							<span class="glyphicon glyphicon-road"></span>
    							<a>构件管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    							<ul class="liSon">
    								<li  ng-show="adminRoleDto.compManage"><a style="text-decoration:none" href="#/componentManage"><font color="black">构件列表</font></a></li>
    								<li  ng-show="adminRoleDto.processManage"><a style="text-decoration:none" href="#/componentOrder"><font color="black">进度计划</font></a></li>
    							</ul>
    						</li>
    					
    					<li ng-click="goMenu('projectManage','#/projectManage')" id="projectManage" ng-show="adminRoleDto.projectManage">
    							<span class="glyphicon glyphicon-th-list"></span>
    							<a>项目管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    							<ul class="liSon">
    								<li ng-click="goMenu('projectManage','#/projectManage')" ng-show="adminRoleDto.projectManage">项目管理</li>
    							</ul>
    						</li>
    						<li ng-click="goMenu('compFactoryManage','#/compFactoryManage')" ng-show="adminRoleDto.compFactoryManage" id="compFactoryManage">
								<span class="glyphicon glyphicon-home"></span>
								<a>构件厂管理</a>
								<span class="glyphicon glyphicon-chevron-right pull-right"></span>
								<ul class="liSon">
									<li ng-click="goMenu('compFactoryManage','#/compFactoryManage')" ng-show="adminRoleDto.compFactoryManage">构件厂管理</li>
								</ul>
							</li>
    					
    					<li ng-click="goMenu('userManage','#/userManage')" id ="userManage" ng-show="adminRoleDto.userManage || 
    					adminRoleDto.roleManage ||adminRoleDto.logManage">
    							<span class="glyphicon glyphicon-cog"></span>
    							<a>系统管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    							<ul class="liSon">
    								<li  ng-show="adminRoleDto.userManage"><a style="text-decoration:none" href="#/userManage"><font color="black">用户管理</font></a></li>
    								<li  ng-show="adminRoleDto.roleManage"><a  style="text-decoration:none"  href="#/userRoleManage"><font color="black">角色管理</font></a></li>
    								<li  ng-show="adminRoleDto.logManage"><a style="text-decoration:none"  href="#/operationLog"><font color="black">操作日志</font></a></li>
    							</ul>
    						</li>
    					
    					<li ng-click="goMenu('productManage','#/productManage')" id="productManage" ng-show="adminRoleDto.productManage">
    							<span class="glyphicon glyphicon-th-list"></span>
    							<a>生产管理</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    							<ul class="liSon">
    								<li ng-click="goMenu('productManage','#/productManage')" ng-show="adminRoleDto.productManage">生产管理</li>
    							</ul>
    						</li>
    					
    					<li ng-click="goMenu('personalSpace','#/personalSpace')" id ="personalSpace" ng-show="adminRoleDto.personalManage">
    							<span class="glyphicon glyphicon-pencil"></span>
    							<a>个人中心</a>
    							<span class="glyphicon glyphicon-chevron-right pull-right"></span>
    							<ul class="liSon">
    								<li ng-click="goMenu('personalSpace','#/personalSpace')" ng-show="adminRoleDto.personalManage">个人中心</li>
    							</ul>
    						</li>
    					</ul>
    				</div>
				<!-- 侧栏区域结构结束-->

				<!-- 内容区域结构开始-->
    			<div  ui-view style="overflow: hidden">
	                 </div>
    			<!-- 内容区域结构结束-->
    		</div>
    	<!-- 主体区域结构结束-->
    	<footer>
    		<p class="copyRight"><img alt="" src="app/img/20170227204924.png" width="20" height="20">&nbsp;&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=17030827">沪ICP备17030827号-1</a>|&copy;2017&nbsp;Shanghai Wu Jian&nbsp;&nbsp;&nbsp;&nbsp;</p>
    	</footer>
    </body>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js?"></script>
<script src="bower_components/angular/ng-file-upload.min.js"></script>
<script src="bower_components/angular/ng-file-upload-shim.min.js"></script>
<script src="bower_components/highlightjs/highlight.pack.js"></script>
<script src="bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/angular-multi-select-master/isteven-multi-select.js"></script>
<script src="bower_components/angucomplete/angucomplete.js"></script>
<script src="bower_components/at-table/dist/angular-table.min.js"></script>
<!-- <script src="bower_components/jquery/dist/jquery.js"></script> -->
<script src="bower_components/bootstrap/js/carousel.js"></script>
<script src="bower_components/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script src="bower_components/angular/ngRemoteValidate.0.6.1.min.js"></script>
<!-- app js -->

<script src="app/js/app.js"></script>
<script type="text/javascript" src="app/js/index.js"></script>
<script src="app/js/home.js"></script>
<script src="app/js/projectManage.js"></script>
<script src="app/js/compFactoryManage.js"></script>
<script src="app/js/componentManage.js"></script>
<script src="app/js/operationLog.js"></script>
<script src="app/js/personalSpace.js"></script>
<script src="app/js/componentOrder.js"></script>
<script src="app/js/productManage.js"></script>
<script src="app/js/userManage.js"></script>
<!-- viewer -->
<script src="assets/js/viewer.min.js"></script>
<!-- 流程进度 -->
<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="assets/js/stepBar.js"></script>
<!-- qrcode -->
<script src="assets/js/jquery.qrcode.min.js"></script>

<script src="app/js/userRoleManage.js"></script>

</html>