<link href="../../assets/css/timeline-old.css" rel="stylesheet">
<style>

/*企业名片*/
.business-card{
  padding:15px 0;
  border-width: 1px 1px 3px;
    border-color: #e3e4e5;
    border-style: solid;
}
.business-card-line{
  border-right: solid 1px #ECEBEB;
  height:162px;
}
.business-card-line img{
  padding: 0px 0px;
  width: 120px;
  margin:auto;
  position:absolute;
  z-index:99;
  height: 160px;
}
.business-card-img img{
  padding: 0px 0px;
  width: 120px;
  height: 120px;
  margin:auto;
  position:absolute;
  z-index:99;
  opacity:0.2;filter(alpha=20);
  
}
.business-card-img .layer{
    position:absolute;
    padding: 50px;
    color:#999;
    z-index:100;
    border:1px solid #e3e4e5;
    }
  
.business-card-body{
  padding:0px 30px 15px 30px;
}
.business-card-body h2{
  font-weight:600;
}
.business-card-body h2 span{
  font-size:14px;
  font-weight:600;
}
.business-card-body h4{
  padding-top:20px;
  font-size:16px;
  font-weight:600;
}
.business-card-body span i{
  font-size:16px;
  font-weight:600;
}
.business-card-body p{
  font-size:12px;
  padding:0px !important;
  margin:0px !important;
}
   /*简历*/
.resume-header-line{
  height:55px;
  width: 1170px;
  background:#3399cc;
  margin:auto;
  position:fixed;
  z-index:99;
}
.resume-basic .photo{
  width:168px;
  height:200px;
  border:1px solid #999
}
.resume-basic-img img{
  width:168px;
  height:200px;
  border:1px solid #999;
  position:absolute;
  z-index:99;
  opacity:0.2;filter(alpha=20);
  
}
.resume-basic-img .layer{
    position:absolute;
    color:#999;
    z-index:100;
    border:1px solid #999;
    }
.resume-basic-img .layer  i{
    position:absolute;
    padding: 80px;
    color:#999;
    z-index:100;
    }
.resume-basic h2 {
  font-size:30px;
  color:#3399cc;
  font-weight:600;
}
.resume-basic span{
  color:#3399cc;
  font-size:18px;
  font-weight:600;
}
.resume-basic span a{
  color:#3399cc;
  font-size:18px;
  font-weight:600;
}
.resume-basic-info{
  padding-left:0px !important;
  /*padding-top:70px;*/
  color:#3399cc;
  font-size:16px;
  font-weight:600;
}
.resume-basic-info a{
  padding-left:0px !important;
  padding-top:80px;
  color:#3399cc;
  font-size:16px;
  font-weight:600;
}

.resume-line{
  padding-top:10px;
  background:#3399cc;
}
.datasheet-features-type{
    width:10% !important;
  }
.datasheet-features-type2{
    width:40% !important;
  }
</style>
    <div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
    	<!-- 按钮操作区域开始 -->
			<div class="operation">
				<button type="button" class="btn btn-default pull-left" id="plusCold" data-toggle="modal" data-target="#addUser">
					<span class="glyphicon glyphicon-plus"></span>添加用户
				</button>
		<!-- <div class="btn-group pull-left" id="status">
			<select ng-model="optAudit" ng-change="auditChanged(optAudit)">
				<option value="8">所有</option>
				<option value="0">待审核</option>
				<option value="1">已审核</option>
				<option value="-1">未通过</option>
			</select>
		</div> -->
		<div id="search">								
					<input type="text" ng-model="keyword" placeholder="请输入关键词" id="myText" />
					<div id="searchImg" ng-click="goSearch()">
						<span class="glyphicon glyphicon-search"></span>
					</div>
				</div>							
			</div>
			<!-- 按钮操作区域结束 -->
			<!-- 表格操作区域开始 -->
			<div class="tableArea">
				<table class="table table-striped table-bordered" id="tableArea" ng-model="Allusers">
				   <thead>
				      <tr>
				         <th>
				         	<div>
				         		<input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox" >
				         		<label for="allSecSon" >全选</label>
				         	</div>
				         </th>
				         <th>id</th>
				         <th>头像</th>
				         <th>用户账号</th>
				         <th style="width:70px">用户昵称</th>
				         <th>邮箱</th>
				         <th>手机号</th>
				         <th style="width:50px">地址</th>
				         <th style="width:100px">添加时间</th>
				         <th style="width:50px">角色</th>
				         <th style="width:70px">查看详情</th>
				        <!--  <th>状态</th> -->
				         <th>操作</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr ng-repeat="user in Allusers">
				         <td>
						 <input type="checkbox" ng-checked="exists(user, selected)"
                    				ng-click="toggle(user, selected)"/>
				         </td>
				         <td>{{user.id}}</td>
				          <td><img style="width:50px;height:50px" ng-src="{{user.avatar}}" alt=""></td>
				         <td>{{user.username}}</td>
				         <td>{{user.nickname}}</td>
				         <td>{{user.email}}</td>
				         <td>{{user.telephone}}</td>
				         <td>{{user.address}}</td>
				         <td>{{user.registertime}}</td>
				          <td ng-if="user.suproleid==1">学生</td>
				           <td ng-if="user.suproleid==2">其他</td>
				         <!-- <td ng-bind="getAudit(user.audit)"></td> -->
				         <td><a data-toggle="modal" href="#myUserModal" ng-click="goDetail(user.id)">查看</a></td>
				         <td>
				         	<button class="delete" ng-click="goDeleteUser(user.id)"></button>
				            <!-- <button class="btn btn-primary btn-sm" ng-click="changeAudit(user)">审核</button> -->
				         </td>
				      </tr>
				   </tbody>
				</table>
				<div class="page">
               <!-- 翻页功能 -->
               <div class="row" style="text-align:center">
                    <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	</div>
			</div>
			<!-- 表格操作区域结束 -->
			<div class="three">
				<div class="btn-group" role="group">
				   <!--  <button type="button" class="btn btn-default" ng-click="changeAudits()">审核</button> -->
				   <button type="button" class="btn btn-default" ng-click="deleteUsers()">批量删除</button>
				</div>
			</div>
    </div>  
   	<!--  添加用户模态框 -->
   	<div class="modal fade" id="addUser" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               添加用户
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="userForm">
					   <div class="form-group">
					      <label for="firstname" class="col-sm-2 control-label">账户</label>
					      <div class="col-sm-10">
					         <input type="text" class="form-control" ng-model="username" name="username"
					            placeholder="请输入名字" ng-remote-validate="/i/user/checkUserName"
                		        ng-remote-method="GET">
                	           <em style="text-align: right;" ng-show="userForm.username.$error.ngRemoteValidate"><font color="red">该用户已存在</font></em>
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="password" class="col-sm-2 control-label">密码</label>
					      <div class="col-sm-10">
					         <input type="password" class="form-control" id="password" ng-model="password"
					            placeholder="请输入密码">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="password" class="col-sm-2 control-label">确认密码</label>
					      <div class="col-sm-10">
					         <input type="password" class="form-control" id="password1" ng-model="password1"
					            placeholder="请确认密码">
					      </div>
					      <p ng-show="password!=password1"><font color="red">两次密码不一致</font></p>
					   </div>
					   <div class="form-group">
					      <label for="userEmail" class="col-sm-2 control-label">邮箱</label>
					      <div class="col-sm-10">
					         <input type="email" class="form-control" id="userEmail" name="user_email" ng-model="email"
					            placeholder="请输入邮箱地址">
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="phoneNum" class="col-sm-2 control-label">手机号</label>
					      <div class="col-sm-10">
					         <input type="number" class="form-control" id="phoneNum" name="phoneNum" ng-model="telephone"
					            placeholder="请输入手机号">
					      </div>
					   </div>
					    <div class="form-group">
					    <label for="phoneNum" class="col-sm-2 control-label">角色</label>
					    <div class="col-sm-10">
					      <select ng-model="suproleid" style="width:120px;height:30px">
				          <option value="1">学生</option>
				          <option value="2">其他</option>
			         </select>
			         </div>
			          </div>
	            	</form>
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">取消
	            </button>
	            <button type="button" ng-click="submit()" class="btn btn-primary" data-dismiss="modal">
	                                                       提交
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!--  添加用户模态框 end -->
	 <!-- 模态框（Modal） --> 
				<div class="modal fade" id="myUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
				    <div class="modal-dialog" style="width:1100px;"> 
				        <div class="modal-content"> 
				            <div class="modal-header"> 
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
				                <h4 class="modal-title" id="myModalLabel">{{userDetail.username}}的个人详情</h4> 
				            </div> 
				            <div id="content" class="modal-body">
				            <div id="resume" ng-if="userDetail.suproleid==1" style="padding-top:55px; background:#ebedec;"> 
            <div class="portlet light" style="background:#ebedec !important;"> 
             <div class="portlet-body"> 
              <div class="row"> 
               <div class="resume-basic col-md-12 margin-bottom-20"> 
                <div class="col-md-3" ng-if="userDetail.photo!=undefined"> 
                 <img src="{{userDetail.photo}}" class="photo" alt="照片" /> 
                </div> 
                 <div class="col-md-3" ng-if="userDetail.photo==undefined"> 
                 <img src="../../assets/img/user.png" class="photo" alt="照片" /> 
                </div> 
                <div class="col-md-9 no-padding"> 
                 <div class="col-md-12 no-padding margin-bottom-70"> 
                  <div class="col-md-4"> 
                   <h2 ng-if="userDetail.realname!=undefined&&userDetail.realname!=''">{{userDetail.realname}}</h2> 
                   <h2 ng-if="userDetail.realname==undefined||userDetail.realname==''">姓名</h2> 
                   <span>求职意向：{{userDetail.intention}}</span> 
                  </div> 
                  <div class="col-md-8 resume-img"> 
                   <img src="../../assets/img/personal-resume.png" class="pull-right" height="100px" /> 
                   <a href="http://www.weilanshu.com/#/my-space-ask/{{userDetail.id}}" class="resume-basic-info pull-right">个人空间：http://www.weilanshu.com/#/my-space-ask/{{userDetail.id}}</a> 
                  </div> 
                 </div> 
                 <div class="resume-basic-info col-md-12"> 
                 <div class="col-md-1"> 
                 <div ng-if="userDetail.sex==0">男</div>
                  <div ng-if="userDetail.sex==1">女</div>    
                  </div> 
                  <div class="col-md-2"> 
                  <i class="fa fa-user"></i>
                    <span ng-if="userDetail.age!=undefined&&userDetail.age!=''">{{userDetail.age}}岁 </span>
                   <span ng-if="userDetail.age==undefined||userDetail.age==''">年龄</span>
                  </div> 
                  <div class="col-md-2"> 
                   <i class="fa fa-map-marker"></i> 
                   <span ng-if="userDetail.address!=undefined&&userDetail.address!=''">{{userDetail.address}}</span>
                   <span ng-if="userDetail.address==undefined||userDetail.address==''">地址</span>
                  </div> 
                  <div class="col-md-3"> 
                   <i class="fa fa-mobile"></i> {{userDetail.telephone}}
                  </div> 
                  <div class="col-md-4"> 
                   <i class="fa fa-envelope-o"></i> 
                   <span ng-if="userDetail.email!=undefined&&userDetail.email!=''">{{userDetail.email}}</span>
                   <span ng-if="userDetail.email==undefined||userDetail.email==''">邮箱</span>
                  </div> 
                 </div> 
                </div> 
               </div> 
               <div class="resume-line col-md-12"></div> 
               <div class="col-md-12 padding-top-40"> 
                <ul class="timeline"> 
                 <li> 
                  <div class="timeline-time"> 
                   <span class="time"> 教育背景</span> 
                   <span class="time-en"> EDUCATION</span> 
                  </div> 
                  <div class="timeline-icon"> 
                   <i class="fa fa-mortar-board "></i> 
                  </div> 

				  <div ng-if="educates!=undefined&&educates!=''" class="timeline-body" ng-repeat="educate in educates"> 
                   <h2>{{educate.starttime}} 至{{educate.endtime}}</h2> 
                   <span>{{educate.school}}</span> 
                   <div class="timeline-content">
                     {{educate.describe}}
                   </div> 
                   <div class="timeline-footer"> 
                    <a class="nav-link pull-left"><span>{{educate.major}} </span> | <span ng-if="educate.fulltime==1">非</span> 
                    <span> 全日制 </span>  |  <span>{{educate.degree}}</span></a>
                   </div> 
                  </div> 
				  <div class="timeline-body" ng-if="educates==undefined||educates==''"> 
                   <h2>开始时间 至 结束时间</h2> 
                   <span>学校</span> 
                   <div class="timeline-content">
				   课程描述···
                   </div> 
                  </div>
				 </li> 
                 <li> 
                  <div class="timeline-time"> 
                   <span class="time"> 工作经历</span> 
                   <span class="time-en"> WORK</span> 
                  </div>  
                  <div class="timeline-icon"> 
                   <i class="fa fa-bank"></i> 
                  </div> 
                  <div ng-if="jobs!=undefined&&jobs!=''" class="timeline-body" ng-repeat="job in jobs"> 
                   <h2>{{job.starttime}}至{{job.endtime}} </h2> 
                   <span>{{job.company}}</span>|<span>{{job.companysize}}</span>|
                   <span>{{job.companynature}}</span> |  <span>{{job.industry}}</span> 
                   <div class="timeline-content">
                                                    职位描述：{{job.describe}}
                   </div> 
                   <div class="timeline-footer"> 
                    <a href="javascript:;" class="nav-link pull-left"> 担任职位：{{job.position}} </a> 
                   </div> 
                  </div> 
				  <div class="timeline-body" ng-if="jobs==undefined||jobs==''"> 
                   <h2>开始时间 至 结束时间</h2> 
                   <span>公司名称</span> 
                   <div class="timeline-content">
                                                               职位描述···
                   </div> 
                  </div> 
                  <div class="timeline-icon"> 
                  </div> 
                  </li>
                  <li> 
                  <div class="timeline-time"> 
                   <span class="time"> 自我评价</span> 
                   <span class="time-en"> EVALUATION</span> 
                  </div> 
                  <div class="timeline-icon"> 
                   <i class="fa fa-comment"></i> 
                  </div> 
                  <div class="timeline-body"> 
                   <div class="timeline-content" ng-if="userDetail.introduction==undefined||userDetail.introduction==''" > 
                                                    本人性格、专项技能等方面的描述···
                   </div> 
                    <div ng-if="userDetail.introduction!=undefined&&userDetail.introduction!=''" class="timeline-content"> 
                     {{userDetail.introduction}}
                   </div> 
                  </div> 
                 </li> 
                 <li> 
                  <div class="timeline-time"> 
                   <span class="time"> 获奖荣誉</span> 
                   <span class="time-en"> HONOR</span> 
                  </div> 
                  <div class="timeline-icon"> 
                   <i class="fa fa-trophy"></i> 
                  </div>  
                  <div class="timeline-body" ng-if="honors!=undefined&&honors!=''" ng-repeat="honor in honors"> 
                   <h2>{{honor.starttime}}至{{honor.endtime}}</h2> 
                   <span class="honor_text">{{honor.honor}}</span> 
                 </div> 
                 <div class="timeline-body" ng-if="honors==undefined||honors==''"> 
                   <h2>开始时间 至 结束时间</h2> 
                   <span class="honor_text">所获荣誉.......</span> 
                 </div> 
                  </li> 
                 <li> 
                  <div class="timeline-time"> 
                   <span class="time"> 技能</span> 
                   <span class="time-en"> SKILL</span> 
                  </div> 
                  <div class="timeline-icon"> 
                   <i class="fa fa-tag"></i> 
                  </div> 
                  <div class="timeline-body"> 
                   <h2>技能列表</h2> 
                   <div class="timeline-content"> 
                    <div class="col-md-12 no-padding" ng-repeat="skill in skills"> 
                     <div class="col-md-4"> 
                      <div class="progress"> 
                       <div ng-if="skill.degree==0" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"> 
                        <span class="sr-only"> 33% Complete </span> 
                       </div> 
                       <div ng-if="skill.degree==1" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%"> 
                        <span class="sr-only"> 66% Complete </span> 
                       </div> 
                       <div ng-if="skill.degree==0" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> 
                        <span class="sr-only">100% Complete </span> 
                       </div> 
                      </div> 
                     </div> 
                     <div class="col-md-3">
                       {{skill.skill}}
                     </div> 
                     <div class="col-md-5 no-padding">
                     </div> 
                    </div> 
                   </div> 
                  </div> 
                 </li> 
                </ul> 
              </div> 
              </div> 
             </div> 
            </div> 
           </div> 
           
           
            <div id="card" ng-if="userDetail.suproleid==2" style="padding-top:55px; background:#ebedec;"> 
           <div class="portlet-body"> 
           <div class="row"> 
            <div class="col-md-5"> 
             <div class="business-card col-md-12 col-sm-12 col-xs-12" id="card_body"> 
              <div class="business-card-line col-md-4 col-sm-4 col-xs-4"> 
               <a data-toggle="modal" id="btn_edit_img_com" ng-if="userDetail.photo==null||userDetail.photo==undefined"  >
                <img src="../../assets/img/logo/logo.png" /> 
                 </a> 
               <a  ng-if="userDetail.photo!=null&&userDetail.photo!=undefined"  >
                <img src="{{userDetail.photo}}" /> </a> 
              </div> 
              <div class="business-card-body col-md-8 col-sm-8 col-xs-8"> 
               <h2>
               <span ng-if="userDetail.nickname!=undefined">{{userDetail.nickname}}</span>
               <span ng-if="userDetail.nickname==undefined">姓名</span>
               <span ng-if="userDetail.position!=undefined">{{userDetail.position}}</span> 
               <span ng-if="userDetail.position==undefined">职位</span> 
               </h2> 
               <span ng-if="userDetail.telephone!=undefined"><i class="fa  fa-mobile-phone"></i> {{userDetail.telephone}}</span> 
               <span ng-if="userDetail.telephone==undefined"><i class="fa  fa-mobile-phone"></i> 编辑手机号</span> 
               <h4 ng-if="userDetail.company!=undefined">{{userDetail.company}}</h4> 
               <h4 ng-if="userDetail.company==undefined">公司</h4> 
               <p><b>地址:</b>{{userDetail.address}}</p> 
               <p><b>电话:</b>{{userDetail.phone}}</p> 
               <p><b>邮箱:</b>{{userDetail.email}}</p> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
            </div>
            
            
           
				            </div> 
				            <div class="modal-footer"> 
				                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				            </div> 
				        </div><!-- /.modal-content --> 
				    </div><!-- /.modal --> 
				</div>  
	