    <div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
    	<!-- 按钮操作区域开始 -->
		<div id="search">								
					<input type="text" ng-model="keyword" placeholder="请输入关键词" id="myText" />
					<div id="searchImg" ng-click="goSearch()">
						<span class="glyphicon glyphicon-search"></span>
					</div>
				</div>							
			</div>
			<!-- 按钮操作区域结束 -->
			<!-- 表格操作区域开始 -->
			<div class="tableArea">
				<table class="table table-striped table-bordered" id="tableArea" ng-model="AllPublish">
				   <thead>
				      <tr>
				         <th>
				         	<div>
				         		<input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox" >
				         		<label for="allSecSon" >全选</label>
				         	</div>
				         </th>
				         <th>id</th>
				         <th>图片</th>
				         <th>标题</th>
				         <th>作者</th>
				         <th>评论数</th>
				         <th>点赞数</th>
				         <th>添加时间</th>
				        <!--  <th>状态</th> -->
				         <th>操作</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr ng-repeat="pub in AllPublish">
				         <td>
						 <input type="checkbox" ng-checked="exists(pub, selected)"
                    				ng-click="toggle(pub, selected)"/>
				         </td>
				         <td style="width:30px">{{pub.id}}</td>
				         <td style="width:120px"> <a ng-if="pub.pubCovers!=''&&pub.pubCovers!=undefined"  ng-repeat="coverpic in pub.pubCovers"><img style="width:50px;height:50px" ng-src="{{coverpic}}" alt=""></a></td>
				         <td><a data-toggle="modal" href="#mypubModal" ng-click="goDetail(pub.id)">{{pub.title}}</a></td>
				         <td>{{pub.publishername}}</td>
				         <td style="width:50px">{{pub.commentnum}}</td>
				         <td style="width:50px">{{pub.praisenum}}</td>
				         <td style="width:100px">{{pub.pubtime}}</td>
				         <!-- <td ng-bind="getAudit(user.audit)"></td> -->
				         <td>
				         	<button class="delete" ng-click="goDeletePub(pub.id)"></button>
				            <!-- <button class="btn btn-primary btn-sm" ng-click="changeAudit(user)">审核</button> -->
				         </td>
				      </tr>
				   </tbody>
				</table>
				<div class="page">
               <!-- 翻页功能 -->
               <div class="row" style="text-align:center">
                    <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	</div>
			</div>
			<!-- 表格操作区域结束 -->
			<div class="three">
				<div class="btn-group" role="group">
				   <!--  <button type="button" class="btn btn-default" ng-click="changeAudits()">审核</button> -->
				   <button type="button" class="btn btn-default" ng-click="deletePubs()">批量删除</button>
				</div>
			</div>
 <!-- 模态框（Modal） --> 
				<div class="modal fade" id="mypubModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
				    <div class="modal-dialog" style="width:888px;"> 
				        <div class="modal-content"> 
				            <div class="modal-header"> 
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
				                <h4 class="modal-title" id="myModalLabel">{{publish.title}}</h4> 
				            </div> 
				            <div class="modal-body">
        <p><i class="fa fa-user"></i> {{publish.publishername}} &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-calendar"></i> {{publish.pubtime}} 
        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-tags"></i> {{publish.pubcategoryname}}</p> 
        <div id="pubContent" style="font-size: 14px;line-height: 1.75;margin: 15px 0;"></div>
        <h4 ng-if="publish.picFiles!=null&&publish.picFiles!=undefined&&publish.picFiles!=''" class="well well-sm">作品图片</h4>
        <div class="row">
	        <div id="pubContent" ng-if="publish.picFiles!=null&&publish.picFiles!=undefined&&publish.picFiles!=''" style="background: #fff;"
				class="col-lg-6 col-md-6 col-sm-6 colo-xs-12" ng-repeat="pubfile in publish.picFiles">
	             <img style="width:300px"src="{{pubfile}}"/> 
       		 </div>
        </div>
       <!--  <div style="margin: 15px 0;">
	        <h4 ng-if="publish.pubVideo!=null&&publish.pubVideo!=undefined&&publish.pubVideo!=''" class="well well-sm">作品视频</h4>
	        <div ng-if="publish.pubVideo!=null&&publish.pubVideo!=undefined&&publish.pubVideo!=''" ng-repeat="video in publish.pubVideo">
	                <video width="320" height="240" autoplay="autoplay" controls="controls" src="{{video}}" loop="-1"></video>
	        </div>
        </div> -->
        <div style="margin: 15px 0;">
	        <h4 ng-if="publish.appendixDtos!=null&&publish.appendixDtos!=undefined&&publish.appendixDtos!=''" class="well well-sm">附件下载</h4>
	        <div ng-if="publish.appendixDtos!=null&&publish.appendixDtos!=undefined&&publish.appendixDtos!=''" ng-repeat="appendix in publish.appendixDtos">
	                <a href="{{appendix.url}}" style="font-size: 14px;text-decoration: underline;">{{appendix.name}}</a>
	        </div>
        </div>
				            </div> 
				            <div class="modal-footer"> 
				                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				            </div> 
				        </div><!-- /.modal-content --> 
				    </div><!-- /.modal --> 
				</div>  
