 <!--DOC: menu-always-on-top class to the body element to set menu on top --> 
 <!-- <link rel="stylesheet" type="text/css" href="../../bower_components/angular-multi-select-master/isteven-multi-select.css" />
 <script src="../../bower_components/angular-multi-select-master/isteven-multi-select.js"></script>   -->
 <!--下拉搜索js css -->
<!--  <script src="../../assets/js/jquery.min.js" type="text/javascript"></script>
 <script src="../../assets/js/bootstrap-select.js" type="text/javascript"></script>
 <link href="../../assets/css/bootstrap-select.css" rel="stylesheet">
 <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
 <link href="../../assets/js/bootstrap.min.js" rel="stylesheet">  -->
 <!--  <link href="../../assets/css/jquery.searchableSelect.css" rel="stylesheet">
  <script src="../../assets/js/jquery.min.js" type="text/javascript"></script>
  <script src="../../assets/js/jquery.searchableSelect.js" type="text/javascript"></script> -->
 <body class="menu-always-on-top" > 
  <!--BEGIN--> 
  <div class="weilanshu" id="base_content_container"> 
   <div class="main"> 
    <div class="main"> 
     <div class="container"> 
      <!-- BEGIN SIDEBAR & CONTENT --> 
      <div class="row margin-bottom-40"> 
       <!-- BEGIN CONTENT --> 
       <!-- BEGIN SIDEBAR --> 
       <div class="sidebar col-md-3 col-sm-5"> 
		<div class="geek_mune" style="position:fixed; background:#fff; padding:18px 90px 40px 20px;">
              <div class="mt-radio-list col-md-12" >
              <div  ng-repeat="cate in AllCategory">
                 <label class="mt-radio margin-bottom-8">
                      <a ng-click="auditChanged(cate.id)"><input type="radio" name="optionsRadios" ng-checked="optAudit==cate.id"  id="optionsRadios" value="{{cate.id}}">{{cate.name}}</a>
                  </label><br></div>
              </div>
              
            </div>
       </div> 
       <!-- END SIDEBAR --> 
       <div class="col-md-9 col-sm-7"> 
        <div class="content-search margin-bottom-20"> 
         <div class="row"> 
           <div class="col-md-8 padding-top-10"> 
      <!--   <select id="" class="selectpicker bla bla bli" data-live-search="true">  
        <option selected>全部</option>  
        <option>上海</option>  
        <option>北京</option>
        <option>浙江</option>  
        <option>北京</option>
		<option>江苏</option>  
        <option>重庆</option>
 		<option>安徽</option>  
        <option>深圳</option>
        <option>湖南</option>  
        <option>湖北</option>
		<option>四川</option>  
        <option>云南</option>
        <option>贵州</option>  
        <option>甘肃</option>  
        <option>广东</option>  
    </select> -->
           <!-- <div isteven-multi-select selection-mode="single" input-model="provinces" 
            output-model="curprovince" button-label="pr_province" item-label="pr_province"
            helper-elements="filter"
            tick-property="isOn"  max-height="200px" 
            on-item-click="provinceSelected(curprovince)" class="form-group"></div> -->
               
               
               
       <!--         <select id=""  class="searchSelect"
               ng-model="provinceid" ng-disabled="editable"
                                     ng-change="provinceSelected(provinceid)"
                                     ng-options="x.pr_id as x.pr_province for x in provinces">
                                    </select>  
              <select id="" class="searchSelect" ng-model="cityid"
                                    ng-disabled="editable" ng-change="citySelected(cityid)"
                                    ng-options="x.ci_id as x.ci_city for x in citys"></select>
          <input type="text" id="cityChoice" class="form-control"  placeholder="请选择地区"/>
           <select id="" class="searchSelect" ng-model="schoolid"
                                    ng-disabled="editable"
                                    ng-change="schoolSelected(schoolid)"
                                    ng-options="x.sh_id as x.sh_shool for x in schools"> </select> -->
           <input class="searchSelect" id="inputGeekProvince" ng-change="searchProvince(provincename)" ng-model = "provincename" placeholder="请输入省份" style="width:150px;height:35px !important"></input>                                  
           <input class="searchSelect" id="inputGeekCity" ng-change="searchCity(cityname)" ng-model = "cityname" placeholder="请输入城市" style="width:150px;height:35px !important"></input>
           <input class="searchSelect" id="inputGeekSchool" ng-change="searchSchool(schoolname)" ng-model = "schoolname" placeholder="请输入学校" style="width:150px;height:35px !important"></input>
            <ul class="list-group" id="geekProvinceUl" style="width:150px;display:none"><a class="list-group-item" ng-click="chooseProvince(province)" ng-repeat="province in totalProvinces"> {{province.pr_province}}</a></ul> 
            <ul class="list-group" id="geekCityUl" style="display:none;width:305px;padding-left:155px"><a class="list-group-item" ng-click="chooseCity(city)" ng-repeat="city in totalCitys"> {{city.ci_city}}</a></ul>                        
           <ul class="list-group" id="geekSchoolUl" style="display:none;width:460px;padding-left:310px"><a class="list-group-item" ng-click="chooseSchool(school)" ng-repeat="school in totalSchools"> {{school.sh_shool}}</a></ul>
          </div> 
          
          <div class="col-md-4 padding-top-10"> 
           <div class="input-group"> 
            <input type="text" placeholder="输入关键词" ng-model="keyword" class="form-control" /> 
            <span class="input-group-btn"> <button class="btn btn-primary" ng-click="goSearch()" type="submit">搜索</button> </span> 
           </div> 
          </div> 
         </div> 
        </div> 
        <!-- BEGIN PRODUCT LIST --> 
        <div class="row geeks-list margin-bottom-20"> 
         <div class="col-md-12 margin-bottom-20 no-right-padding no-left-padding"> 
          <div class="col-md-6" ng-repeat="user in Allusers"> 
		   
		   <div class="geek-item col-md-12 margin-bottom-20">
           <div ng-click="goUserSpace(user.id)" class="">
		     <a><img class="geek-item-img" src="{{user.avatar}}" /> </a>
			 <!-- <img class="geek-item-img-v" src="../../assets/img/vip.png" /> -->
		   </div> 
           <div class="col-md-6 geek-item-content"> 
		     <a ng-click="goUserSpace(user.id)" class="geek-item-name" target="_blank">{{user.nickname}}</a> 
			 <span class="badge bg-yellow-casablanca">Lv {{user.level}}</span> 
			 <span class="geek-item-desc">{{user.signature}}</span> 
			</div> 
           <div class="geek-item-tags col-md-3"> 
            <span ng-if="user.skill1!=undefined&&user.skill1!=''" class="bgblue"> {{user.skill1}} </span> 
            <span ng-if="user.skill2!=undefined&&user.skill2!=''" class="bgyellow"> {{user.skill2}} </span> 
           </div> 
           </div>
	
		  </div> 
         </div> 
        </div> 
        <!-- END PRODUCT LIST --> 
        <!-- BEGIN PAGINATOR -->
            <div class="row">
              <div class="col-md-4 col-sm-4 items-info">共{{numPages}}页</div>
              <div class="col-md-8 col-sm-8">
                <ul class="pagination pull-right">
                  <li><a ng-click="firstPage()">首页</a></li>
                  <li><a ng-click="pagedes()">上一页</a></li>
                  <li><a>第{{bigCurrentPage}}页</a></li>
                  <li><a ng-click="pageadd()">下一页</a></li>
                  <li><a ng-click="endPage()">末页</a></li>
                </ul>
              </div>
            </div>
            <!-- END PAGINATOR -->
       </div> 
       <!-- END CONTENT --> 
      </div> 
      <!-- END SIDEBAR & CONTENT --> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- <script>
		$(function(){
			$('select').searchableSelect();
		});
    </script> -->
  <!--END --> 
 </body>
