 <!-- Head BEGIN -->
 <head> 
  <link href="../../assets/css/plugins.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-fileinput.css" /> 
  <link href="../../assets/css/timeline-old.css" rel="stylesheet" type="text/css" /> 
  <script src="../../assets/js/common.js" type="text/javascript"></script>
  <script src="../../assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="../../assets/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script> 
  <script src="../../assets/js/jquery.slimscroll.min.js" type="text/javascript"></script> 
  <script src="../../assets/js/jquery.uniform.min.js" type="text/javascript"></script> 
  <script type="text/javascript" src="../../assets/js/jquery.mockjax.js"></script> 
  <script src="../../assets/js/bootstrap-fileinput.js" type="text/javascript"></script> 
  <script>
    jQuery(document).ready(function() {   
    CommonObj.init();  
    });
  </script>    
 </head> 
 <!--DOC: menu-always-on-top class to the body element to set menu on top --> 
 <body class="menu-always-on-top" > 
  <div class="weilanshu" id="base_content_container"> 
   <div class="title-wrapper-company"> 
    <div class="container"> 
     <div class="container-inner"> 
      <em> <a data-toggle="modal" id="btn_edit_logo_com" title="修改LOGO"><img src="{{user.avatar}}" alt="头像" title="点击修改头像" /></a> 
      <p>{{user.nickname}} <span ng-if="user.sex=='男'"><i class="fa fa-male"></i></span> <span ng-if="user.sex=='女'"><i class="fa fa-female"></i></span> 
      <span class="badge bg-yellow-casablanca">Lv {{level}}</span></p>
       <p ng-if="user.signature!=undefined" style="font-size:14px">{{user.signature}}</p> 
       <p ng-if="user.signature==undefined" style="font-size:14px">此处为您的个性签名，可在名片中编辑。。。</p> 
        <a class="btn red" ><i class="fa fa-plus"></i> 关注({{followerNum}})</a> 
      <!-- <a href="#unattention_me" data-toggle="modal" class="btn red" id="attention" style="display:none"><i class="fa fa-check"></i> 已关注</a>  -->
      <a class="btn red" ><i class="fa fa-comment"></i> 私信({{messageNum}})</a> </em> 
     </div> 
    </div> 
   </div> 
   <div class="main"> 
    <div class="container"> 
     <!-- BEGIN SIDEBAR & CONTENT --> 
     <div class="row"> 
      <div class="product-page-content margin-bottom-20"> 
       <ul id="myTab" class="nav nav-tabs"> 
        <li class="active"><a href="#tab-1" data-toggle="tab" id="btn1">基本资料</a></li> 
        <li><a href="#tab-2" data-toggle="tab" id="btn2">关注</a></li> 
        <li><a href="#tab-3" data-toggle="tab" id="btn3">消息
        <span class="badge badge-danger">{{messageNum}} </span></a></li> 
       </ul> 
       <div id="myTabContent" class="tab-content"> 
        <div class="tab-pane fade row in active" id="tab-1"> 
         <div class="portlet light"> 
          <div class="portlet-title"> 
           <div class="caption caption-md"> 
            <i class="icon-bar-chart theme-font hide"></i> 
            <span class="caption-subject font-blue-madison bold uppercase">我的名片</span> 
           </div> 
           <div class="pull-right">
            <a href="javascript:;" class="btn blue" id="edit_card_btn">编辑 </a> 
            <a href="javascript:;" class="btn grey" id="concel_card_btn" style="display:none"> 取消 </a> 
           <span ng-click="saveInfo()"> <a href="javascript:;" class="btn yellow" id="save_card_btn" style="display:none"> 保存 </a></span> 
           </div>
          </div> 
          <div class="portlet-body"> 
           <div class="row"> 
            <div class="col-md-5"> 
             <div class="business-card col-md-12 col-sm-12 col-xs-12" id="card_body"> 
              <div class="business-card-line col-md-4 col-sm-4 col-xs-4"> 
               <a data-toggle="modal" id="btn_edit_img_com" ng-if="user.photo==null||user.photo==undefined" title="点击修改logo" >
                <img src="../../assets/img/logo/logo.png" /> 
                 </a> 
               <a data-toggle="modal" id="btn_edit_img_com" ng-if="user.photo!=null&&user.photo!=undefined" title="点击修改logo" >
                <img src="{{user.photo}}" /> </a> 
              </div> 
              <div class="business-card-body col-md-8 col-sm-8 col-xs-8"> 
               <h2>
               <span ng-if="user.nickname!=undefined">{{user.nickname}}</span>
               <span ng-if="user.nickname==undefined">编辑姓名</span>
               <span ng-if="user.position!=undefined">{{user.position}}</span> 
               <span ng-if="user.position==undefined">编辑职位</span> 
               </h2> 
               <span ng-if="user.telephone!=undefined"><i class="fa  fa-mobile-phone"></i> {{user.telephone}}</span> 
               <span ng-if="user.telephone==undefined"><i class="fa  fa-mobile-phone"></i> 编辑手机号</span> 
               <h4 ng-if="user.company!=undefined">{{user.company}}</h4> 
               <h4 ng-if="user.company==undefined">编辑公司</h4> 
               <p><b>地址:</b>{{user.address}}</p> 
               <p><b>电话:</b>{{user.phone}}</p> 
               <p><b>邮箱:</b>{{user.email}}</p> 
              </div> 
             </div> 
             <div class="business-card col-md-12 col-sm-12 col-xs-12" id="edit_card_body" style="display:none"> 
              <div class="business-card-line col-md-4 col-sm-4 col-xs-4"> 
               <a  ng-if="user.photo==null||user.photo==undefined" data-toggle="modal" id="btn_edit_img_com"  class="business-card-img" title="点击修改logo"> 
                 <img src="../../assets/img/logo/logo.png" /> 
                 <div class="layer"><i class="fa fa-edit"></i></div>
               </a> 
               <a  ng-if="user.photo!=null&&user.photo!=undefined" data-toggle="modal" id="btn_edit_img_com"  class="business-card-img" title="点击修改logo"> 
                 <img src="{{user.photo}}" /> 
                 <div class="layer"><i class="fa fa-edit"></i></div>
               </a> 
              </div> 
              <div class="business-card-body col-md-8 col-sm-8 col-xs-8"> 
               <p><b>姓名:</b><input type="text" class="form-control" placeholder="姓名" ng-model="user.nickname" /></p>
               <p><b>性别:</b><select id="editsexselect" class="form-control" ng-model="user.sex" ><option>男</option><option>女</option></select></p>
               <p><b>职位:</b><input type="text" class="form-control" placeholder="职位" ng-model="user.position"  /></p>   
               <p><b>手机:</b><input type="text" class="form-control" placeholder="手机" ng-model="user.telephone"  /></p> 
               <p><b>公司名称:</b><input type="text" class="form-control" placeholder="公司名称" ng-model="user.company"  /></p> 
               <p><b>地址:</b> <input type="text" class="form-control" placeholder="地址" ng-model="user.address"  /></p> 
               <p><b>电话:</b> <input type="text" class="form-control" placeholder="电话" ng-model="user.phone" /></p> 
               <p><b>邮箱:</b> <input type="text" class="form-control" placeholder="邮箱" ng-model="user.email" /></p>
               <p><b>个性签名</b> <input type="text" class="form-control" placeholder="一句话介绍一下自己吧"  ng-model="user.signature" /></p> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="tab-pane fade row" id="tab-2"> 
         <!-- BEGIN ATTENTION --> 
           <div class="portlet light"> 
          <div class="portlet-title"> 
           <div class="caption caption-md"> 
            <i class="icon-bar-chart theme-font hide"></i> 
            <span class="caption-subject font-blue-madison bold uppercase">全部关注</span> 
            <span class="caption-helper">{{followerNum}}个</span> 
           </div> 
           <div class="inputs"> 
            <div class="portlet-input input-inline input-small "> 
             <div class="input-icon right"> 
              <i class="fa fa-search"></i> 
              <input type="text" class="form-control form-control-solid" placeholder="搜索..." /> 
             </div> 
            </div> 
           </div> 
          </div> 
          <div class="portlet-body"> 
           <div class="row geeks-list margin-bottom-20"> 
            <div class="col-md-6 margin-bottom-20"  ng-repeat="user in followers"> 
             <div class="geek-item col-md-12"> 
           <a ng-click="goUserSpace(user.id)" class="col-md-2 pull-left padding-left-0"><img class="geek-item-img" src="{{user.avatar}}" /> </a> 
           <p class="geek-item-content col-md-6"> <a class="geek-item-name" target="_blank" ng-click="goUserSpace(user.id)" >{{user.nickname}}</a> <span class="badge bg-yellow-casablanca">Lv {{user.level}}</span> <span class="geek-item-desc">{{user.signature}}</span> </p> 
           <div class="geek-item-tags col-md-3"> 
            <span ng-if="user.skill1!=undefined&&user.skill1!=''" class="bgblue"> {{user.skill1}} </span> 
            <span ng-if="user.skill2!=undefined&&user.skill2!=''" class="bgyellow"> {{user.skill2}} </span> 
           </div> 
            </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <!-- END ATTENTION --> 
        </div> 
        <div class="tab-pane fade row" id="tab-3"> 
         <!-- BEGIN MESSAGE --> 
          <div class="portlet light"> 
          <div class="portlet-title"> 
           <div class="caption caption-md"> 
            <i class="icon-bar-chart theme-font hide"></i> 
            <span class="caption-subject font-blue-madison bold uppercase">全部消息</span> 
            <span class="caption-helper">{{messageNum}}条</span> 
           </div> 
           <div class="inputs"> 
            <div class="portlet-input input-inline input-small "> 
             <!-- <div class="input-icon right"> 
              <i class="fa fa-search"></i> 
              <input type="text" class="form-control form-control-solid" placeholder="搜索..." /> 
             </div>  -->
            </div> 
           </div> 
          </div> 
          <div class="portlet-body"> 
           <div style="height: 300px; overflow-y:scroll"> 
            <div class="general-item-list col-md-12"> 
             <div class="item" ng-repeat="message in messages"> 
              <div class="item-head"> 
               <div class="item-details"> 
                <img style="width: 35px;height: 35px;border-radius: 150px !important;" src="{{message.senderavatar}}" /> 
                <a ng-click="goUserSpace(message.senderid)" class="item-name primary-link">{{message.sendername}}</a> 
                <span class="item-label">{{message.informtime}}</span> 
               </div> 
               <span class="item-status">
              <!--  <span class="badge badge-empty badge-success"></span> 已读  -->
              <a class="btn" ng-if="message.msgcategory=='2'" ng-click="messageResponse(message.id,message.senderid,message.msgcategory)">同意</a>
              <a class="btn" ng-if="message.msgcategory=='1'" id="quick_reply" ng-click="responseMessage(message.id)">回复</a>
              <a class="btn" ng-click="deleteMessage(message.id)">删除</a>
               </span> 
              </div> 
              <div class="item-body">
                       {{message.content}}
                <div class="col-md-12 form-group input-group padding-top-10" id="reply_area-{{message.id}}" style="display:none"> 
                 <input type="text" ng-model="resopnseMsg" class="form-control"> 
                 <span class="input-group-btn"> 
                 <button class="btn btn-primary" type="button" ng-click="messageResponse(message.id,message.senderid,message.msgcategory,resopnseMsg)" id="quick_reply_btn">回复</button> </span> 
                </div>
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
         <!-- END MESSAGE --> 
        </div> 
       </div> 
      </div> 
      <!--edit_img--> 
   <div class="modal fade" id="edit_logo_com" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">修改LOGO</h4> 
      </div> 
      <div class="row modal-body"> 
       <div class="col-md-12 form-group "> 
        <label class="control-label col-md-3">选择图片</label> 
        <div class="col-md-9"> 
         <div class="fileinput fileinput-new" data-provides="fileinput"> 
          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; line-height: 150px;"> 
          </div> 
          <div> 
           <span class="btn default btn-file"> <span class="fileinput-new"> 选择图片 </span> <span class="fileinput-exists"> 更改 </span> <input type="hidden" /><input type="file" id="useravatar" ng-model="useravatar" /> </span> 
           <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> 删除 </a> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
       <button type="button" ng-click="updateAvatar()" class="btn blue">确定</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div> 
   <!-- /.modal --> 
     </div> 
     <!-- END SIDEBAR & CONTENT --> 
    </div> 
   </div> 
   <!--edit_img--> 
   <div class="modal fade" id="edit_img_com" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">修改简历头像</h4> 
      </div> 
      <div class="row modal-body"> 
       <div class="col-md-12 form-group "> 
        <label class="control-label col-md-3">选择图片</label> 
        <div class="col-md-9"> 
         <div class="fileinput fileinput-new" data-provides="fileinput"> 
          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px; line-height: 150px;"> 
          </div> 
          <div> 
           <span class="btn default btn-file"> <span class="fileinput-new"> 选择图片 </span> <span class="fileinput-exists"> 更改 </span> <input type="hidden" /><input type="file" id="userphoto" ng-model="userphoto"  /> </span> 
           <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> 删除 </a> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
       <button type="button" ng-click="updatePhoto()" class="btn blue">确定</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div> 
   <!-- /.modal --> 
   <!--attention_me--> 
    <!-- /.modal --> 
   <!--quick_reply_alter--> 
   <div class="modal fade" id="quick_reply_alter_com" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">回复成功</h4> 
      </div> 
      <div class="modal-body"> 
       <i class="fa fa-check-circle-o" style="color:green; font-size:20px;padding:5px;"></i>回复成功！ 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div>
  <!-- /.modal -->  
  <!-- Global js END -->  
 </body>
