 <!--DOC: menu-always-on-top class to the body element to set menu on top --> 
 <body class="menu-always-on-top"> 
  <div class="weilanshu" id="base_content_container"> 
   <div class="main"> 
    <div class="container"> 
     <ul class="breadcrumb" style="background-color:#f1f2f3"> 
      <li><a href="#/home">首页</a></li> 
      <li><a href="#/news">资讯</a></li> 
      <li class="active">资讯详情</li> 
     </ul> 
     <!-- BEGIN SIDEBAR & CONTENT --> 
     <div class="row margin-bottom-40"> 
      <!-- BEGIN CONTENT --> 
      <div class="col-md-9 col-sm-7"> 
       <div class="news-info-body"> 
        <h3 class="padding-top-20 margin-bottom-20">{{information.title}}</h3> 
        <p><i class="fa fa-user"></i> {{information.source}} &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-calendar"></i> {{information.time}}&nbsp;&nbsp;&nbsp;&nbsp;
         <i class="fa fa-tags"></i>{{information.infocategoryName}} </p> 
         <div id="inforContent"></div>
        <div class="post-comment row"> 
         <h2><span>{{information.commentnum}}</span> 条评论</h2> 
         <div class="col-md-1">
          <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/user.jpg"/></a>
         </div> 
         <div class="col-md-11 form-group input-group" id="input_comment1"> 
          <input  type="text" class="form-control" /> 
          <span class="input-group-btn"> <button class="btn btn-primary"   type="button">评论</button> </span> 
         </div> 
         <div class="col-md-11 form-group input-group" style="display:none" id="input_comment2"> 
          <textarea ng-model="commentDetail" class="form-control" rows="3"></textarea> 
          <p class="pull-right padding-top-10"><button ng-click="newsComment(information.id)" class="btn btn-primary" id="comment_btn">评论</button></p> 
         </div> 
        </div> 
        <div class="comments"> 
         <div class="item-comment row"  ng-repeat="comment in information.commentEntities"> 
          <div class="col-md-1">
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/1.jpg" width="60px" /></a>
          </div> 
          <div class="col-md-11 no-left-padding"> 
           <h4>蔚蓝头条 <span>{{comment.commenttime}}<span></span></span></h4> 
           <p>{{comment.content}}</p> 
           <div class="col-md-3 no-padding">
            <a class="pull-left" id="reply">回复</a>  
            <a class="pull-left" id="open_reple">&nbsp;&nbsp;· 1条回复 <i class="fa fa-angle-up"></i> </a>
            <a class="pull-left" id="close_reple" style="display:none">&nbsp;&nbsp;· 收起回复 <i class="fa fa-angle-down"></i></a>
           </div> 
           <div class="col-md-12 no-padding" id="reply_area"></div>
           <div class="col-md-12 no-padding" id="comment_second" style="display:none">
             <div class="item-comment row"> 
              <div class="col-md-1">
               <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/1.jpg" width="60px" /></a>
              </div> 
              <div class="col-md-11 no-left-padding"> 
               <h4>蔚蓝头条 <span>5小时以前<span></span></span></h4> 
               <p>清华大学校长邱勇、党委书记陈旭还专程到家中看望宋平、清华大学校长邱勇、党委书记陈旭还专程到家中看望宋平、清华大学校长邱勇、党委书记陈旭还专程到家中看望宋平、</p> 
               <div class="col-md-3 no-padding">
                <a class="pull-left" id="reply_second">回复</a>
               </div> 
               <div class="col-md-12 no-padding" id="reply_area_second" style="display:none">
                 <div class="form-group input-group padding-top-10"> 
                   <input type="text" class="form-control" /> 
                   <span class="input-group-btn"> <button class="btn btn-primary" type="button" id="reply_btn">回复</button> </span>
                 </div> 
               </div>
              </div> 
             </div> 
           </div>
          </div> 
         </div> 
         <!--end item comment--> 
        </div> 
       </div> 
       <!-- END PRODUCT LIST --> 
      </div> 
     <!--  <div class="col-md-3 col-sm-5"> 
       <div class="portlet light"> 
        <div class="portlet-title"> 
         <div class="caption"> 
          <i class="fa fa-bookmark font-blue"></i> 
          <span class="caption-subject font-blue bold uppercase">热门推荐</span> 
         </div> 
        </div> 
        <div class="portlet-body"> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/1.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/2.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/3.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/4.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/5.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/6.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/7.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/8.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/9.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/10.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      --><!-- END CONTENT --> 
     </div> 
     <!-- END SIDEBAR & CONTENT --> 
    </div> 
   </div> 
   <!--comment_alter--> 
   <div class="modal fade" id="comment_alter" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">评论成功</h4> 
      </div> 
      <div class="modal-body"> 
       <i class="fa fa-check-circle-o" style="color:green; font-size:20px;padding:5px;"></i>评论成功！ 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div>
  <!-- /.modal -->
  <!--reply_alter--> 
   <div class="modal fade" id="reply_alter" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">回复成功</h4> 
      </div> 
      <div class="modal-body"> 
       <i class="fa fa-check-circle-o" style="color:green; font-size:20px;padding:5px;"></i>回复成功！ 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div>
  <!-- /.modal -->
  </div> 
  <!-- Global js END -->  
 </body>
