<head>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f3c4a089acab1654d89e00bac21834af";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
 <!--DOC: menu-always-on-top class to the body element to set menu on top --> 
 <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap-fileinput.css" /> 
 <script src="../../assets/js/bootstrap.min.js" type="text/javascript"></script> 
 <script src="../../assets/js/bootstrap-fileinput.js" type="text/javascript"></script>
 <body class="menu-always-on-top"> 
  <div class="weilanshu" id="base_content_container"> 
   <div class="main"> 
    <div class="container"> 
     <ul class="breadcrumb" style="background-color:#f1f2f3"> 
      <li><a href="">首页</a></li> 
      <li><a href="#/news">资讯</a></li> 
      <li class="active">资讯详情</li> 
     </ul> 
     <!-- BEGIN SIDEBAR & CONTENT --> 
     <div class="row margin-bottom-40"> 
      <!-- BEGIN CONTENT --> 
      <div class="col-md-9 col-sm-7"> 
       <div class="news-info-body"> 
        <h3 class="padding-top-20 margin-bottom-20">{{information.title}}</h3> 
        <p><i class="fa fa-user"></i> {{information.source}} &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-calendar"></i> {{information.time}}&nbsp;&nbsp;&nbsp;&nbsp;
         <i class="fa fa-tags"></i>{{information.infocategoryName}} </p> 
         <div id="inforContent"></div>
        <div class="post-comment row"> 
         <h2><span>{{information.commentnum}}</span> 条评论</h2> 
         <div class="col-md-1">
         <a href="" ng-if="user.avatar!=undefined"><img class="img-responsive" alt="" src="{{user.avatar}}"/></a>
          <a href="" ng-if="user.avatar==undefined"><img class="img-responsive" alt="" src="../../assets/img/people/user.jpg"/></a>
         </div> 
         <div class="col-md-11 form-group input-group" id="input_comment1"> 
          <input  type="text" class="form-control" /> 
          <span class="input-group-btn"> <button class="btn btn-primary"   type="button">评论</button> </span> 
         </div> 
         <div class="col-md-11 form-group input-group" style="display:none" id="input_comment2"> 
          <textarea ng-model="commentDetail" class="form-control" rows="3"></textarea> 
          <p class="pull-right padding-top-10"><button ng-click="newsComment(information.id)" class="btn btn-primary" id="comment_btn">评论</button></p> 
         </div> 
        </div> 
        <div class="comments"> 
         <div class="item-comment row"  ng-repeat="comment in information.commentDtos"> 
           <div class="col-md-1">
           <a ng-click="goUserSpace(comment.commenterid)"><img class="img-responsive" alt="" src="{{comment.useravatar}}" width="60px" /></a>
          </div> 
          <div class="col-md-11 no-left-padding"> 
           <h4>{{comment.usernickname}} <span>{{comment.commenttime}}<span></h4> 
           <p>{{comment.content}}</p> 
           <div class="col-md-3 no-padding">
            <a class="pull-left" id="reply-{{comment.id}}" ng-click="responseComment(comment.id)">回复</a>  
            <a class="pull-left" id="open_reple-{{comment.id}}" ng-click="openReple(comment.id)">&nbsp;&nbsp;· {{comment.responsenum}}条回复 <i class="fa fa-angle-up"></i> </a>
            <a class="pull-left" id="close_reple-{{comment.id}}" style="display:none" ng-click="closeReple(comment.id)">&nbsp;&nbsp;· 收起回复 <i class="fa fa-angle-down"></i></a>
           </div> 
           <div class="col-md-12 no-padding" id="reply_area-{{comment.id}}" style="display:none">
		     <div class="form-group input-group padding-top-10"> 
              <input type="text" class="form-control" ng-model="firstResponse"/> 
              <span class="input-group-btn"> <button class="btn btn-primary" ng-click="responseFirst(comment.id,firstResponse)" type="button" id="reply_btn">回复</button> </span>
             </div> 
		   </div>
		   
           <div class="col-md-12 no-padding" id="comment_second-{{comment.id}}" style="display:none" >
             <div class="item-comment row" ng-repeat="response in comment.responseDtos"> 
              <div class="col-md-1">
               <a ng-click="goUserSpace(response.responserid)"><img class="img-responsive" alt="" src="{{response.useravatar}}" width="60px" /></a>
              </div> 
              <div class="col-md-11 no-left-padding"> 
               <h4>{{response.usernickname}} <span>{{response.responsetime}}<span></span></span></h4> 
               <p>{{response.content}}</p> 
               <div class="col-md-3 no-padding">
                <a class="pull-left" id="reply_second-{{response.id}}" ng-click="responseCommentSecond(response.id,comment.id)">回复</a>
               </div> 
               <div class="col-md-12 no-padding" id="reply_area_second-{{response.id}}" style="display:none">
                 <div class="form-group input-group padding-top-10"> 
                   <input type="text" class="form-control" ng-model="secondResponse"/> 
                   <span class="input-group-btn"> <button class="btn btn-primary" type="button" ng-click="responseSecond(response.usernickname,comment.id,secondResponse)" id="reply_btn">回复</button> </span>
                 </div> 
               </div>
              </div> 
             </div> 
           </div>
          </div> 
         </div> 
         <!--end item comment--> 
        </div> 
       </div> 
       <!-- END PRODUCT LIST --> 
      </div> 
     <!--  <div class="col-md-3 col-sm-5"> 
       <div class="portlet light"> 
        <div class="portlet-title"> 
         <div class="caption"> 
          <i class="fa fa-bookmark font-blue"></i> 
          <span class="caption-subject font-blue bold uppercase">热门推荐</span> 
         </div> 
        </div> 
        <div class="portlet-body"> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/1.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/2.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/3.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/4.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/5.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/6.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/7.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/8.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/9.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
         <div class="row margin-bottom-10 item-news-info"> 
          <div class="col-md-3"> 
           <a href=""><img class="img-responsive" alt="" src="../../assets/img/people/10.jpg" /></a> 
          </div> 
          <div class="col-md-9 no-left-padding"> 
           <h4><a href="news-info.html">支付宝逆天功能上线，用户笑了，马化腾慌了！</a></h4> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
      --><!-- END CONTENT --> 
     </div> 
     <!-- END SIDEBAR & CONTENT --> 
    </div> 
   </div> 
   <!--comment_alter--> 
   <div class="modal fade" id="comment_alter" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">评论成功</h4> 
      </div> 
      <div class="modal-body"> 
       <i class="fa fa-check-circle-o" style="color:green; font-size:20px;padding:5px;"></i>评论成功！ 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div>
  <!-- /.modal -->
  <!--reply_alter--> 
   <div class="modal fade" id="reply_alter" tabindex="-1" role="basic" aria-hidden="true"> 
    <div class="modal-dialog"> 
     <div class="modal-content"> 
      <div class="modal-header"> 
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
       <h4 class="modal-title">回复成功</h4> 
      </div> 
      <div class="modal-body"> 
       <i class="fa fa-check-circle-o" style="color:green; font-size:20px;padding:5px;"></i>回复成功！ 
      </div> 
      <div class="modal-footer"> 
       <button type="button" class="btn default" data-dismiss="modal">关闭</button> 
      </div> 
     </div> 
     <!-- /.modal-content --> 
    </div> 
    <!-- /.modal-dialog --> 
   </div>
  <!-- /.modal -->
  </div> 
  <!-- Global js END -->  
 </body>
