 <!--DOC: menu-always-on-top class to the body element to set menu on top --> 
 <body class="menu-always-on-top"> 
  <!--BEGIN--> 
  <div class="weilanshu" id="base_content_container"> 
   <div class="main"> 
    <div class="container"> 
     <!-- BEGIN SIDEBAR & CONTENT --> 
     <div class="row margin-bottom-40"> 
      <!-- BEGIN CONTENT --> 
      <!-- BEGIN SIDEBAR --> 
      <div class="sidebar col-md-3 col-sm-5"> 
       <div class="post_bar_mune" style="position:fixed; background:#fff; padding:18px 90px 40px 20px;">
               <div class="mt-radio-list col-md-12" >
               <div  ng-repeat="cate in AllCategory">
                 <label class="mt-radio margin-bottom-8" ng-click="auditChanged(cate.id)">
                      <a ><input type="radio" name="optionsRadios" ng-checked="optAudit==cate.id"  id="optionsRadios" value="{{cate.id}}">{{cate.name}}</a>
                  </label><br>
                  </div>
              </div>
            </div> 
      </div> 
      <!-- END SIDEBAR --> 
      <div class="col-md-9 col-sm-7"> 
       <div class="content-search margin-bottom-20"> 
        <div class="row"> 
         <div class="col-md-8"> 
            <select id=""  style="height:35px ;width:150px"
               ng-model="provinceid" ng-disabled="editable"
                                     ng-change="provinceSelected(provinceid)"
                                     ng-options="x.pr_id as x.pr_province for x in provinces">
                                    </select>
              <select id="" style="height:35px ;width:150px" ng-model="cityid"
                                    ng-disabled="editable" ng-change="citySelected(cityid)"
                                    ng-options="x.ci_id as x.ci_city for x in citys"></select>
          <!-- <input type="text" id="cityChoice" class="form-control" placeholder="请选择地区"/> -->
           <select id="" style="height:35px;width:150px" ng-model="schoolid"
                                    ng-disabled="editable"
                                    ng-change="schoolSelected(schoolid)"
                                    ng-options="x.sh_id as x.sh_shool for x in schools"> </select>
          </div> 
          <div class="col-md-3"> 
           <!-- <div class="input-group"> 
            <input type="text" placeholder="输入关键词" ng-model="keyword" class="form-control" /> 
            <span class="input-group-btn"> <button class="btn btn-primary" ng-click="goSearch()" type="submit">搜索</button> </span> 
           </div>  -->
          </div> 
         <div class="col-md-offset-2 col-md-1"> 
          <a class="btn btn-primary pull-right" ng-click="goPostMessage()" ><i class="fa fa-edit"></i> 发布</a> 
         </div> 
        </div>
       </div> 
       <!-- BEGIN PRODUCT LIST --> 
       <div class="row blogs-list margin-bottom-20" ng-repeat="publish in AllPublishs"> 
        <div class="col-md-12 margin-bottom-20"> 
         <div class="blog-item col-md-12"> 
          <div class="col-md-12"> 
           <a href=""><img class="blog-item-img" src="{{publish.publisheravatar}}" />
           </a> 
           <div class="blog-item-body col-md-11 margin-bottom-10"> 
            <div class="blog-item-body-title"> 
             <div class="col-md-12"> 
              <a class="blog-item-name" ng-click="goBlogInfo(publish.id)">{{publish.title}}</a> 
              <span class="blog-item-time"><i class="fa fa-clock-o"></i> {{publish.pubtime}} ###来自{{publish.publishername}}</span> 
             </div> 
            </div> 
            <div class="blog-item-body-info col-md-12"> 
             <p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;
                overflow: hidden;">{{publish.content}}
             </p>  
             <img ng-if="publish.pubcover!=null&&publish.pubcover!=undefined&&publish.pubcover!=''" src="{{publish.pubcover}}"/> 
            </div> 
           </div> 
          </div> 
          <div class="col-md-12 blog-item-action"> 
           <div class="col-md-4">
            <span><a ng-click="goBlogInfo(publish.id)"><i class="fa fa-comments"></i> 评论{{publish.commentnum}}</a></span>
           </div> 
           <div class="col-md-4 line">
            <span ng-if="publish.praiseflag==1"><a style="color:#64AED9"><i style="color:#64AED9" class="fa fa-thumbs-up"></i> 点赞{{publish.praisenum}}</a></span>
            <span ng-if="publish.praiseflag!=1" ng-click="praiseBlog(publish.id)"><a><i class="fa fa-thumbs-up"></i> 点赞{{publish.praisenum}}</a></span>
           </div> 
           <div class="col-md-4" id="ckepop">
            <span class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false"><a ng-click="goBlogInfo(publish.id)"><i class="fa fa-share-alt"></i> 分享</a></span>
            <!-- <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="jiathis_button_weixin"> 微信 </a>
                </li>
                <li>
                    <a href="javascript:;">
                    <i class="fa fa-weibo"></i> 新浪微博</a>
                </li>
                <li>
                    <a href="javascript:;">
                    <i class="fa fa-qq"></i> QQ</a>
                </li>
                <li>
                    <a href="javascript:;">
                    <i class="fa fa-star"></i> QQ空间 </a>
                </li>
            </ul> -->
            <!-- <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script> -->
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <!-- END PRODUCT LIST --> 
        <!-- BEGIN PAGINATOR -->
          <div class="row">
              <div class="col-md-4 col-sm-4 items-info">共{{numPages}}页</div>
              <div class="col-md-8 col-sm-8">
                <ul class="pagination pull-right">
                  <li><a ng-click="firstPage()">首页</a></li>
                  <li><a ng-click="pagedes()">上一页</a></li>
                  <li><a>第{{bigCurrentPage}}页</a></li>
                  <li><a ng-click="pageadd()">下一页</a></li>
                  <li><a ng-click="endPage()">末页</a></li>
                </ul>
              </div>
            </div> 
      </div> 
      <!-- END CONTENT --> 
     </div> 
     <!-- END SIDEBAR & CONTENT --> 
    </div> 
   </div> 
  </div> 
  <!--END --> 
  <!-- Global js END -->  
 </body>
