 <head>
  
  <style>
  .note-insert button{
    border:solid 1px #FF5400; 
    color:#FF5400}
  .note-insert .btn-default > i{
    color:#FF5400 !important 
   }
  .note-image-dialog h5{    
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 10px;
  }
  </style> 
 <!-- END PAGE LEVEL PLUGINS -->
 <script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.all.min.js"> </script>
  <script>
  var ue = UE.getEditor('container');
  /*发帖 全选or校园频道*/
   $('body')
    .on('click', '#optionsRadios2', function(e) {
        $("#select_school").css("display","");
    })
  </script> 
 </head> 
 <body class="menu-always-on-top"> 
  <!-- post-message block BEGIN --> 
  <div class="post-message-block content" id="base_content_container1"> 
   <div class="container"> 
    <h2>作品<b> 发布</b></h2> 
    <div class="row padding-top-30"> 
     <div class="col-md-12">
      <div class="portlet light padding-top-60">
	   <div class="row">
        <div class="portlet-body form">
        <div class="col-md-12 form-group">  
         <label class="col-md-1 control-label no-padding" style="font-size:16px">作品标题：</label> 
         <div class="col-md-4"> 
          <input type="text" class="form-control" ng-model="title" placeholder="输入作品标题" /> 
         </div> 
        </div> 
        <!-- <div class="col-md-12 form-group">  
         <label class="col-md-1 control-label no-padding" style="font-size:16px">作品简介：</label> 
         <div class="col-md-4"> 
          <input type="text" class="form-control" ng-model="describe" placeholder="输入作品简单介绍" /> 
         </div> 
        </div> -->
        <div class="col-md-12 form-group"> 
         <label class="col-md-1 control-label no-padding" style="font-size:16px">发布范围：</label> 
          <div class="mt-radio-inline col-md-9">
              <label class="mt-radio margin-bottom-10 col-md-2 no-padding">
                  <input type="radio" name="optionsRadios1" id="optionsRadios1" value="全部" checked> 全部
              </label>
              <label class="mt-radio margin-bottom-10 col-md-2 no-padding">
                  <input type="radio" name="optionsRadios1" id="optionsRadios2" value="校园频道" > 校园频道
              </label>
              <div class="col-md-2 no-padding"  id="select_school" style="display:none"> 
            <select id="" class="selectpicker form-control" data-live-search="true" style="height:35px !important"
                                   ng-model="schoolid"
                                    ng-disabled="editable"
                                    ng-change="schoolSelected(schoolid)"
                                    ng-options="x.sh_id as x.sh_shool for x in schools"> </select>
          </div>
         </div> 
        </div> 
        <div class="col-md-12 form-group"> 
         <label class="col-md-1 control-label no-padding" style="font-size:16px">作品分类：</label> 
         <div class="mt-radio-inline col-md-9">
              <label class="mt-radio margin-bottom-10 col-md-2 no-padding">
                  <input type="radio" name="optionsRadios3" id="optionsRadios3" value="1"  checked> 科技类
              </label>
             <label class="mt-radio margin-bottom-10 col-md-2 no-padding">
                  <input type="radio" name="optionsRadios3" id="optionsRadios4" value="2" > 互联网类
              </label>
             <label class="mt-radio margin-bottom-10 col-md-2 no-padding">
                  <input type="radio" name="optionsRadios3" id="optionsRadios5" value="3" > 校园类
              </label>
              <label class="mt-radio margin-bottom-10 col-md-2 no-padding">
                  <input type="radio" name="optionsRadios3" id="optionsRadios6" value="4"> 财经类
              </label>
              <label class="mt-radio margin-bottom-10 col-md-2 no-padding">
                  <input type="radio" name="optionsRadios3" id="optionsRadios7" value="5"> 创业类
              </label>
          </div>
		</div> 

       </div> 
       <div class="col-md-12 margin-bottom-20">
       <script id="container" name="content" type="text/plain">
      </script>
       </div>
      <div class="content-center">
      <a class="btn blue" ng-click="pubSubmit()">发布</a> 
      <a class="btn grey" href="#/post-bar">返回</a>
     </div>  
	 </div>
    </div> 
     </div> 
  </div> 
  </div>
  </div>
 </body>
