<!--DOC: menu-always-on-top class to the body element to set menu on top --> 
 <!--  <link href="../../assets/css/jquery.searchableSelect.css" rel="stylesheet">
  <script src="../../assets/js/jquery.min.js" type="text/javascript"></script>
  <script src="../../assets/js/jquery.searchableSelect.js" type="text/javascript"></script> -->
<head>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f3c4a089acab1654d89e00bac21834af";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
 <body class="menu-always-on-top"> 
  <!--BEGIN--> 
  <div class="weilanshu" id="base_content_container"> 
   <div class="main"> 
    <div class="container"> 
     <!-- BEGIN SIDEBAR & CONTENT --> 
     <div class="row margin-bottom-40"> 
      <!-- BEGIN CONTENT --> 
      <!-- BEGIN SIDEBAR --> 
      <div class="sidebar col-md-3 col-sm-4"> 
       <div class="post_bar_mune" style="position:fixed; background:#fff; padding:18px 90px 40px 20px;">
               <div class="mt-radio-list col-md-12" >
               <div  ng-repeat="cate in AllCategory">
                 <label class="mt-radio margin-bottom-8" ng-click="auditChanged(cate.id)">
                      <a ><input type="radio" name="optionsRadios" ng-checked="optAudit==cate.id"  id="optionsRadios" value="{{cate.id}}">{{cate.name}}</a>
                  </label><br>
                  </div>
              </div>
            </div> 
      </div> 
      <!-- END SIDEBAR --> 
      <div class="col-md-9 col-sm-8"> 
       <div class="content-search margin-bottom-20"> 
        <div class="row"> 
         <div class="col-md-10 padding-top-10"> 
                    让您的创意、作品、知识、信息，可以发布到任意一所高校: <br>
            <!-- <select id=""  class="searchSelect"
               ng-model="provinceid" ng-disabled="editable"
                                     ng-change="provinceSelected(provinceid)"
                                     ng-options="x.pr_id as x.pr_province for x in provinces">
                                    </select>
              <select id="" class="searchSelect" ng-model="cityid"
                                    ng-disabled="editable" ng-change="citySelected(cityid)"
                                    ng-options="x.ci_id as x.ci_city for x in citys"></select>
          <input type="text" id="cityChoice" class="form-control" placeholder="请选择地区"/>
           <select id="" class="searchSelect" ng-model="schoolid"
                                    ng-disabled="editable"
                                    ng-change="schoolSelected(schoolid)"
                                    ng-options="x.sh_id as x.sh_shool for x in schools"> </select> -->
                                    
           <input class="searchSelect" id="inputPostProvince" ng-change="searchProvince(provincename)" ng-model = "provincename" placeholder="请输入省份" style="height:35px !important"></input>                                  
           <input class="searchSelect" id="inputPostCity" ng-change="searchCity(cityname)" ng-model = "cityname" placeholder="请输入城市" style="height:35px !important"></input>
           <input class="searchSelect" id="inputPostSchool" ng-change="searchSchool(schoolname)" ng-model = "schoolname" placeholder="请输入学校" style="height:35px !important"></input>
            <ul class="list-group" id="PostProvinceUl" style="display:none"><a class="list-group-item" ng-click="chooseProvince(province)" ng-repeat="province in totalProvinces"> {{province.pr_province}}</a></ul> 
            <ul class="list-group" id="PostCityUl" style="display:none;"><a class="list-group-item" ng-click="chooseCity(city)" ng-repeat="city in totalCitys"> {{city.ci_city}}</a></ul>                        
           <ul class="list-group" id="PostSchoolUl" style="display:none;"><a class="list-group-item" ng-click="chooseSchool(school)" ng-repeat="school in totalSchools"> {{school.sh_shool}}</a></ul>
          </div> 
           <!--<div class="col-md-3"> 
           <div class="input-group"> 
            <input type="text" placeholder="输入关键词" ng-model="keyword" class="form-control" /> 
            <span class="input-group-btn"> <button class="btn btn-primary" ng-click="goSearch()" type="submit">搜索</button> </span> 
           </div>  
          </div> -->
         <div class="col-md-2 padding-top-10"> 
         <div style="padding-top:20px">
          <a class="btn btn-primary pull-right"  ng-click="goPostMessage()" ><i class="fa fa-edit"></i> 发布</a> 
         </div>
         </div> 
        </div>
       </div> 
       <!-- BEGIN PRODUCT LIST --> 
       <div class="row blogs-list margin-bottom-20" ng-repeat="publish in AllPublishs"> 
        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20"> 
         <div class="blog-item col-md-12 col-sm-12 col-xs-12 "> 
          <div class="col-md-12 col-sm-12 col-xs-12 no-padding"> 
		  <div class="blog-item-body-img col-md-1 padding-left-0"> 
           <a ng-click="goUserSpace(publish.publisherid)"><img class="blog-item-img" src="{{publish.publisheravatar}}" />
           </a> 
		  </div>
           <div class="blog-item-body col-md-11 margin-bottom-10"> 
            <div class="blog-item-body-title"> 
             <div class="col-md-12"> 
              <a style="font-size:16px;" ng-click="goBlogInfo(publish.id)"><strong>{{publish.title}}</strong></a> 
              <span class="blog-item-time"><i class="fa fa-clock-o"></i> {{publish.pubtime}} ###来自{{publish.publishername}}</span> 
             </div> 
            </div> 
            <div class="blog-item-body-info col-md-12"> 
             <!-- <p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;
                overflow: hidden;">
             </p>  -->
             <div style="display: inline-block;" ng-if="publish.pubCovers!=null&&publish.pubCovers!=undefined&&publish.pubCovers!=''" ng-repeat="pubcover in publish.pubCovers">
                 <img src="{{pubcover}}"/> 
             </div>
            </div> 
           </div> 
          </div> 
          <div class="col-md-12 col-sm-12 col-xs-12 blog-item-action"> 
           <div class="col-md-4 col-sm-4 col-xs-4">
            <span><a ng-click="goBlogInfo(publish.id)"><i class="fa fa-comments"></i> 评论{{publish.commentnum}}</a></span>
           </div> 
           <div class="col-md-4 col-sm-4 col-xs-4 line">
            <span ng-if="publish.praiseflag==1"><a style="color:#64AED9"><i style="color:#64AED9" class="fa fa-thumbs-up"></i> 已赞{{publish.praisenum}}</a></span>
            <span ng-if="publish.praiseflag!=1" ng-click="praiseBlog(publish.id)"><a><i class="fa fa-thumbs-up"></i> 点赞{{publish.praisenum}}</a></span>
           </div> 
           <div class="col-md-4 col-sm-4 col-xs-4" id="ckepop">
            <span><a ng-click="goBlogInfo(publish.id)"><i class="fa fa-share-alt"></i> 分享</a></span>
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <!-- END PRODUCT LIST --> 
        <!-- BEGIN PAGINATOR -->
          <div class="row">
              <div class="col-md-4 col-sm-2items-info">共{{numPages}}页</div>
              <div class="col-md-8 col-sm-10">
                <ul class="pagination pull-right">
                  <li><a ng-click="firstPage()">首页</a></li>
                  <li><a ng-click="pagedes()">上一页</a></li>
                  <li><a>第{{bigCurrentPage}}页</a></li>
                  <li><a ng-click="pageadd()">下一页</a></li>
                  <li><a ng-click="endPage()">末页</a></li>
                </ul>
              </div>
            </div> 
      </div> 
      <!-- END CONTENT --> 
     </div> 
     <!-- END SIDEBAR & CONTENT --> 
    </div> 
   </div> 
  </div> 
  <script>
		document.onclick = function(){
	          $("#PostProvinceUl").css("display","none");
	          $("#PostCityUl").css("display","none");
	          $("#PostSchoolUl").css("display","none");
        };
    </script>
  <!--END --> 
  <!-- Global js END -->  
 </body>
