 <!--DOC: menu-always-on-top class to the body element to set menu on top --> 
 <body class="menu-always-on-top"> 
  <!--BEGIN--> 
  <div class="weilanshu" id="base_content_container"> 
   <div class="main"> 
    <div class="container"> 
     <!-- BEGIN SIDEBAR & CONTENT --> 
     <div class="row margin-bottom-40"> 
      <!-- BEGIN CONTENT --> 
      <!-- BEGIN SIDEBAR --> 
      <div class="sidebar col-md-3 col-sm-5"> 
       <div class="post_bar_mune" style="position:fixed; background:#fff; padding:18px 90px 40px 20px;">
              <!-- <div class="mt-radio-list col-md-12">
                  <label class="mt-radio margin-bottom-10">
                      <a ng-click="auditChanged(8)"><input type="radio" name="optionsRadios"  id="optionsRadios0" value="全部" checked> 全部</a>
                  </label><br/>
                  <label class="mt-radio margin-bottom-10">
                      <a ng-click="auditChanged(1)"><input type="radio"  name="optionsRadios" id="optionsRadios1" value="科技类" > 科技类</a>
                  </label><br/>
                  <label class="mt-radio margin-bottom-10">
                      <a ng-click="auditChanged(2)"><input type="radio"  name="optionsRadios" id="optionsRadios2" value="互联网类" > 互联网类</a>
                  </label><br/>
                  <label class="mt-radio margin-bottom-10">
                      <a ng-click="auditChanged(3)"><input type="radio"  name="optionsRadios" id="optionsRadios3" value="校园类" > 校园类</a>
                  </label><br/>
                  <label class="mt-radio margin-bottom-10">
                      <a ng-click="auditChanged(4)"><input type="radio"  name="optionsRadios" id="optionsRadios4" value="财经类" > 财经类</a>
                  </label><br/>
                  <label class="mt-radio margin-bottom-10">
                      <a ng-click="auditChanged(5)"><input type="radio"  name="optionsRadios" id="optionsRadios5" value="创业类" > 创业类</a>
                  </label><br/>
              </div> -->
               <div class="mt-radio-list col-md-12" >
               <div  ng-repeat="cate in AllCategory">
                 <label class="mt-radio margin-bottom-8">
                      <a ng-click="auditChanged(cate.id)"><input type="radio" name="optionsRadios" ng-checked="optAudit==cate.id"  id="optionsRadios" value="{{cate.id}}">{{cate.name}}</a>
                  </label><br>
                  </div>
              </div>
            </div> 
      </div> 
      <!-- END SIDEBAR --> 
      <div class="col-md-9 col-sm-7"> 
       <div class="content-search margin-bottom-20"> 
        <div class="row"> 
         <div class="col-md-6"> 
           <!-- <div class="form-group">
           <div isteven-multi-select selection-mode="single" input-model="schools" 
            output-model="curschool" button-label="sh_shool" item-label="sh_shool"
            tick-property="isOn" helper-elements="filter" max-height="200px" 
            on-item-click="schoolSelected(curschool)" class="form-group"></div>
            </div> -->
            <select id=""  style="height:35px !important"
               ng-model="provinceid" ng-disabled="editable"
                                     ng-change="provinceSelected(provinceid)"
                                     ng-options="x.pr_id as x.pr_province for x in provinces">
                                    </select>
              <select id="" style="height:35px !important" ng-model="cityid"
                                    ng-disabled="editable" ng-change="citySelected(cityid)"
                                    ng-options="x.ci_id as x.ci_city for x in citys"></select>
          <!-- <input type="text" id="cityChoice" class="form-control" placeholder="请选择地区"/> -->
           <select id="" ng-if="schools!=undefined" style="height:35px !important" ng-model="schoolid"
                                    ng-disabled="editable"
                                    ng-change="schoolSelected(schoolid)"
                                    ng-options="x.sh_id as x.sh_shool for x in schools"> </select>
          </div> 
          <div class="col-md-3"> 
           <!-- <div class="input-group"> 
            <input type="text" placeholder="输入关键词" ng-model="keyword" class="form-control" /> 
            <span class="input-group-btn"> <button class="btn btn-primary" ng-click="goSearch()" type="submit">搜索</button> </span> 
           </div>  -->
          </div> 
         <div class="col-md-offset-2 col-md-1"> 
          <a class="btn btn-primary pull-right" href="#/post-message"><i class="fa fa-edit"></i> 发布</a> 
         </div> 
        </div>
       </div> 
       <!-- BEGIN PRODUCT LIST --> 
       <div class="row blogs-list margin-bottom-20" ng-repeat="publish in AllPublishs"> 
        <div class="col-md-12 margin-bottom-20"> 
         <div class="blog-item col-md-12"> 
          <div class="col-md-12"> 
           <a href=""><img class="blog-item-img" src="../../assets/img/people/1.jpg" />
           </a> 
           <div class="blog-item-body col-md-11 margin-bottom-10"> 
            <div class="blog-item-body-title"> 
             <div class="col-md-12"> 
              <a class="blog-item-name" ng-click="goBlogInfo(publish.id)">{{publish.title}}</a> 
              <span class="blog-item-time"><i class="fa fa-clock-o"></i> {{publish.pubtime}} ###来自{{publish.publishername}}</span> 
             </div> 
            </div> 
            <div class="blog-item-body-info col-md-12"> 
             <p>{{publish.describe}}
             </p> 
             <img src="../../assets/img/facts.jpg"/> 
            </div> 
           </div> 
          </div> 
          <div class="col-md-12 blog-item-action"> 
           <div class="col-md-4">
            <span><a><i class="fa fa-comments"></i> 评论{{publish.commentnum}}</a></span>
           </div> 
           <div class="col-md-4 line">
            <span><a><i class="fa fa-thumbs-up"></i> 点赞10</a></span>
           </div> 
           <div class="col-md-4" id="ckepop">
            <span class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true" aria-expanded="false"><a><i class="fa fa-share-alt"></i> 分享</a></span>
            
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="jiathis_button_weixin"> 微信 </a>
                </li>
                <li>
                    <a href="javascript:;">
                    <i class="fa fa-weibo"></i> 新浪微博</a>
                </li>
                <li>
                    <a href="javascript:;">
                    <i class="fa fa-qq"></i> QQ</a>
                </li>
                <li>
                    <a href="javascript:;">
                    <i class="fa fa-star"></i> QQ空间 </a>
                </li>
            </ul>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
       <!-- END PRODUCT LIST --> 
      </div> 
      <!-- END CONTENT --> 
     </div> 
     <!-- END SIDEBAR & CONTENT --> 
    </div> 
   </div> 
  </div> 
  <!--END --> 
  <!-- Global js END -->  
 </body>
