    <div style="padding: 28px 30px 0 30px;background-color: #F1F1F1;">
    	<!-- 按钮操作区域开始 -->
			<!-- 按钮操作区域开始 -->
			<div class="row" style="height:34px">
				<div class="col-sm-2">
					<div class="btn-group pull-left" id="status">
					项目：<select 
					ng-model="selectedProject" ng-options="x.pro_name for x in projects"
					ng-change="projectChange(selectedProject.pro_id)"
					>			
					</select>
					</div>
				</div>
		        <div  class="col-sm-2">								
					<div class="btn-group pull-left" id="status">
					单体：<select ng-model="selectSingle" ng-options="x.single_name for x in singles"
					ng-change="singleChange(selectedProject.pro_id, selectSingle.single_name)"
					>
					</select>
					</div>
				</div>
				<div  class="col-sm-2">								
					<div class="btn-group pull-left" id="status">
					楼层：<select ng-model="selectFloor" ng-options="x.floor for x in floors">
					</select>
					</div>
				</div>
				<div  class="col-sm-2">	
					<div class="btn-group pull-left" id="status">
					&nbsp;
					<button type="button" class="btn btn-default pull-right" ng-click="getComponentOrders()">
							搜索
					</button>
					</div>							
					
				</div>				
			</div>
			<div class="col-sm-12" style="height:34px">
			<button type="button" class="btn btn-default pull-right" ng-click="showAll()">
					显示全部
				</button>	
			</div>
			<!-- 按钮操作区域结束 -->
			<!-- 表格操作区域开始 -->
			<div class="tableArea">
				<table class="table table-striped table-bordered" id="tableArea" ng-model="componentOrders">
				   <thead>
				      <tr>
				         <th>
				         	<div>
				         		<input type="checkbox" ng-checked="isChecked()" ng-click="toggleAll()" class="checkBox" >
				         		<label for="allSecSon" >全选</label>
				         	</div>
				         </th>
				         <th>序号</th>
				         <th>项目名称</th>
				         <th>单体</th>
				         <th>楼层</th>
				         <th>计划开始时间</th>
				         <th>计划完成时间</th>
				         <th>实际开始时间</th>
				         <th>实际完成时间</th>
				         <th>操作</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr ng-repeat="componentOrder in componentOrders">
				         <td>
						 <input type="checkbox" ng-checked="exists(componentOrder, selected)"
                    				ng-click="toggle(componentOrder, selected)"/>
				         </td>
				         <td>{{$index+1}}</td>
				         <td>{{componentOrder.pro_name}}</td>
				         <td>{{componentOrder.single_name}}</td>
				         <td>{{componentOrder.floor}}</td>
				         <td>{{componentOrder.plan_begin_date}}</td>
				         <td>{{componentOrder.plan_end_date}}</td>
				         <td>{{componentOrder.real_begin_date}}</td>
				         <td>{{componentOrder.real_end_date}}</td>
				         <td> 				        
  				            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateOrder" ng-click="selectByPrimaryKey(componentOrder.order_id)">更新</button>				         	
				         </td>
				      </tr>
				   </tbody>
				</table>
				<div class="page">
               <!-- 翻页功能 -->
               <div class="row" style="text-align:center">
                    <pagination ng-change="pageChanged()" total-items="bigTotalItems"
                             ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                             boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                </div>
	</div>
			</div>
			<!-- 表格操作区域结束 -->
			<div class="three">
				<div class="btn-group" role="group">
				    <button type="button" class="btn btn-default" ng-click="exportCompOrder()">导出报表</button>
				   
				</div>
			</div>
    </div>  
    
    <!--  更新project模态框 -->
   	<div class="modal fade" id="updateOrder" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               更新进度
	            </h4>
	         </div>
	         <div class="modal-body">
	            	<form class="form-horizontal" name="projectForm">
					   <div class="form-group">
					      <label for="projectname" class="col-sm-2 control-label">项目名称</label>
					      <div class="col-sm-10">
					         {{order.pro_name}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="address" class="col-sm-2 control-label">单体名称</label>
					      <div class="col-sm-10">
					         {{order.single_name}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactName" class="col-sm-2 control-label">楼层名称</label>
					      <div class="col-sm-10">
					         {{order.floor}}
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="contactTel" class="col-sm-2 control-label">计划开始日期</label>
					      <div class="col-sm-10">
					         <!-- <input type="text" class="form-control" id="contactTel" name="contactTel" ng-model="order.plan_begin_date"
					            placeholder="请输入计划开始时间"> -->
					          <div class='input-group date datetimepickerDisplay'>  
                    		<input id="expedit_date" style="position: relative" type='text' class="form-control" placeholder="计划开始日期" ng-model="order.plan_begin_date" />  
                    			<span class="input-group-addon" style="width:14px">  
                        		<span class="glyphicon glyphicon-calendar"></span>  
                    			</span>  
                			</div>
					      </div>
					   </div>
					    <div class="form-group">
					      <label for="contactPhone" class="col-sm-2 control-label">计划完成日期</label>
					      <div class="col-sm-10">
					         <!-- <input type="text" class="form-control" id="contactPhone" name="contactPhone" ng-model="order.plan_end_date"
					            placeholder="请输入计划结束时间"> -->
					            <div class='input-group date datetimepickerDisplay'>  
                    		<input id="expedit_date" style="position: relative" type='text' class="form-control" placeholder="计划完成日期" ng-model="order.plan_end_date" />  
                    			<span class="input-group-addon" style="width:14px">  
                        		<span class="glyphicon glyphicon-calendar"></span>  
                    			</span>  
                			</div>
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="detail" class="col-sm-2 control-label">实际开始日期</label>
					      <div class="col-sm-10">
					         <!-- <textarea type="text" rows="4" class="form-control" id="detail" name="detail" ng-model="order.real_begin_date"
					            placeholder="请输入实际开始日期">
					            </textarea> -->
					           <div class='input-group date datetimepickerDisplay'>  
                    		<input id="expedit_date" style="position: relative" type='text' class="form-control" placeholder="实际开始日期" ng-model="order.real_begin_date" />  
                    			<span class="input-group-addon" style="width:14px">  
                        		<span class="glyphicon glyphicon-calendar"></span>  
                    			</span>  
                			</div>
					      </div>
					   </div>
					   <div class="form-group">
					      <label for="detail" class="col-sm-2 control-label">实际完成日期</label>
					      <div class="col-sm-10">
					         <!-- <textarea type="text" rows="4" class="form-control" id="detail" name="detail" ng-model="order.real_end_date"
					            placeholder="请输入实际完成日期">
					            </textarea> -->
					             <div class='input-group date datetimepickerDisplay' >  
                    		<input id="expedit_date" style="position: relative" type='text' class="form-control" placeholder="实际完成日期" ng-model="order.real_end_date" />  
                    			<span class="input-group-addon" style="width:14px">  
                        		<span class="glyphicon glyphicon-calendar"></span>  
                    			</span>  
                			</div>
					      </div>
					   </div>
	            	</form>
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">取消
	            </button>
	            <button type="button" ng-click="updateByPrimaryKeySelective()" class="btn btn-primary" data-dismiss="modal">
	                                                       更新
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	</div><!-- /.modal -->
	</div>
	<!--  更新project模态框 end -->
   	