<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.InstallComponentSizeMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.InstallComponentSize" >
    <id column="install_component_size_id" property="install_component_size_id" jdbcType="INTEGER" />
    <result column="axis_position_pass" property="axis_position_pass" jdbcType="INTEGER" />
    <result column="axis_position_mark" property="axis_position_mark" jdbcType="VARCHAR" />
    <result column="upper_surface_pass" property="upper_surface_pass" jdbcType="INTEGER" />
    <result column="upper_surface_mark" property="upper_surface_mark" jdbcType="VARCHAR" />
    <result column="verticality_wall_pass" property="verticality_wall_pass" jdbcType="INTEGER" />
    <result column="verticality_wall_mark" property="verticality_wall_mark" jdbcType="VARCHAR" />
    <result column="height_difference_plates_pass" property="height_difference_plates_pass" jdbcType="INTEGER" />
    <result column="height_difference_plates_mark" property="height_difference_plates_mark" jdbcType="VARCHAR" />
    <result column="surface_roughness_pass" property="surface_roughness_pass" jdbcType="INTEGER" />
    <result column="surface_roughness_mark" property="surface_roughness_mark" jdbcType="VARCHAR" />
    <result column="deviation_exterior_pass" property="deviation_exterior_pass" jdbcType="INTEGER" />
    <result column="deviation_exterior_mark" property="deviation_exterior_mark" jdbcType="VARCHAR" />
    <result column="connector_position_deviation_pass" property="connector_position_deviation_pass" jdbcType="INTEGER" />
    <result column="connector_position_deviation_mark" property="connector_position_deviation_mark" jdbcType="VARCHAR" />
    <result column="Deviation_skew_pass" property="deviation_skew_pass" jdbcType="INTEGER" />
    <result column="Deviation_skew_mark" property="deviation_skew_mark" jdbcType="VARCHAR" />
    <result column="cavity_plate_pass" property="cavity_plate_pass" jdbcType="INTEGER" />
    <result column="cavity_plate_mark" property="cavity_plate_mark" jdbcType="VARCHAR" />
    <result column="component_id" property="component_id" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    install_component_size_id, axis_position_pass, axis_position_mark, upper_surface_pass, 
    upper_surface_mark, verticality_wall_pass, verticality_wall_mark, height_difference_plates_pass, 
    height_difference_plates_mark, surface_roughness_pass, surface_roughness_mark, deviation_exterior_pass, 
    deviation_exterior_mark, connector_position_deviation_pass, connector_position_deviation_mark, 
    Deviation_skew_pass, Deviation_skew_mark, cavity_plate_pass, cavity_plate_mark, component_id, 
    picture
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from install_component_size
    where install_component_size_id = #{install_component_size_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from install_component_size
    where install_component_size_id = #{install_component_size_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.InstallComponentSize" >
    insert into install_component_size (install_component_size_id, axis_position_pass, 
      axis_position_mark, upper_surface_pass, 
      upper_surface_mark, verticality_wall_pass, 
      verticality_wall_mark, height_difference_plates_pass, 
      height_difference_plates_mark, surface_roughness_pass, 
      surface_roughness_mark, deviation_exterior_pass, 
      deviation_exterior_mark, connector_position_deviation_pass, 
      connector_position_deviation_mark, Deviation_skew_pass, 
      Deviation_skew_mark, cavity_plate_pass, 
      cavity_plate_mark, component_id, picture
      )
    values (#{install_component_size_id,jdbcType=INTEGER}, #{axis_position_pass,jdbcType=INTEGER}, 
      #{axis_position_mark,jdbcType=VARCHAR}, #{upper_surface_pass,jdbcType=INTEGER}, 
      #{upper_surface_mark,jdbcType=VARCHAR}, #{verticality_wall_pass,jdbcType=INTEGER}, 
      #{verticality_wall_mark,jdbcType=VARCHAR}, #{height_difference_plates_pass,jdbcType=INTEGER}, 
      #{height_difference_plates_mark,jdbcType=VARCHAR}, #{surface_roughness_pass,jdbcType=INTEGER}, 
      #{surface_roughness_mark,jdbcType=VARCHAR}, #{deviation_exterior_pass,jdbcType=INTEGER}, 
      #{deviation_exterior_mark,jdbcType=VARCHAR}, #{connector_position_deviation_pass,jdbcType=INTEGER}, 
      #{connector_position_deviation_mark,jdbcType=VARCHAR}, #{deviation_skew_pass,jdbcType=INTEGER}, 
      #{deviation_skew_mark,jdbcType=VARCHAR}, #{cavity_plate_pass,jdbcType=INTEGER}, 
      #{cavity_plate_mark,jdbcType=VARCHAR}, #{component_id,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.InstallComponentSize" >
    insert into install_component_size
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="install_component_size_id != null" >
        install_component_size_id,
      </if>
      <if test="axis_position_pass != null" >
        axis_position_pass,
      </if>
      <if test="axis_position_mark != null" >
        axis_position_mark,
      </if>
      <if test="upper_surface_pass != null" >
        upper_surface_pass,
      </if>
      <if test="upper_surface_mark != null" >
        upper_surface_mark,
      </if>
      <if test="verticality_wall_pass != null" >
        verticality_wall_pass,
      </if>
      <if test="verticality_wall_mark != null" >
        verticality_wall_mark,
      </if>
      <if test="height_difference_plates_pass != null" >
        height_difference_plates_pass,
      </if>
      <if test="height_difference_plates_mark != null" >
        height_difference_plates_mark,
      </if>
      <if test="surface_roughness_pass != null" >
        surface_roughness_pass,
      </if>
      <if test="surface_roughness_mark != null" >
        surface_roughness_mark,
      </if>
      <if test="deviation_exterior_pass != null" >
        deviation_exterior_pass,
      </if>
      <if test="deviation_exterior_mark != null" >
        deviation_exterior_mark,
      </if>
      <if test="connector_position_deviation_pass != null" >
        connector_position_deviation_pass,
      </if>
      <if test="connector_position_deviation_mark != null" >
        connector_position_deviation_mark,
      </if>
      <if test="deviation_skew_pass != null" >
        Deviation_skew_pass,
      </if>
      <if test="deviation_skew_mark != null" >
        Deviation_skew_mark,
      </if>
      <if test="cavity_plate_pass != null" >
        cavity_plate_pass,
      </if>
      <if test="cavity_plate_mark != null" >
        cavity_plate_mark,
      </if>
      <if test="component_id != null" >
        component_id,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="install_component_size_id != null" >
        #{install_component_size_id,jdbcType=INTEGER},
      </if>
      <if test="axis_position_pass != null" >
        #{axis_position_pass,jdbcType=INTEGER},
      </if>
      <if test="axis_position_mark != null" >
        #{axis_position_mark,jdbcType=VARCHAR},
      </if>
      <if test="upper_surface_pass != null" >
        #{upper_surface_pass,jdbcType=INTEGER},
      </if>
      <if test="upper_surface_mark != null" >
        #{upper_surface_mark,jdbcType=VARCHAR},
      </if>
      <if test="verticality_wall_pass != null" >
        #{verticality_wall_pass,jdbcType=INTEGER},
      </if>
      <if test="verticality_wall_mark != null" >
        #{verticality_wall_mark,jdbcType=VARCHAR},
      </if>
      <if test="height_difference_plates_pass != null" >
        #{height_difference_plates_pass,jdbcType=INTEGER},
      </if>
      <if test="height_difference_plates_mark != null" >
        #{height_difference_plates_mark,jdbcType=VARCHAR},
      </if>
      <if test="surface_roughness_pass != null" >
        #{surface_roughness_pass,jdbcType=INTEGER},
      </if>
      <if test="surface_roughness_mark != null" >
        #{surface_roughness_mark,jdbcType=VARCHAR},
      </if>
      <if test="deviation_exterior_pass != null" >
        #{deviation_exterior_pass,jdbcType=INTEGER},
      </if>
      <if test="deviation_exterior_mark != null" >
        #{deviation_exterior_mark,jdbcType=VARCHAR},
      </if>
      <if test="connector_position_deviation_pass != null" >
        #{connector_position_deviation_pass,jdbcType=INTEGER},
      </if>
      <if test="connector_position_deviation_mark != null" >
        #{connector_position_deviation_mark,jdbcType=VARCHAR},
      </if>
      <if test="deviation_skew_pass != null" >
        #{deviation_skew_pass,jdbcType=INTEGER},
      </if>
      <if test="deviation_skew_mark != null" >
        #{deviation_skew_mark,jdbcType=VARCHAR},
      </if>
      <if test="cavity_plate_pass != null" >
        #{cavity_plate_pass,jdbcType=INTEGER},
      </if>
      <if test="cavity_plate_mark != null" >
        #{cavity_plate_mark,jdbcType=VARCHAR},
      </if>
      <if test="component_id != null" >
        #{component_id,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.InstallComponentSize" >
    update install_component_size
    <set >
      <if test="axis_position_pass != null" >
        axis_position_pass = #{axis_position_pass,jdbcType=INTEGER},
      </if>
      <if test="axis_position_mark != null" >
        axis_position_mark = #{axis_position_mark,jdbcType=VARCHAR},
      </if>
      <if test="upper_surface_pass != null" >
        upper_surface_pass = #{upper_surface_pass,jdbcType=INTEGER},
      </if>
      <if test="upper_surface_mark != null" >
        upper_surface_mark = #{upper_surface_mark,jdbcType=VARCHAR},
      </if>
      <if test="verticality_wall_pass != null" >
        verticality_wall_pass = #{verticality_wall_pass,jdbcType=INTEGER},
      </if>
      <if test="verticality_wall_mark != null" >
        verticality_wall_mark = #{verticality_wall_mark,jdbcType=VARCHAR},
      </if>
      <if test="height_difference_plates_pass != null" >
        height_difference_plates_pass = #{height_difference_plates_pass,jdbcType=INTEGER},
      </if>
      <if test="height_difference_plates_mark != null" >
        height_difference_plates_mark = #{height_difference_plates_mark,jdbcType=VARCHAR},
      </if>
      <if test="surface_roughness_pass != null" >
        surface_roughness_pass = #{surface_roughness_pass,jdbcType=INTEGER},
      </if>
      <if test="surface_roughness_mark != null" >
        surface_roughness_mark = #{surface_roughness_mark,jdbcType=VARCHAR},
      </if>
      <if test="deviation_exterior_pass != null" >
        deviation_exterior_pass = #{deviation_exterior_pass,jdbcType=INTEGER},
      </if>
      <if test="deviation_exterior_mark != null" >
        deviation_exterior_mark = #{deviation_exterior_mark,jdbcType=VARCHAR},
      </if>
      <if test="connector_position_deviation_pass != null" >
        connector_position_deviation_pass = #{connector_position_deviation_pass,jdbcType=INTEGER},
      </if>
      <if test="connector_position_deviation_mark != null" >
        connector_position_deviation_mark = #{connector_position_deviation_mark,jdbcType=VARCHAR},
      </if>
      <if test="deviation_skew_pass != null" >
        Deviation_skew_pass = #{deviation_skew_pass,jdbcType=INTEGER},
      </if>
      <if test="deviation_skew_mark != null" >
        Deviation_skew_mark = #{deviation_skew_mark,jdbcType=VARCHAR},
      </if>
      <if test="cavity_plate_pass != null" >
        cavity_plate_pass = #{cavity_plate_pass,jdbcType=INTEGER},
      </if>
      <if test="cavity_plate_mark != null" >
        cavity_plate_mark = #{cavity_plate_mark,jdbcType=VARCHAR},
      </if>
      <if test="component_id != null" >
        component_id = #{component_id,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where component_id = #{component_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.InstallComponentSize" >
    update install_component_size
    set axis_position_pass = #{axis_position_pass,jdbcType=INTEGER},
      axis_position_mark = #{axis_position_mark,jdbcType=VARCHAR},
      upper_surface_pass = #{upper_surface_pass,jdbcType=INTEGER},
      upper_surface_mark = #{upper_surface_mark,jdbcType=VARCHAR},
      verticality_wall_pass = #{verticality_wall_pass,jdbcType=INTEGER},
      verticality_wall_mark = #{verticality_wall_mark,jdbcType=VARCHAR},
      height_difference_plates_pass = #{height_difference_plates_pass,jdbcType=INTEGER},
      height_difference_plates_mark = #{height_difference_plates_mark,jdbcType=VARCHAR},
      surface_roughness_pass = #{surface_roughness_pass,jdbcType=INTEGER},
      surface_roughness_mark = #{surface_roughness_mark,jdbcType=VARCHAR},
      deviation_exterior_pass = #{deviation_exterior_pass,jdbcType=INTEGER},
      deviation_exterior_mark = #{deviation_exterior_mark,jdbcType=VARCHAR},
      connector_position_deviation_pass = #{connector_position_deviation_pass,jdbcType=INTEGER},
      connector_position_deviation_mark = #{connector_position_deviation_mark,jdbcType=VARCHAR},
      Deviation_skew_pass = #{deviation_skew_pass,jdbcType=INTEGER},
      Deviation_skew_mark = #{deviation_skew_mark,jdbcType=VARCHAR},
      cavity_plate_pass = #{cavity_plate_pass,jdbcType=INTEGER},
      cavity_plate_mark = #{cavity_plate_mark,jdbcType=VARCHAR},
      component_id = #{component_id,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR}
    where install_component_size_id = #{install_component_size_id,jdbcType=INTEGER}
  </update>
   <select id="findByComponentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from install_component_size
    where component_id = #{component_id,jdbcType=INTEGER}
  </select>
  
  <resultMap id="appResult"   type="HashMap">  
    <result column="app_version" property="app_version"/>  
    <result column="app_url" property="app_url" />
  </resultMap>
  <select id="getAppVersion" resultMap="appResult">
  	select app_version, app_url from app_update
  </select>
</mapper>