<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.ProductCuringMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.ProductCuring" >
    <id column="product_curing_id" property="product_curing_id" jdbcType="INTEGER" />
    <result column="expose_steel_pass" property="expose_steel_pass" jdbcType="INTEGER" />
    <result column="expose_steel_mark" property="expose_steel_mark" jdbcType="VARCHAR" />
    <result column="honeycomb_pass" property="honeycomb_pass" jdbcType="INTEGER" />
    <result column="honeycomb_mark" property="honeycomb_mark" jdbcType="VARCHAR" />
    <result column="hole_pass" property="hole_pass" jdbcType="INTEGER" />
    <result column="hole_mark" property="hole_mark" jdbcType="VARCHAR" />
    <result column="slag_pass" property="slag_pass" jdbcType="INTEGER" />
    <result column="slag_mark" property="slag_mark" jdbcType="VARCHAR" />
    <result column="loose_pass" property="loose_pass" jdbcType="INTEGER" />
    <result column="loose_mark" property="loose_mark" jdbcType="VARCHAR" />
    <result column="crack_seam_pass" property="crack_seam_pass" jdbcType="INTEGER" />
    <result column="crack_seam_mark" property="crack_seam_mark" jdbcType="VARCHAR" />
    <result column="crack_line_pass" property="crack_line_pass" jdbcType="INTEGER" />
    <result column="crack_line_mark" property="crack_line_mark" jdbcType="VARCHAR" />
    <result column="connect_defect_pass" property="connect_defect_pass" jdbcType="INTEGER" />
    <result column="connect_defect_mark" property="connect_defect_mark" jdbcType="VARCHAR" />
    <result column="appearance_defect_pass" property="appearance_defect_pass" jdbcType="INTEGER" />
    <result column="appearance_defect_mark" property="appearance_defect_mark" jdbcType="VARCHAR" />
    <result column="surface_defect_pass" property="surface_defect_pass" jdbcType="INTEGER" />
    <result column="surface_defect_mark" property="surface_defect_mark" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="component_id" property="component_id" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_curing_id, expose_steel_pass, expose_steel_mark, honeycomb_pass, honeycomb_mark, 
    hole_pass, hole_mark, slag_pass, slag_mark, loose_pass, loose_mark, crack_seam_pass, 
    crack_seam_mark, crack_line_pass, crack_line_mark, connect_defect_pass, connect_defect_mark, 
    appearance_defect_pass, appearance_defect_mark, surface_defect_pass, surface_defect_mark, 
    picture, component_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_curing
    where product_curing_id = #{product_curing_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_curing
    where product_curing_id = #{product_curing_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.ProductCuring" >
    insert into product_curing (product_curing_id, expose_steel_pass, 
      expose_steel_mark, honeycomb_pass, honeycomb_mark, 
      hole_pass, hole_mark, slag_pass, 
      slag_mark, loose_pass, loose_mark, 
      crack_seam_pass, crack_seam_mark, crack_line_pass, 
      crack_line_mark, connect_defect_pass, connect_defect_mark, 
      appearance_defect_pass, appearance_defect_mark, 
      surface_defect_pass, surface_defect_mark, 
      picture, component_id)
    values (#{product_curing_id,jdbcType=INTEGER}, #{expose_steel_pass,jdbcType=INTEGER}, 
      #{expose_steel_mark,jdbcType=VARCHAR}, #{honeycomb_pass,jdbcType=INTEGER}, #{honeycomb_mark,jdbcType=VARCHAR}, 
      #{hole_pass,jdbcType=INTEGER}, #{hole_mark,jdbcType=VARCHAR}, #{slag_pass,jdbcType=INTEGER}, 
      #{slag_mark,jdbcType=VARCHAR}, #{loose_pass,jdbcType=INTEGER}, #{loose_mark,jdbcType=VARCHAR}, 
      #{crack_seam_pass,jdbcType=INTEGER}, #{crack_seam_mark,jdbcType=VARCHAR}, #{crack_line_pass,jdbcType=INTEGER}, 
      #{crack_line_mark,jdbcType=VARCHAR}, #{connect_defect_pass,jdbcType=INTEGER}, #{connect_defect_mark,jdbcType=VARCHAR}, 
      #{appearance_defect_pass,jdbcType=INTEGER}, #{appearance_defect_mark,jdbcType=VARCHAR}, 
      #{surface_defect_pass,jdbcType=INTEGER}, #{surface_defect_mark,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{component_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.ProductCuring" >
    insert into product_curing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="product_curing_id != null" >
        product_curing_id,
      </if>
      <if test="expose_steel_pass != null" >
        expose_steel_pass,
      </if>
      <if test="expose_steel_mark != null" >
        expose_steel_mark,
      </if>
      <if test="honeycomb_pass != null" >
        honeycomb_pass,
      </if>
      <if test="honeycomb_mark != null" >
        honeycomb_mark,
      </if>
      <if test="hole_pass != null" >
        hole_pass,
      </if>
      <if test="hole_mark != null" >
        hole_mark,
      </if>
      <if test="slag_pass != null" >
        slag_pass,
      </if>
      <if test="slag_mark != null" >
        slag_mark,
      </if>
      <if test="loose_pass != null" >
        loose_pass,
      </if>
      <if test="loose_mark != null" >
        loose_mark,
      </if>
      <if test="crack_seam_pass != null" >
        crack_seam_pass,
      </if>
      <if test="crack_seam_mark != null" >
        crack_seam_mark,
      </if>
      <if test="crack_line_pass != null" >
        crack_line_pass,
      </if>
      <if test="crack_line_mark != null" >
        crack_line_mark,
      </if>
      <if test="connect_defect_pass != null" >
        connect_defect_pass,
      </if>
      <if test="connect_defect_mark != null" >
        connect_defect_mark,
      </if>
      <if test="appearance_defect_pass != null" >
        appearance_defect_pass,
      </if>
      <if test="appearance_defect_mark != null" >
        appearance_defect_mark,
      </if>
      <if test="surface_defect_pass != null" >
        surface_defect_pass,
      </if>
      <if test="surface_defect_mark != null" >
        surface_defect_mark,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="component_id != null" >
        component_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="product_curing_id != null" >
        #{product_curing_id,jdbcType=INTEGER},
      </if>
      <if test="expose_steel_pass != null" >
        #{expose_steel_pass,jdbcType=INTEGER},
      </if>
      <if test="expose_steel_mark != null" >
        #{expose_steel_mark,jdbcType=VARCHAR},
      </if>
      <if test="honeycomb_pass != null" >
        #{honeycomb_pass,jdbcType=INTEGER},
      </if>
      <if test="honeycomb_mark != null" >
        #{honeycomb_mark,jdbcType=VARCHAR},
      </if>
      <if test="hole_pass != null" >
        #{hole_pass,jdbcType=INTEGER},
      </if>
      <if test="hole_mark != null" >
        #{hole_mark,jdbcType=VARCHAR},
      </if>
      <if test="slag_pass != null" >
        #{slag_pass,jdbcType=INTEGER},
      </if>
      <if test="slag_mark != null" >
        #{slag_mark,jdbcType=VARCHAR},
      </if>
      <if test="loose_pass != null" >
        #{loose_pass,jdbcType=INTEGER},
      </if>
      <if test="loose_mark != null" >
        #{loose_mark,jdbcType=VARCHAR},
      </if>
      <if test="crack_seam_pass != null" >
        #{crack_seam_pass,jdbcType=INTEGER},
      </if>
      <if test="crack_seam_mark != null" >
        #{crack_seam_mark,jdbcType=VARCHAR},
      </if>
      <if test="crack_line_pass != null" >
        #{crack_line_pass,jdbcType=INTEGER},
      </if>
      <if test="crack_line_mark != null" >
        #{crack_line_mark,jdbcType=VARCHAR},
      </if>
      <if test="connect_defect_pass != null" >
        #{connect_defect_pass,jdbcType=INTEGER},
      </if>
      <if test="connect_defect_mark != null" >
        #{connect_defect_mark,jdbcType=VARCHAR},
      </if>
      <if test="appearance_defect_pass != null" >
        #{appearance_defect_pass,jdbcType=INTEGER},
      </if>
      <if test="appearance_defect_mark != null" >
        #{appearance_defect_mark,jdbcType=VARCHAR},
      </if>
      <if test="surface_defect_pass != null" >
        #{surface_defect_pass,jdbcType=INTEGER},
      </if>
      <if test="surface_defect_mark != null" >
        #{surface_defect_mark,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="component_id != null" >
        #{component_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.ProductCuring" >
    update product_curing
    <set >
      <if test="expose_steel_pass != null" >
        expose_steel_pass = #{expose_steel_pass,jdbcType=INTEGER},
      </if>
      <if test="expose_steel_mark != null" >
        expose_steel_mark = #{expose_steel_mark,jdbcType=VARCHAR},
      </if>
      <if test="honeycomb_pass != null" >
        honeycomb_pass = #{honeycomb_pass,jdbcType=INTEGER},
      </if>
      <if test="honeycomb_mark != null" >
        honeycomb_mark = #{honeycomb_mark,jdbcType=VARCHAR},
      </if>
      <if test="hole_pass != null" >
        hole_pass = #{hole_pass,jdbcType=INTEGER},
      </if>
      <if test="hole_mark != null" >
        hole_mark = #{hole_mark,jdbcType=VARCHAR},
      </if>
      <if test="slag_pass != null" >
        slag_pass = #{slag_pass,jdbcType=INTEGER},
      </if>
      <if test="slag_mark != null" >
        slag_mark = #{slag_mark,jdbcType=VARCHAR},
      </if>
      <if test="loose_pass != null" >
        loose_pass = #{loose_pass,jdbcType=INTEGER},
      </if>
      <if test="loose_mark != null" >
        loose_mark = #{loose_mark,jdbcType=VARCHAR},
      </if>
      <if test="crack_seam_pass != null" >
        crack_seam_pass = #{crack_seam_pass,jdbcType=INTEGER},
      </if>
      <if test="crack_seam_mark != null" >
        crack_seam_mark = #{crack_seam_mark,jdbcType=VARCHAR},
      </if>
      <if test="crack_line_pass != null" >
        crack_line_pass = #{crack_line_pass,jdbcType=INTEGER},
      </if>
      <if test="crack_line_mark != null" >
        crack_line_mark = #{crack_line_mark,jdbcType=VARCHAR},
      </if>
      <if test="connect_defect_pass != null" >
        connect_defect_pass = #{connect_defect_pass,jdbcType=INTEGER},
      </if>
      <if test="connect_defect_mark != null" >
        connect_defect_mark = #{connect_defect_mark,jdbcType=VARCHAR},
      </if>
      <if test="appearance_defect_pass != null" >
        appearance_defect_pass = #{appearance_defect_pass,jdbcType=INTEGER},
      </if>
      <if test="appearance_defect_mark != null" >
        appearance_defect_mark = #{appearance_defect_mark,jdbcType=VARCHAR},
      </if>
      <if test="surface_defect_pass != null" >
        surface_defect_pass = #{surface_defect_pass,jdbcType=INTEGER},
      </if>
      <if test="surface_defect_mark != null" >
        surface_defect_mark = #{surface_defect_mark,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="component_id != null" >
        component_id = #{component_id,jdbcType=INTEGER},
      </if>
    </set>
    where component_id = #{component_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.ProductCuring" >
    update product_curing
    set expose_steel_pass = #{expose_steel_pass,jdbcType=INTEGER},
      expose_steel_mark = #{expose_steel_mark,jdbcType=VARCHAR},
      honeycomb_pass = #{honeycomb_pass,jdbcType=INTEGER},
      honeycomb_mark = #{honeycomb_mark,jdbcType=VARCHAR},
      hole_pass = #{hole_pass,jdbcType=INTEGER},
      hole_mark = #{hole_mark,jdbcType=VARCHAR},
      slag_pass = #{slag_pass,jdbcType=INTEGER},
      slag_mark = #{slag_mark,jdbcType=VARCHAR},
      loose_pass = #{loose_pass,jdbcType=INTEGER},
      loose_mark = #{loose_mark,jdbcType=VARCHAR},
      crack_seam_pass = #{crack_seam_pass,jdbcType=INTEGER},
      crack_seam_mark = #{crack_seam_mark,jdbcType=VARCHAR},
      crack_line_pass = #{crack_line_pass,jdbcType=INTEGER},
      crack_line_mark = #{crack_line_mark,jdbcType=VARCHAR},
      connect_defect_pass = #{connect_defect_pass,jdbcType=INTEGER},
      connect_defect_mark = #{connect_defect_mark,jdbcType=VARCHAR},
      appearance_defect_pass = #{appearance_defect_pass,jdbcType=INTEGER},
      appearance_defect_mark = #{appearance_defect_mark,jdbcType=VARCHAR},
      surface_defect_pass = #{surface_defect_pass,jdbcType=INTEGER},
      surface_defect_mark = #{surface_defect_mark,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      component_id = #{component_id,jdbcType=INTEGER}
    where product_curing_id = #{product_curing_id,jdbcType=INTEGER}
  </update>
  
   <select id="findByComponentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_curing
    where component_id = #{component_id,jdbcType=INTEGER}
  </select>
  
</mapper>