<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.ProductModelSizeMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.ProductModelSize" >
    <id column="product_model_size_id" property="product_model_size_id" jdbcType="INTEGER" />
    <result column="length_small_pass" property="length_small_pass" jdbcType="INTEGER" />
    <result column="length_small_mark" property="length_small_mark" jdbcType="VARCHAR" />
    <result column="length_middle_pass" property="length_middle_pass" jdbcType="INTEGER" />
    <result column="lenth_middle_mark" property="lenth_middle_mark" jdbcType="VARCHAR" />
    <result column="lenth_big_pass" property="lenth_big_pass" jdbcType="INTEGER" />
    <result column="length_big_mark" property="length_big_mark" jdbcType="VARCHAR" />
    <result column="section_wallboard_pass" property="section_wallboard_pass" jdbcType="INTEGER" />
    <result column="section_wallboard_mark" property="section_wallboard_mark" jdbcType="VARCHAR" />
    <result column="section_other_pass" property="section_other_pass" jdbcType="INTEGER" />
    <result column="section_other_mark" property="section_other_mark" jdbcType="VARCHAR" />
    <result column="diagonal_pass" property="diagonal_pass" jdbcType="INTEGER" />
    <result column="diagonal_mark" property="diagonal_mark" jdbcType="VARCHAR" />
    <result column="lateralbending_pass" property="lateralbending_pass" jdbcType="INTEGER" />
    <result column="lateralbending_mark" property="lateralbending_mark" jdbcType="VARCHAR" />
    <result column="warping_pass" property="warping_pass" jdbcType="INTEGER" />
    <result column="warping_mark" property="warping_mark" jdbcType="VARCHAR" />
    <result column="bottom_model_pass" property="bottom_model_pass" jdbcType="INTEGER" />
    <result column="bottom_model_mark" property="bottom_model_mark" jdbcType="VARCHAR" />
    <result column="assemble_pass" property="assemble_pass" jdbcType="INTEGER" />
    <result column="assemble_mark" property="assemble_mark" jdbcType="VARCHAR" />
    <result column="high_low_pass" property="high_low_pass" jdbcType="INTEGER" />
    <result column="high_low_mark" property="high_low_mark" jdbcType="VARCHAR" />
    <result column="component_id" property="component_id" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_model_size_id, length_small_pass, length_small_mark, length_middle_pass, 
    lenth_middle_mark, lenth_big_pass, length_big_mark, section_wallboard_pass, section_wallboard_mark, 
    section_other_pass, section_other_mark, diagonal_pass, diagonal_mark, lateralbending_pass, 
    lateralbending_mark, warping_pass, warping_mark, bottom_model_pass, bottom_model_mark, 
    assemble_pass, assemble_mark, high_low_pass, high_low_mark, component_id, picture
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_model_size
    where product_model_size_id = #{product_model_size_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_model_size
    where product_model_size_id = #{product_model_size_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.ProductModelSize" >
    insert into product_model_size (product_model_size_id, length_small_pass, 
      length_small_mark, length_middle_pass, 
      lenth_middle_mark, lenth_big_pass, length_big_mark, 
      section_wallboard_pass, section_wallboard_mark, 
      section_other_pass, section_other_mark, 
      diagonal_pass, diagonal_mark, lateralbending_pass, 
      lateralbending_mark, warping_pass, warping_mark, 
      bottom_model_pass, bottom_model_mark, assemble_pass, 
      assemble_mark, high_low_pass, high_low_mark, 
      component_id, picture)
    values (#{product_model_size_id,jdbcType=INTEGER}, #{length_small_pass,jdbcType=INTEGER}, 
      #{length_small_mark,jdbcType=VARCHAR}, #{length_middle_pass,jdbcType=INTEGER}, 
      #{lenth_middle_mark,jdbcType=VARCHAR}, #{lenth_big_pass,jdbcType=INTEGER}, #{length_big_mark,jdbcType=VARCHAR}, 
      #{section_wallboard_pass,jdbcType=INTEGER}, #{section_wallboard_mark,jdbcType=VARCHAR}, 
      #{section_other_pass,jdbcType=INTEGER}, #{section_other_mark,jdbcType=VARCHAR}, 
      #{diagonal_pass,jdbcType=INTEGER}, #{diagonal_mark,jdbcType=VARCHAR}, #{lateralbending_pass,jdbcType=INTEGER}, 
      #{lateralbending_mark,jdbcType=VARCHAR}, #{warping_pass,jdbcType=INTEGER}, #{warping_mark,jdbcType=VARCHAR}, 
      #{bottom_model_pass,jdbcType=INTEGER}, #{bottom_model_mark,jdbcType=VARCHAR}, #{assemble_pass,jdbcType=INTEGER}, 
      #{assemble_mark,jdbcType=VARCHAR}, #{high_low_pass,jdbcType=INTEGER}, #{high_low_mark,jdbcType=VARCHAR}, 
      #{component_id,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.ProductModelSize" >
    insert into product_model_size
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="product_model_size_id != null" >
        product_model_size_id,
      </if>
      <if test="length_small_pass != null" >
        length_small_pass,
      </if>
      <if test="length_small_mark != null" >
        length_small_mark,
      </if>
      <if test="length_middle_pass != null" >
        length_middle_pass,
      </if>
      <if test="lenth_middle_mark != null" >
        lenth_middle_mark,
      </if>
      <if test="lenth_big_pass != null" >
        lenth_big_pass,
      </if>
      <if test="length_big_mark != null" >
        length_big_mark,
      </if>
      <if test="section_wallboard_pass != null" >
        section_wallboard_pass,
      </if>
      <if test="section_wallboard_mark != null" >
        section_wallboard_mark,
      </if>
      <if test="section_other_pass != null" >
        section_other_pass,
      </if>
      <if test="section_other_mark != null" >
        section_other_mark,
      </if>
      <if test="diagonal_pass != null" >
        diagonal_pass,
      </if>
      <if test="diagonal_mark != null" >
        diagonal_mark,
      </if>
      <if test="lateralbending_pass != null" >
        lateralbending_pass,
      </if>
      <if test="lateralbending_mark != null" >
        lateralbending_mark,
      </if>
      <if test="warping_pass != null" >
        warping_pass,
      </if>
      <if test="warping_mark != null" >
        warping_mark,
      </if>
      <if test="bottom_model_pass != null" >
        bottom_model_pass,
      </if>
      <if test="bottom_model_mark != null" >
        bottom_model_mark,
      </if>
      <if test="assemble_pass != null" >
        assemble_pass,
      </if>
      <if test="assemble_mark != null" >
        assemble_mark,
      </if>
      <if test="high_low_pass != null" >
        high_low_pass,
      </if>
      <if test="high_low_mark != null" >
        high_low_mark,
      </if>
      <if test="component_id != null" >
        component_id,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="product_model_size_id != null" >
        #{product_model_size_id,jdbcType=INTEGER},
      </if>
      <if test="length_small_pass != null" >
        #{length_small_pass,jdbcType=INTEGER},
      </if>
      <if test="length_small_mark != null" >
        #{length_small_mark,jdbcType=VARCHAR},
      </if>
      <if test="length_middle_pass != null" >
        #{length_middle_pass,jdbcType=INTEGER},
      </if>
      <if test="lenth_middle_mark != null" >
        #{lenth_middle_mark,jdbcType=VARCHAR},
      </if>
      <if test="lenth_big_pass != null" >
        #{lenth_big_pass,jdbcType=INTEGER},
      </if>
      <if test="length_big_mark != null" >
        #{length_big_mark,jdbcType=VARCHAR},
      </if>
      <if test="section_wallboard_pass != null" >
        #{section_wallboard_pass,jdbcType=INTEGER},
      </if>
      <if test="section_wallboard_mark != null" >
        #{section_wallboard_mark,jdbcType=VARCHAR},
      </if>
      <if test="section_other_pass != null" >
        #{section_other_pass,jdbcType=INTEGER},
      </if>
      <if test="section_other_mark != null" >
        #{section_other_mark,jdbcType=VARCHAR},
      </if>
      <if test="diagonal_pass != null" >
        #{diagonal_pass,jdbcType=INTEGER},
      </if>
      <if test="diagonal_mark != null" >
        #{diagonal_mark,jdbcType=VARCHAR},
      </if>
      <if test="lateralbending_pass != null" >
        #{lateralbending_pass,jdbcType=INTEGER},
      </if>
      <if test="lateralbending_mark != null" >
        #{lateralbending_mark,jdbcType=VARCHAR},
      </if>
      <if test="warping_pass != null" >
        #{warping_pass,jdbcType=INTEGER},
      </if>
      <if test="warping_mark != null" >
        #{warping_mark,jdbcType=VARCHAR},
      </if>
      <if test="bottom_model_pass != null" >
        #{bottom_model_pass,jdbcType=INTEGER},
      </if>
      <if test="bottom_model_mark != null" >
        #{bottom_model_mark,jdbcType=VARCHAR},
      </if>
      <if test="assemble_pass != null" >
        #{assemble_pass,jdbcType=INTEGER},
      </if>
      <if test="assemble_mark != null" >
        #{assemble_mark,jdbcType=VARCHAR},
      </if>
      <if test="high_low_pass != null" >
        #{high_low_pass,jdbcType=INTEGER},
      </if>
      <if test="high_low_mark != null" >
        #{high_low_mark,jdbcType=VARCHAR},
      </if>
      <if test="component_id != null" >
        #{component_id,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.ProductModelSize" >
    update product_model_size
    <set >
      <if test="length_small_pass != null" >
        length_small_pass = #{length_small_pass,jdbcType=INTEGER},
      </if>
      <if test="length_small_mark != null" >
        length_small_mark = #{length_small_mark,jdbcType=VARCHAR},
      </if>
      <if test="length_middle_pass != null" >
        length_middle_pass = #{length_middle_pass,jdbcType=INTEGER},
      </if>
      <if test="lenth_middle_mark != null" >
        lenth_middle_mark = #{lenth_middle_mark,jdbcType=VARCHAR},
      </if>
      <if test="lenth_big_pass != null" >
        lenth_big_pass = #{lenth_big_pass,jdbcType=INTEGER},
      </if>
      <if test="length_big_mark != null" >
        length_big_mark = #{length_big_mark,jdbcType=VARCHAR},
      </if>
      <if test="section_wallboard_pass != null" >
        section_wallboard_pass = #{section_wallboard_pass,jdbcType=INTEGER},
      </if>
      <if test="section_wallboard_mark != null" >
        section_wallboard_mark = #{section_wallboard_mark,jdbcType=VARCHAR},
      </if>
      <if test="section_other_pass != null" >
        section_other_pass = #{section_other_pass,jdbcType=INTEGER},
      </if>
      <if test="section_other_mark != null" >
        section_other_mark = #{section_other_mark,jdbcType=VARCHAR},
      </if>
      <if test="diagonal_pass != null" >
        diagonal_pass = #{diagonal_pass,jdbcType=INTEGER},
      </if>
      <if test="diagonal_mark != null" >
        diagonal_mark = #{diagonal_mark,jdbcType=VARCHAR},
      </if>
      <if test="lateralbending_pass != null" >
        lateralbending_pass = #{lateralbending_pass,jdbcType=INTEGER},
      </if>
      <if test="lateralbending_mark != null" >
        lateralbending_mark = #{lateralbending_mark,jdbcType=VARCHAR},
      </if>
      <if test="warping_pass != null" >
        warping_pass = #{warping_pass,jdbcType=INTEGER},
      </if>
      <if test="warping_mark != null" >
        warping_mark = #{warping_mark,jdbcType=VARCHAR},
      </if>
      <if test="bottom_model_pass != null" >
        bottom_model_pass = #{bottom_model_pass,jdbcType=INTEGER},
      </if>
      <if test="bottom_model_mark != null" >
        bottom_model_mark = #{bottom_model_mark,jdbcType=VARCHAR},
      </if>
      <if test="assemble_pass != null" >
        assemble_pass = #{assemble_pass,jdbcType=INTEGER},
      </if>
      <if test="assemble_mark != null" >
        assemble_mark = #{assemble_mark,jdbcType=VARCHAR},
      </if>
      <if test="high_low_pass != null" >
        high_low_pass = #{high_low_pass,jdbcType=INTEGER},
      </if>
      <if test="high_low_mark != null" >
        high_low_mark = #{high_low_mark,jdbcType=VARCHAR},
      </if>
      <if test="component_id != null" >
        component_id = #{component_id,jdbcType=INTEGER},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where component_id = #{component_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.ProductModelSize" >
    update product_model_size
    set length_small_pass = #{length_small_pass,jdbcType=INTEGER},
      length_small_mark = #{length_small_mark,jdbcType=VARCHAR},
      length_middle_pass = #{length_middle_pass,jdbcType=INTEGER},
      lenth_middle_mark = #{lenth_middle_mark,jdbcType=VARCHAR},
      lenth_big_pass = #{lenth_big_pass,jdbcType=INTEGER},
      length_big_mark = #{length_big_mark,jdbcType=VARCHAR},
      section_wallboard_pass = #{section_wallboard_pass,jdbcType=INTEGER},
      section_wallboard_mark = #{section_wallboard_mark,jdbcType=VARCHAR},
      section_other_pass = #{section_other_pass,jdbcType=INTEGER},
      section_other_mark = #{section_other_mark,jdbcType=VARCHAR},
      diagonal_pass = #{diagonal_pass,jdbcType=INTEGER},
      diagonal_mark = #{diagonal_mark,jdbcType=VARCHAR},
      lateralbending_pass = #{lateralbending_pass,jdbcType=INTEGER},
      lateralbending_mark = #{lateralbending_mark,jdbcType=VARCHAR},
      warping_pass = #{warping_pass,jdbcType=INTEGER},
      warping_mark = #{warping_mark,jdbcType=VARCHAR},
      bottom_model_pass = #{bottom_model_pass,jdbcType=INTEGER},
      bottom_model_mark = #{bottom_model_mark,jdbcType=VARCHAR},
      assemble_pass = #{assemble_pass,jdbcType=INTEGER},
      assemble_mark = #{assemble_mark,jdbcType=VARCHAR},
      high_low_pass = #{high_low_pass,jdbcType=INTEGER},
      high_low_mark = #{high_low_mark,jdbcType=VARCHAR},
      component_id = #{component_id,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR}
    where product_model_size_id = #{product_model_size_id,jdbcType=INTEGER}
  </update>
  
   <select id="findByComponentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_model_size
    where component_id = #{component_id,jdbcType=INTEGER}
  </select>
</mapper>