<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shfb.rfid.manage.dao.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.shfb.rfid.manage.entity.Record" >
    <id column="record_id" property="record_id" jdbcType="INTEGER" />
    <result column="car_num" property="car_num" jdbcType="VARCHAR" />
    <result column="entry_time" property="entry_time" jdbcType="VARCHAR" />
    <result column="entry_weight" property="entry_weight" jdbcType="VARCHAR" />
    <result column="entry_pic" property="entry_pic" jdbcType="VARCHAR" />
    <result column="leave_time" property="leave_time" jdbcType="VARCHAR" />
    <result column="leave_weight" property="leave_weight" jdbcType="VARCHAR" />
    <result column="leave_pic" property="leave_pic" jdbcType="VARCHAR" />    
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="deliverCompanyName" property="deliverCompanyName" jdbcType="VARCHAR" />
    <result column="companyName" property="companyName" jdbcType="VARCHAR" />
    <result column="carVarieties" property="carVarieties" jdbcType="VARCHAR" />
    <result column="driverNo" property="driverNo" jdbcType="VARCHAR" />
    <result column="ticketId" property="ticketId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    record_id, car_num, entry_time, entry_weight, entry_pic, leave_time, leave_weight, 
    leave_pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from record
    where record_id = #{record_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record
    where record_id = #{record_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shfb.rfid.manage.entity.Record" >
    insert into record (car_num, entry_time, 
      entry_weight, entry_pic, leave_time, 
      leave_weight, leave_pic)
    values (#{car_num,jdbcType=VARCHAR}, #{entry_time,jdbcType=VARCHAR}, 
      #{entry_weight,jdbcType=VARCHAR}, #{entry_pic,jdbcType=VARCHAR}, #{leave_time,jdbcType=VARCHAR}, 
      #{leave_weight,jdbcType=VARCHAR}, #{leave_pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shfb.rfid.manage.entity.Record" >
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record_id != null" >
        record_id,
      </if>
      <if test="car_num != null" >
        car_num,
      </if>
      <if test="entry_time != null" >
        entry_time,
      </if>
      <if test="entry_weight != null" >
        entry_weight,
      </if>
      <if test="entry_pic != null" >
        entry_pic,
      </if>
      <if test="leave_time != null" >
        leave_time,
      </if>
      <if test="leave_weight != null" >
        leave_weight,
      </if>
      <if test="leave_pic != null" >
        leave_pic,
      </if>     
      <if test="userName != null" >
        userName,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="deliverCompanyName != null" >
        deliverCompanyName,
      </if>
      <if test="companyName != null" >
        companyName,
      </if>
      <if test="carVarieties != null" >
        carVarieties,
      </if>
      <if test="driverNo != null" >
        driverNo,
      </if>
      <if test="ticketId != null" >
        ticketId,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="record_id != null" >
        #{record_id,jdbcType=INTEGER},
      </if>
      <if test="car_num != null" >
        #{car_num,jdbcType=VARCHAR},
      </if>
      <if test="entry_time != null" >
        #{entry_time,jdbcType=VARCHAR},
      </if>
      <if test="entry_weight != null" >
        #{entry_weight,jdbcType=VARCHAR},
      </if>
      <if test="entry_pic != null" >
        #{entry_pic,jdbcType=VARCHAR},
      </if>
      <if test="leave_time != null" >
        #{leave_time,jdbcType=VARCHAR},
      </if>
      <if test="leave_weight != null" >
        #{leave_weight,jdbcType=VARCHAR},
      </if>
      <if test="leave_pic != null" >
        #{leave_pic,jdbcType=VARCHAR},
      </if>     
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="deliverCompanyName != null" >
        #{deliverCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="carVarieties != null" >
        #{carVarieties,jdbcType=VARCHAR},
      </if>
      <if test="driverNo != null" >
        #{driverNo,jdbcType=VARCHAR},
      </if>
      <if test="ticketId != null" >
        #{ticketId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.shfb.rfid.manage.entity.Record" >
    update record
    <set >
      <if test="car_num != null" >
        car_num = #{car_num,jdbcType=VARCHAR},
      </if>
      <if test="entry_time != null" >
        entry_time = #{entry_time,jdbcType=VARCHAR},
      </if>
      <if test="entry_weight != null" >
        entry_weight = #{entry_weight,jdbcType=VARCHAR},
      </if>
      <if test="entry_pic != null" >
        entry_pic = #{entry_pic,jdbcType=VARCHAR},
      </if>
      <if test="leave_time != null" >
        leave_time = #{leave_time,jdbcType=VARCHAR},
      </if>
      <if test="leave_weight != null" >
        leave_weight = #{leave_weight,jdbcType=VARCHAR},
      </if>
      <if test="leave_pic != null" >
        leave_pic = #{leave_pic,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{record_id,jdbcType=INTEGER}
  </update>
  
   <update id="addCarNumByRecordIdEntry" parameterType="com.shfb.rfid.manage.entity.Record" >
    update record
    <set>
      <if test="car_num != null" >
        car_num = #{car_num,jdbcType=VARCHAR},
      </if>
      <if test="entry_time != null" >
        entry_time = #{entry_time,jdbcType=VARCHAR},
      </if>
      <if test="entry_weight != null" >
        entry_weight = #{entry_weight,jdbcType=VARCHAR},
      </if>
      <if test="entry_pic != null" >
        entry_pic = #{entry_pic,jdbcType=VARCHAR},
      </if>
      <if test="leave_time != null" >
        leave_time = #{leave_time,jdbcType=VARCHAR},
      </if>
      <if test="leave_weight != null" >
        leave_weight = #{leave_weight,jdbcType=VARCHAR},
      </if>
      <if test="leave_pic != null" >
        leave_pic = #{leave_pic,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{record_id,jdbcType=INTEGER} 
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.shfb.rfid.manage.entity.Record" >
    update record
    set car_num = #{car_num,jdbcType=VARCHAR},
      entry_time = #{entry_time,jdbcType=VARCHAR},
      entry_weight = #{entry_weight,jdbcType=VARCHAR},
      entry_pic = #{entry_pic,jdbcType=VARCHAR},
      leave_time = #{leave_time,jdbcType=VARCHAR},
      leave_weight = #{leave_weight,jdbcType=VARCHAR},
      leave_pic = #{leave_pic,jdbcType=VARCHAR}
    where record_id = #{record_id,jdbcType=INTEGER}
  </update>
  
  <select id="findAllRecords" parameterType="int" resultType="com.shfb.rfid.manage.entity.Record">
		SELECT * FROM `record`
		<where>
			<if test="keyword != null">
				car_num like "%"#{keyword}"%"
			</if>
			<if test="startTime!=null and startTime!=''">
                AND leave_time &gt;= #{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                AND leave_time &lt;= #{endTime}
            </if>
                AND car_num is not NULL AND car_num != '' AND entry_time is not NULL AND entry_time != '' AND
                leave_time is not NULL AND leave_time != ''
		</where>
		order by `leave_time` desc
	</select>
	
	 <select id="findAllErrorEntryRecords" parameterType="int" resultType="com.shfb.rfid.manage.entity.Record">
		SELECT * FROM `record`
		<where>
			<if test="keyword != null">
				car_num like "%"#{keyword}"%"
			</if>
			<if test="startTime!=null and startTime!=''">
                AND leave_time &gt;= #{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                AND leave_time &lt;= #{endTime}
            </if>
                AND (car_num is NULL or car_num = '') AND entry_time is not NULL AND entry_time != ''
                AND (leave_time is NULL or leave_time = '')
		</where>
		order by `leave_time` desc
	</select>
	
	 <select id="findAllErrorLeaveRecords" parameterType="int" resultType="com.shfb.rfid.manage.entity.Record">
		SELECT * FROM `record`
		<where>
			<if test="keyword != null">
				car_num like "%"#{keyword}"%"
			</if>
			<if test="startTime!=null and startTime!=''">
                AND leave_time &gt;= #{startTime}
            </if>
            <if test="endTime!=null and endTime!=''">
                AND leave_time &lt;= #{endTime}
            </if>
                AND (car_num is NULL or car_num = '') AND leave_time is not NULL AND leave_time != ''
                AND (entry_time is NULL or entry_time = '')
		</where>
		order by `leave_time` desc
	</select>
	
	<select id="findMergeRecord" parameterType="map" resultType="com.shfb.rfid.manage.entity.Record">
		SELECT * from record WHERE car_num = #{carNum} AND entry_time is not NULL AND entry_time != '' AND (leave_time is NULL OR leave_time = '')
		AND entry_time &lt;= #{leaveTime} ORDER BY entry_time DESC limit 0,1
	</select>
	
	<select id="findFirstRecord" parameterType="map" resultType="com.shfb.rfid.manage.entity.Record">
		SELECT * from record WHERE entry_time is not NULL AND entry_time != '' ORDER BY entry_time DESC limit 0,1
	</select>
	
	<select id="numEntryStatistics" resultType="com.shfb.rfid.manage.dto.CarNumDto">
		SELECT LEFT(entry_time,10) AS sta_date, COUNT(entry_time) AS car_num FROM record WHERE entry_time is not null  GROUP BY  LEFT(entry_time,10)
	</select>
	<select id="numLeaveStatistics" resultType="com.shfb.rfid.manage.dto.CarNumDto">
		SELECT LEFT(leave_time,10) AS sta_date, COUNT(leave_time) AS car_num FROM record WHERE leave_time is not null  GROUP BY  LEFT(leave_time,10)
	</select>
	<select id="selectEntryRecord" resultType="com.shfb.rfid.manage.entity.Record">
		SELECT *from record WHERE car_num=#{car_num} AND leave_time is null ORDER BY entry_time desc LIMIT 0,1;
	</select>
	
	<select id="selectCarNum" resultType="com.shfb.rfid.manage.entity.Record">
		SELECT * FROM record WHERE car_num=#{car_num} ORDER BY entry_time DESC LIMIT 0,1
	</select>
	
	<select id="weightEntryStatistics" resultType="com.shfb.rfid.manage.dto.CarNumDto">
		SELECT LEFT(entry_time,10) AS sta_date, SUM(entry_weight) AS car_num FROM record WHERE entry_time is not null  GROUP BY  LEFT(entry_time,10)
	</select>
	<select id="weightLeaveStatistics" resultType="com.shfb.rfid.manage.dto.CarNumDto">
		SELECT LEFT(leave_time,10) AS sta_date, SUM(leave_weight) AS car_num FROM record WHERE leave_time is not null  GROUP BY  LEFT(leave_time,10)
	</select>
	
</mapper>